TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.CWoormInfo_MailBody.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.CWoormInfo_MailBody" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.CWoormInfo_MailBody" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="body" nillable="true" type="xs:string" />
  <xs:element name="isHtml" type="xs:boolean" />
</xs:schema>