TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.PostaLiteSetSendType1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.PostaLiteSetSendType" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.PostaLiteSetSendType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DeliveryType" type="xs:int" />
  <xs:element name="PrintType" type="xs:int" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>