TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.CWoormDoc_Print.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.CWoormDoc_Print" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.CWoormDoc_Print" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="bClose" type="xs:boolean" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>