TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.MailSend.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.MailSend" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.MailSend" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AttachRDE" type="xs:boolean" />
  <xs:element name="AttachPDF" type="xs:boolean" />
  <xs:element name="Compress" type="xs:boolean" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>