TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.PostaLiteSetAddressee1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.PostaLiteSetAddressee" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.PostaLiteSetAddressee" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Addressee" nillable="true" type="xs:string" />
  <xs:element name="Address" nillable="true" type="xs:string" />
  <xs:element name="City" nillable="true" type="xs:string" />
  <xs:element name="County" nillable="true" type="xs:string" />
  <xs:element name="Country" nillable="true" type="xs:string" />
  <xs:element name="ZipCode" nillable="true" type="xs:string" />
  <xs:element name="Fax" nillable="true" type="xs:string" />
  <xs:element name="ISOCode" nillable="true" type="xs:string" />
  <xs:element name="append" type="xs:boolean" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>