TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.CWoormInfo_MailAttach.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.CWoormInfo_MailAttach" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.CWoormInfo_MailAttach" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="file" nillable="true" type="xs:string" />
  <xs:element name="title" nillable="true" type="xs:string" />
</xs:schema>