TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.RunProgram.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.RunProgram" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.RunProgram" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cmd" nillable="true" type="xs:string" />
  <xs:element name="cmdLine" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>