TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.QuerySetConnection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.QuerySetConnection" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.QuerySetConnection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="queryName" nillable="true" type="xs:string" />
  <xs:element name="connection" type="xs:int" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>