TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.ConnectionUnlockRecord1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.ConnectionUnlockRecord" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.ConnectionUnlockRecord" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Connection" type="xs:int" />
  <xs:element name="Table" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>