TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.CWoormInfo_SetAttachOther.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.CWoormInfo_SetAttachOther" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.CWoormInfo_SetAttachOther" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="attachOther" type="xs:boolean" />
  <xs:element name="expType" nillable="true" type="xs:string" />
</xs:schema>