TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.GetDocumentMethods.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.GetDocumentMethods" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.GetDocumentMethods" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="handleDoc" type="xs:int" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="arMethods" nillable="true" type="q1:ArrayOfstring" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>