TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.SendMail1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.SendMail" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.SendMail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="From" nillable="true" type="xs:string" />
  <xs:element name="To" nillable="true" type="xs:string" />
  <xs:element name="Cc" nillable="true" type="xs:string" />
  <xs:element name="Bcc" nillable="true" type="xs:string" />
  <xs:element name="Subject" nillable="true" type="xs:string" />
  <xs:element name="Body" nillable="true" type="xs:string" />
  <xs:element name="Attachments" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>