TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.ExpandTemplate1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.ExpandTemplate" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.ExpandTemplate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sourceNamespace" nillable="true" type="xs:string" />
  <xs:element name="targetNamespace" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>