TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbWoormViewerInterface/Microarea.Web.Services.MailSetSubject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.MailSetSubject" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.MailSetSubject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Subject" nillable="true" type="xs:string" />
  <xs:element name="Append" type="xs:boolean" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>