TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/ErpCreditLimitComponents/CreditLimitComponents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:Microarea.Web.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditLimitComponents" targetNamespace="urn:Microarea.Web.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Microarea.Web.Services/Imports">
      <xsd:import schemaLocation="http://usr-giaccherin2:10000/ERP.CreditLimit.Components?xsd=xsd1" namespace="urn:Microarea.Web.Services" />
      <xsd:import schemaLocation="http://usr-giaccherin2:10000/ERP.CreditLimit.Components?xsd=xsd2" namespace="urn:Microarea.Web.Services.CreditLimitManager_Create" />
      <xsd:import schemaLocation="http://usr-giaccherin2:10000/ERP.CreditLimit.Components?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" />
      <xsd:import schemaLocation="http://usr-giaccherin2:10000/ERP.CreditLimit.Components?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://usr-giaccherin2:10000/ERP.CreditLimit.Components?xsd=xsd4" namespace="urn:Microarea.Web.Services.CreditLimitManager_Dispose" />
      <xsd:import schemaLocation="http://usr-giaccherin2:10000/ERP.CreditLimit.Components?xsd=xsd5" namespace="urn:Microarea.Web.Services.CreditLimitManager_ExposureEffectsOnTurnover" />
      <xsd:import schemaLocation="http://usr-giaccherin2:10000/ERP.CreditLimit.Components?xsd=xsd6" namespace="urn:Microarea.Web.Services.CreditLimitManager_ExposureEffectsOnOtherPayments" />
      <xsd:import schemaLocation="http://usr-giaccherin2:10000/ERP.CreditLimit.Components?xsd=xsd7" namespace="urn:Microarea.Web.Services.CreditLimitManager_GetData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreditLimitManager_CreateIn" />
  <wsdl:message name="CreditLimitManager_CreateIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_CreateOut">
    <wsdl:part xmlns:q1="urn:Microarea.Web.Services.CreditLimitManager_Create" name="return" element="q1:return" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_CreateOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CreditLimitComponents_CreditLimitManager_Create_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q2:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_DisposeIn">
    <wsdl:part xmlns:q3="urn:Microarea.Web.Services.CreditLimitManager_Dispose" name="handle" element="q3:handle" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_DisposeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_DisposeOut">
    <wsdl:part xmlns:q4="urn:Microarea.Web.Services.CreditLimitManager_Dispose" name="return" element="q4:return" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_DisposeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CreditLimitComponents_CreditLimitManager_Dispose_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q5:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_ExposureEffectsOnTurnoverIn">
    <wsdl:part xmlns:q6="urn:Microarea.Web.Services.CreditLimitManager_ExposureEffectsOnTurnover" name="handle" element="q6:handle" />
    <wsdl:part xmlns:q7="urn:Microarea.Web.Services.CreditLimitManager_ExposureEffectsOnTurnover" name="Customer" element="q7:Customer" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_ExposureEffectsOnTurnoverIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_ExposureEffectsOnTurnoverOut">
    <wsdl:part xmlns:q8="urn:Microarea.Web.Services.CreditLimitManager_ExposureEffectsOnTurnover" name="return" element="q8:return" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_ExposureEffectsOnTurnoverOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CreditLimitComponents_CreditLimitManager_ExposureEffectsOnTurnover_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q9:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_ExposureEffectsOnOtherPaymentsIn">
    <wsdl:part xmlns:q10="urn:Microarea.Web.Services.CreditLimitManager_ExposureEffectsOnOtherPayments" name="handle" element="q10:handle" />
    <wsdl:part xmlns:q11="urn:Microarea.Web.Services.CreditLimitManager_ExposureEffectsOnOtherPayments" name="Customer" element="q11:Customer" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_ExposureEffectsOnOtherPaymentsIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_ExposureEffectsOnOtherPaymentsOut">
    <wsdl:part xmlns:q12="urn:Microarea.Web.Services.CreditLimitManager_ExposureEffectsOnOtherPayments" name="return" element="q12:return" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_ExposureEffectsOnOtherPaymentsOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CreditLimitComponents_CreditLimitManager_ExposureEffectsOnOtherPayments_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q13:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_GetDataIn">
    <wsdl:part xmlns:q14="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="handle" element="q14:handle" />
    <wsdl:part xmlns:q15="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="Customer" element="q15:Customer" />
    <wsdl:part xmlns:q16="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="CreditLimitManage" element="q16:CreditLimitManage" />
    <wsdl:part xmlns:q17="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="Blocked" element="q17:Blocked" />
    <wsdl:part xmlns:q18="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="OrderedExposure" element="q18:OrderedExposure" />
    <wsdl:part xmlns:q19="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="OrderedMargin" element="q19:OrderedMargin" />
    <wsdl:part xmlns:q20="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="TotalExposure" element="q20:TotalExposure" />
    <wsdl:part xmlns:q21="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="TotalExposureMargin" element="q21:TotalExposureMargin" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_GetDataIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_GetDataOut">
    <wsdl:part xmlns:q22="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="return" element="q22:return" />
    <wsdl:part xmlns:q23="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="Customer" element="q23:Customer" />
    <wsdl:part xmlns:q24="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="CreditLimitManage" element="q24:CreditLimitManage" />
    <wsdl:part xmlns:q25="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="Blocked" element="q25:Blocked" />
    <wsdl:part xmlns:q26="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="OrderedExposure" element="q26:OrderedExposure" />
    <wsdl:part xmlns:q27="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="OrderedMargin" element="q27:OrderedMargin" />
    <wsdl:part xmlns:q28="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="TotalExposure" element="q28:TotalExposure" />
    <wsdl:part xmlns:q29="urn:Microarea.Web.Services.CreditLimitManager_GetData" name="TotalExposureMargin" element="q29:TotalExposureMargin" />
  </wsdl:message>
  <wsdl:message name="CreditLimitManager_GetDataOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CreditLimitComponents_CreditLimitManager_GetData_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q30:TBSoapFault" />
  </wsdl:message>
  <wsdl:portType name="CreditLimitComponents">
    <wsdl:operation name="CreditLimitManager_Create">
      <wsdl:input wsaw:Action="#CreditLimitManager_Create" name="CreditLimitManager_CreateIn" message="tns:CreditLimitManager_CreateIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/CreditLimitComponents/CreditLimitManager_CreateResponse" name="CreditLimitManager_CreateOut" message="tns:CreditLimitManager_CreateOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/CreditLimitComponents/CreditLimitManager_CreateTBSoapFaultFault" name="TBSoapFaultFault" message="tns:CreditLimitComponents_CreditLimitManager_Create_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreditLimitManager_Dispose">
      <wsdl:input wsaw:Action="#CreditLimitManager_Dispose" name="CreditLimitManager_DisposeIn" message="tns:CreditLimitManager_DisposeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/CreditLimitComponents/CreditLimitManager_DisposeResponse" name="CreditLimitManager_DisposeOut" message="tns:CreditLimitManager_DisposeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/CreditLimitComponents/CreditLimitManager_DisposeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:CreditLimitComponents_CreditLimitManager_Dispose_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreditLimitManager_ExposureEffectsOnTurnover">
      <wsdl:input wsaw:Action="#CreditLimitManager_ExposureEffectsOnTurnover" name="CreditLimitManager_ExposureEffectsOnTurnoverIn" message="tns:CreditLimitManager_ExposureEffectsOnTurnoverIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/CreditLimitComponents/CreditLimitManager_ExposureEffectsOnTurnoverResponse" name="CreditLimitManager_ExposureEffectsOnTurnoverOut" message="tns:CreditLimitManager_ExposureEffectsOnTurnoverOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/CreditLimitComponents/CreditLimitManager_ExposureEffectsOnTurnoverTBSoapFaultFault" name="TBSoapFaultFault" message="tns:CreditLimitComponents_CreditLimitManager_ExposureEffectsOnTurnover_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreditLimitManager_ExposureEffectsOnOtherPayments">
      <wsdl:input wsaw:Action="#CreditLimitManager_ExposureEffectsOnOtherPayments" name="CreditLimitManager_ExposureEffectsOnOtherPaymentsIn" message="tns:CreditLimitManager_ExposureEffectsOnOtherPaymentsIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/CreditLimitComponents/CreditLimitManager_ExposureEffectsOnOtherPaymentsResponse" name="CreditLimitManager_ExposureEffectsOnOtherPaymentsOut" message="tns:CreditLimitManager_ExposureEffectsOnOtherPaymentsOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/CreditLimitComponents/CreditLimitManager_ExposureEffectsOnOtherPaymentsTBSoapFaultFault" name="TBSoapFaultFault" message="tns:CreditLimitComponents_CreditLimitManager_ExposureEffectsOnOtherPayments_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreditLimitManager_GetData">
      <wsdl:input wsaw:Action="#CreditLimitManager_GetData" name="CreditLimitManager_GetDataIn" message="tns:CreditLimitManager_GetDataIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/CreditLimitComponents/CreditLimitManager_GetDataResponse" name="CreditLimitManager_GetDataOut" message="tns:CreditLimitManager_GetDataOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/CreditLimitComponents/CreditLimitManager_GetDataTBSoapFaultFault" name="TBSoapFaultFault" message="tns:CreditLimitComponents_CreditLimitManager_GetData_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditLimitComponentsSoap" type="tns:CreditLimitComponents">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreditLimitManager_Create">
      <soap:operation soapAction="#CreditLimitManager_Create" style="document" />
      <wsdl:input name="CreditLimitManager_CreateIn">
        <soap:header message="tns:CreditLimitManager_CreateIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreditLimitManager_CreateOut">
        <soap:header message="tns:CreditLimitManager_CreateOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreditLimitManager_Dispose">
      <soap:operation soapAction="#CreditLimitManager_Dispose" style="document" />
      <wsdl:input name="CreditLimitManager_DisposeIn">
        <soap:header message="tns:CreditLimitManager_DisposeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreditLimitManager_DisposeOut">
        <soap:header message="tns:CreditLimitManager_DisposeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreditLimitManager_ExposureEffectsOnTurnover">
      <soap:operation soapAction="#CreditLimitManager_ExposureEffectsOnTurnover" style="document" />
      <wsdl:input name="CreditLimitManager_ExposureEffectsOnTurnoverIn">
        <soap:header message="tns:CreditLimitManager_ExposureEffectsOnTurnoverIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreditLimitManager_ExposureEffectsOnTurnoverOut">
        <soap:header message="tns:CreditLimitManager_ExposureEffectsOnTurnoverOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreditLimitManager_ExposureEffectsOnOtherPayments">
      <soap:operation soapAction="#CreditLimitManager_ExposureEffectsOnOtherPayments" style="document" />
      <wsdl:input name="CreditLimitManager_ExposureEffectsOnOtherPaymentsIn">
        <soap:header message="tns:CreditLimitManager_ExposureEffectsOnOtherPaymentsIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreditLimitManager_ExposureEffectsOnOtherPaymentsOut">
        <soap:header message="tns:CreditLimitManager_ExposureEffectsOnOtherPaymentsOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreditLimitManager_GetData">
      <soap:operation soapAction="#CreditLimitManager_GetData" style="document" />
      <wsdl:input name="CreditLimitManager_GetDataIn">
        <soap:header message="tns:CreditLimitManager_GetDataIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreditLimitManager_GetDataOut">
        <soap:header message="tns:CreditLimitManager_GetDataOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditLimitComponents">
    <wsdl:port name="CreditLimitComponentsSoap" binding="tns:CreditLimitComponentsSoap">
      <soap:address location="http://usr-giaccherin2:10000/ERP.CreditLimit.Components/CreditLimitComponents" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>