TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/ErpCreditLimitComponents/ERP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.CreditLimitManager_ExposureEffectsOnOtherPayments" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.CreditLimitManager_ExposureEffectsOnOtherPayments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="Customer" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:double" />
</xs:schema>