TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/ErpCreditLimitComponents/ERP6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.CreditLimitManager_GetData" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.CreditLimitManager_GetData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="Customer" nillable="true" type="xs:string" />
  <xs:element name="CreditLimitManage" type="xs:boolean" />
  <xs:element name="Blocked" type="xs:boolean" />
  <xs:element name="OrderedExposure" type="xs:double" />
  <xs:element name="OrderedMargin" type="xs:double" />
  <xs:element name="TotalExposure" type="xs:double" />
  <xs:element name="TotalExposureMargin" type="xs:double" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>