TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.WebProxyObj_GetComboItems.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.WebProxyObj_GetComboItems" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.WebProxyObj_GetComboItems" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="handle" type="xs:int" />
  <xs:element name="WindowId" nillable="true" type="xs:string" />
  <xs:element name="SelectedIndex" type="xs:int" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="return" nillable="true" type="q1:ArrayOfstring" />
</xs:schema>