TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.GetHotlinkQuery.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.GetHotlinkQuery" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.GetHotlinkQuery" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hotLinkNamespace" nillable="true" type="xs:string" />
  <xs:element name="arguments" nillable="true" type="xs:string" />
  <xs:element name="action" type="xs:int" />
  <xs:element name="return" nillable="true" type="xs:string" />
</xs:schema>