TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.WebProxyObj_ClickContextMenuAction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.WebProxyObj_ClickContextMenuAction" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.WebProxyObj_ClickContextMenuAction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="WindowId" nillable="true" type="xs:string" />
  <xs:element name="ItemID" type="xs:int" />
  <xs:element name="CommandType" type="xs:int" />
  <xs:element name="Description" nillable="true" type="xs:base64Binary" />
</xs:schema>