TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.WebProxyObj_DoKeyAction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.WebProxyObj_DoKeyAction" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.WebProxyObj_DoKeyAction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="WindowId" nillable="true" type="xs:string" />
  <xs:element name="keyCode" type="xs:int" />
  <xs:element name="bShift" type="xs:boolean" />
  <xs:element name="bCtrl" type="xs:boolean" />
  <xs:element name="bAlt" type="xs:boolean" />
  <xs:element name="Description" nillable="true" type="xs:base64Binary" />
</xs:schema>