TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.CAbstractFormDoc_PressToolbarButton.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.CAbstractFormDoc_PressToolbarButton" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.CAbstractFormDoc_PressToolbarButton" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="buttonName" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>