TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.WebProxyObj_GetTreeViewAdvContextMenu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.WebProxyObj_GetTreeViewAdvContextMenu" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.WebProxyObj_GetTreeViewAdvContextMenu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="MenuDescription" nillable="true" type="xs:base64Binary" />
  <xs:element name="TreeId" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>