TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.CAbstractFormDoc_GetHotLinkValue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.CAbstractFormDoc_GetHotLinkValue" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.CAbstractFormDoc_GetHotLinkValue" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="aCtrlNamespace" nillable="true" type="xs:string" />
  <xs:element name="aHotLinkFieldName" nillable="true" type="xs:string" />
  <xs:element name="return" nillable="true" type="xs:string" />
</xs:schema>