TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.RunReportInUnattendedMode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.RunReportInUnattendedMode" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.RunReportInUnattendedMode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="woormInfoHandle" type="xs:int" />
  <xs:element name="xmlParams" nillable="true" type="xs:string" />
  <xs:element name="reportHandle" type="xs:int" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="messages" nillable="true" type="q1:ArrayOfstring" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>