TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.CAbstractFormDoc_SetFieldValue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.CAbstractFormDoc_SetFieldValue" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.CAbstractFormDoc_SetFieldValue" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="aDBTNamespace" nillable="true" type="xs:string" />
  <xs:element name="aFieldName" nillable="true" type="xs:string" />
  <xs:element name="nRow" type="xs:int" />
  <xs:element name="aValue" nillable="true" type="xs:string" />
</xs:schema>