TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.GetCurrentUser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.GetCurrentUser" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.GetCurrentUser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="strUser" nillable="true" type="xs:string" />
  <xs:element name="strCompany" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>