TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.RunFunction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.RunFunction" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.RunFunction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="functionNamespace" nillable="true" type="xs:string" />
  <xs:element name="arguments" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>