TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.HotKeyLink_SetParamValue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.HotKeyLink_SetParamValue" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.HotKeyLink_SetParamValue" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="name" nillable="true" type="xs:string" />
  <xs:element name="value" type="xs:int" />
</xs:schema>