TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.GetReportParameters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.GetReportParameters" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.GetReportParameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reportNamespace" nillable="true" type="xs:string" />
  <xs:element name="xmlParams" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>