TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.CreateWebProxyForThread.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.CreateWebProxyForThread" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.CreateWebProxyForThread" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ThreadID" type="xs:int" />
  <xs:element name="Description" nillable="true" type="xs:base64Binary" />
  <xs:element name="return" type="xs:int" />
</xs:schema>