TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.GetApplicationContextMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.GetApplicationContextMessages" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.GetApplicationContextMessages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="clearMessages" type="xs:boolean" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="messages" nillable="true" type="q1:ArrayOfstring" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="types" nillable="true" type="q2:ArrayOfint" />
</xs:schema>