TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.RunReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.RunReport" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.RunReport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reportNamespace" nillable="true" type="xs:string" />
  <xs:element name="arguments" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:int" />
</xs:schema>