TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbGesInterface/Microarea.Web.Services.WebProxyObj_OpenDropdownBtn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.WebProxyObj_OpenDropdownBtn" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.WebProxyObj_OpenDropdownBtn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="WindowId" nillable="true" type="xs:string" />
  <xs:element name="CommandId" type="xs:int" />
</xs:schema>