Tools/ClickOnceDeployer/ManifestGenerator/ClientSetup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microarea.it/clientsetup" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ClientSetupDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Application" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Folders" minOccurs="1" maxOccurs ="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" minOccurs="1" name="Folder">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
												<xs:attribute name="optional" type="xs:boolean" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Prerequisites" minOccurs="1" maxOccurs ="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="Folder">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="title" type="xs:string" use="required" />
						<xs:attribute name="publisher" type="xs:string" use="required" />
						<xs:attribute name="officeAddin" type="xs:boolean" use="optional" />
            <xs:attribute name="prependPublisherToAppTitle" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>