WebFramework/EasyAttachmentSync/Service References/BBServiceReference/APMServiceClient1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.WorkflowObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.WorkflowObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/APMServiceClient?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ConnectionReference">
    <xs:sequence>
      <xs:element name="_ApplicationProviderID" type="ser:guid" />
      <xs:element name="_Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionReference" nillable="true" type="tns:ConnectionReference" />
  <xs:simpleType name="WorkflowStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Scheduled" />
      <xs:enumeration value="Running" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Canceled" />
      <xs:enumeration value="Resumable" />
      <xs:enumeration value="Failed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkflowStatus" nillable="true" type="tns:WorkflowStatus" />
  <xs:complexType name="APMObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="APMObject" nillable="true" type="tns:APMObject" />
</xs:schema>