WebFramework/EasyAttachmentSync/Service References/BBServiceReference/APMServiceClient2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/APMServiceClient?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PAT.Workflow.Runtime.Services" />
  <xs:import schemaLocation="http://localhost:8081/APMServiceClient?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8081/APMServiceClient?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8081/APMServiceClient?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.WorkflowObjects.Forms.Metadata" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PAT.Workflow.Runtime.Services" minOccurs="0" name="Context" nillable="true" type="q1:WorkflowContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchEventForDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PAT.Workflow.Runtime.Services" minOccurs="0" name="Context" nillable="true" type="q2:WorkflowContext" />
        <xs:element minOccurs="0" name="DefinitionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchEventForDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DispatchEventForDefinitionResult" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchEventForDefinitionByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PAT.Workflow.Runtime.Services" minOccurs="0" name="Context" nillable="true" type="q4:WorkflowContext" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DefinitionIdentifier" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchEventForDefinitionByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DispatchEventForDefinitionByIdentifierResult" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveOldWorkflows">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="span" type="q7:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveOldWorkflowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArchiveOldWorkflowsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveArchivedWorkflows">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="span" type="q8:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveArchivedWorkflowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveArchivedWorkflowsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="InstanceID" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TerminateWorkflowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="InstanceID" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelWorkflowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="InstanceID" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestartWorkflowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateWorkflows">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InstanceIDs" nillable="true" type="q12:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateWorkflowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TerminateWorkflowsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelWorkflows">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InstanceIDs" nillable="true" type="q13:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelWorkflowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelWorkflowsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartWorkflows">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InstanceIDs" nillable="true" type="q14:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartWorkflowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestartWorkflowsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeBookmark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="InstanceID" type="q15:guid" />
        <xs:element minOccurs="0" name="BookmarkName" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BookmarkContext" nillable="true" type="q16:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeBookmarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResumeBookmarkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeBookmarkByExternalCorrelationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CorrelationID" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BookmarkContext" nillable="true" type="q17:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeBookmarkByExternalCorrelationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResumeBookmarkByExternalCorrelationIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PAT.Workflow.Runtime.Services" minOccurs="0" name="Context" nillable="true" type="q18:WorkflowContext" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DefinitionIdentifier" type="q19:guid" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PAT.Workflow.Runtime.Services" minOccurs="0" name="AppContext" nillable="true" type="q20:ApplicationContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateWorkflowResult" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="WorkflowID" type="q22:guid" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NotificationURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="WorkflowID" type="q23:guid" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnSubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkFlowInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="WorkflowID" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkFlowInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PAT.Workflow.Runtime.Services" minOccurs="0" name="GetWorkFlowInfoResult" nillable="true" type="q25:WorkFlowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkFlowsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ObjectID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkFlowsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PAT.Workflow.Runtime.Services" minOccurs="0" name="GetWorkFlowsInfoResult" nillable="true" type="q26:ArrayOfWorkFlowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormInstanceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.WorkflowObjects.Forms.Metadata" minOccurs="0" name="GetFormSchemaResult" nillable="true" type="q27:SchemaMetadata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFormSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.WorkflowObjects.Forms.Metadata" minOccurs="0" name="SchemaMetadata" nillable="true" type="q28:SchemaMetadata" />
        <xs:element minOccurs="0" name="FormInstanceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFormSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFormSchemaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormInstances">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IncludeProcessed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PAT.Workflow.Runtime.Services" minOccurs="0" name="GetFormInstancesResult" nillable="true" type="q29:ArrayOfFormInstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormInstanceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PAT.Workflow.Runtime.Services" minOccurs="0" name="GetFormInstanceResult" nillable="true" type="q30:FormInstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>