WebFramework/EasyAttachmentSync/Service References/BBServiceReference/WorkflowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorkflowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/APMServiceClient?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/APMServiceClient?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/APMServiceClient?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PAT.Workflow.Runtime.Services" />
      <xsd:import schemaLocation="http://localhost:8081/APMServiceClient?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8081/APMServiceClient?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.WorkflowObjects" />
      <xsd:import schemaLocation="http://localhost:8081/APMServiceClient?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.WorkflowObjects.Forms.Metadata" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorkflowService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DispatchEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DispatchEvent" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DispatchEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DispatchEventResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DispatchEventForDefinition_InputMessage">
    <wsdl:part name="parameters" element="tns:DispatchEventForDefinition" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DispatchEventForDefinition_OutputMessage">
    <wsdl:part name="parameters" element="tns:DispatchEventForDefinitionResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DispatchEventForDefinitionByIdentifier_InputMessage">
    <wsdl:part name="parameters" element="tns:DispatchEventForDefinitionByIdentifier" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DispatchEventForDefinitionByIdentifier_OutputMessage">
    <wsdl:part name="parameters" element="tns:DispatchEventForDefinitionByIdentifierResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ArchiveOldWorkflows_InputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveOldWorkflows" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ArchiveOldWorkflows_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveOldWorkflowsResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_RemoveArchivedWorkflows_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveArchivedWorkflows" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_RemoveArchivedWorkflows_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveArchivedWorkflowsResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_TerminateWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminateWorkflow" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_TerminateWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminateWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_CancelWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelWorkflow" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_CancelWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_RestartWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:RestartWorkflow" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_RestartWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestartWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_TerminateWorkflows_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminateWorkflows" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_TerminateWorkflows_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminateWorkflowsResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_CancelWorkflows_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelWorkflows" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_CancelWorkflows_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelWorkflowsResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_RestartWorkflows_InputMessage">
    <wsdl:part name="parameters" element="tns:RestartWorkflows" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_RestartWorkflows_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestartWorkflowsResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ResumeBookmark_InputMessage">
    <wsdl:part name="parameters" element="tns:ResumeBookmark" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ResumeBookmark_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResumeBookmarkResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ResumeBookmarkByExternalCorrelationID_InputMessage">
    <wsdl:part name="parameters" element="tns:ResumeBookmarkByExternalCorrelationID" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ResumeBookmarkByExternalCorrelationID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResumeBookmarkByExternalCorrelationIDResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_CreateWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateWorkflow" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_CreateWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_UnSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetWorkFlowInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkFlowInfo" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetWorkFlowInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkFlowInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetWorkFlowsInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkFlowsInfo" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetWorkFlowsInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkFlowsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetFormSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFormSchema" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetFormSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFormSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_SetFormSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFormSchema" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_SetFormSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFormSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetFormInstances_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFormInstances" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetFormInstances_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFormInstancesResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetFormInstance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFormInstance" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetFormInstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFormInstanceResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorkflowService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/Ping" message="tns:IWorkflowService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/PingResponse" message="tns:IWorkflowService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DispatchEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/DispatchEvent" message="tns:IWorkflowService_DispatchEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/DispatchEventResponse" message="tns:IWorkflowService_DispatchEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DispatchEventForDefinition">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/DispatchEventForDefinition" message="tns:IWorkflowService_DispatchEventForDefinition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/DispatchEventForDefinitionResponse" message="tns:IWorkflowService_DispatchEventForDefinition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DispatchEventForDefinitionByIdentifier">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/DispatchEventForDefinitionByIdentifier" message="tns:IWorkflowService_DispatchEventForDefinitionByIdentifier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/DispatchEventForDefinitionByIdentifierResponse" message="tns:IWorkflowService_DispatchEventForDefinitionByIdentifier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchiveOldWorkflows">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/ArchiveOldWorkflows" message="tns:IWorkflowService_ArchiveOldWorkflows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/ArchiveOldWorkflowsResponse" message="tns:IWorkflowService_ArchiveOldWorkflows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveArchivedWorkflows">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/RemoveArchivedWorkflows" message="tns:IWorkflowService_RemoveArchivedWorkflows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/RemoveArchivedWorkflowsResponse" message="tns:IWorkflowService_RemoveArchivedWorkflows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminateWorkflow">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/TerminateWorkflow" message="tns:IWorkflowService_TerminateWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/TerminateWorkflowResponse" message="tns:IWorkflowService_TerminateWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelWorkflow">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/CancelWorkflow" message="tns:IWorkflowService_CancelWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/CancelWorkflowResponse" message="tns:IWorkflowService_CancelWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestartWorkflow">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/RestartWorkflow" message="tns:IWorkflowService_RestartWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/RestartWorkflowResponse" message="tns:IWorkflowService_RestartWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminateWorkflows">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/TerminateWorkflows" message="tns:IWorkflowService_TerminateWorkflows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/TerminateWorkflowsResponse" message="tns:IWorkflowService_TerminateWorkflows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelWorkflows">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/CancelWorkflows" message="tns:IWorkflowService_CancelWorkflows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/CancelWorkflowsResponse" message="tns:IWorkflowService_CancelWorkflows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestartWorkflows">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/RestartWorkflows" message="tns:IWorkflowService_RestartWorkflows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/RestartWorkflowsResponse" message="tns:IWorkflowService_RestartWorkflows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResumeBookmark">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/ResumeBookmark" message="tns:IWorkflowService_ResumeBookmark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/ResumeBookmarkResponse" message="tns:IWorkflowService_ResumeBookmark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResumeBookmarkByExternalCorrelationID">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/ResumeBookmarkByExternalCorrelationID" message="tns:IWorkflowService_ResumeBookmarkByExternalCorrelationID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/ResumeBookmarkByExternalCorrelationIDResponse" message="tns:IWorkflowService_ResumeBookmarkByExternalCorrelationID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateWorkflow">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/CreateWorkflow" message="tns:IWorkflowService_CreateWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/CreateWorkflowResponse" message="tns:IWorkflowService_CreateWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/Subscribe" message="tns:IWorkflowService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/SubscribeResponse" message="tns:IWorkflowService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/UnSubscribe" message="tns:IWorkflowService_UnSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/UnSubscribeResponse" message="tns:IWorkflowService_UnSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkFlowInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/GetWorkFlowInfo" message="tns:IWorkflowService_GetWorkFlowInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/GetWorkFlowInfoResponse" message="tns:IWorkflowService_GetWorkFlowInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkFlowsInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/GetWorkFlowsInfo" message="tns:IWorkflowService_GetWorkFlowsInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/GetWorkFlowsInfoResponse" message="tns:IWorkflowService_GetWorkFlowsInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFormSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/GetFormSchema" message="tns:IWorkflowService_GetFormSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/GetFormSchemaResponse" message="tns:IWorkflowService_GetFormSchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFormSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/SetFormSchema" message="tns:IWorkflowService_SetFormSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/SetFormSchemaResponse" message="tns:IWorkflowService_SetFormSchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFormInstances">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/GetFormInstances" message="tns:IWorkflowService_GetFormInstances_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/GetFormInstancesResponse" message="tns:IWorkflowService_GetFormInstances_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFormInstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/GetFormInstance" message="tns:IWorkflowService_GetFormInstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/GetFormInstanceResponse" message="tns:IWorkflowService_GetFormInstance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWorkflowService" type="tns:IWorkflowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DispatchEvent">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/DispatchEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DispatchEventForDefinition">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/DispatchEventForDefinition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DispatchEventForDefinitionByIdentifier">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/DispatchEventForDefinitionByIdentifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArchiveOldWorkflows">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/ArchiveOldWorkflows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveArchivedWorkflows">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/RemoveArchivedWorkflows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminateWorkflow">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/TerminateWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelWorkflow">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/CancelWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestartWorkflow">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/RestartWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminateWorkflows">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/TerminateWorkflows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelWorkflows">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/CancelWorkflows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestartWorkflows">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/RestartWorkflows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResumeBookmark">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/ResumeBookmark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResumeBookmarkByExternalCorrelationID">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/ResumeBookmarkByExternalCorrelationID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateWorkflow">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/CreateWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/UnSubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkFlowInfo">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/GetWorkFlowInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkFlowsInfo">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/GetWorkFlowsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormSchema">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/GetFormSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFormSchema">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/SetFormSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormInstances">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/GetFormInstances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormInstance">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/GetFormInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkflowService">
    <wsdl:port name="BasicHttpBinding_IWorkflowService" binding="tns:BasicHttpBinding_IWorkflowService">
      <soap:address location="http://localhost:8081/APMServiceClient" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>