TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/NotificationService/NotificationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NotificationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NotificationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DEVELOPMENT/NotificationService/NotificationService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MyBBFormSchema">
    <xs:sequence>
      <xs:element minOccurs="0" name="myBBFormInstance" nillable="true" type="tns:MyBBFormInstance" />
      <xs:element minOccurs="0" name="xmlSchema" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyBBFormSchema" nillable="true" type="tns:MyBBFormSchema" />
  <xs:complexType name="MyBBFormInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateProcessed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateSubmitted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormInstanceId" type="xs:int" />
      <xs:element minOccurs="0" name="IsNotificationOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Processed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkFlowId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyBBFormInstance" nillable="true" type="tns:MyBBFormInstance" />
  <xs:complexType name="ArrayOfMyBBFormInstance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyBBFormInstance" nillable="true" type="tns:MyBBFormInstance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyBBFormInstance" nillable="true" type="tns:ArrayOfMyBBFormInstance" />
</xs:schema>