TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/NotificationService/NotificationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DEVELOPMENT/NotificationService/NotificationService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Interfaces" />
  <xs:import schemaLocation="http://localhost/DEVELOPMENT/NotificationService/NotificationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NotificationService" />
  <xs:import schemaLocation="http://localhost/DEVELOPMENT/NotificationService/NotificationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PAT.CRM.Portal.BrainIntegration" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXSocketControllerUrl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXSocketControllerUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetXSocketControllerUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendIGenericNotify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Interfaces" minOccurs="0" name="notify" nillable="true" type="q1:GenericNotify" />
        <xs:element minOccurs="0" name="StoreOnDb" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendIGenericNotifyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIGenericNotify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element minOccurs="0" name="includeProcessed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIGenericNotifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Interfaces" minOccurs="0" name="GetAllIGenericNotifyResult" nillable="true" type="q2:ArrayOfGenericNotify" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotificationAsRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotificationAsReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNotificationAsReadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestInheritance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Interfaces" minOccurs="0" name="father" nillable="true" type="q3:Father" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestInheritanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Interfaces" minOccurs="0" name="TestInheritanceResult" nillable="true" type="q4:Father" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChatMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Interfaces" minOccurs="0" name="notify" nillable="true" type="q5:GenericNotify" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChatMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrainBusinessServiceUrl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrainBusinessServiceUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBrainBusinessServiceUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBrainBusinessServiceUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBrainBusinessServiceUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBrainBusinessServiceUrlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBBForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formInstanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBBFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NotificationService" minOccurs="0" name="GetBBFormResult" nillable="true" type="q6:MyBBFormSchema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBBForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NotificationService" minOccurs="0" name="myBBForm" nillable="true" type="q7:MyBBFormSchema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBBFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetBBFormResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBBFormInstances">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element minOccurs="0" name="includeProcessed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBBFormInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NotificationService" minOccurs="0" name="GetAllBBFormInstancesResult" nillable="true" type="q8:ArrayOfMyBBFormInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PAT.CRM.Portal.BrainIntegration" minOccurs="0" name="eventData" nillable="true" type="q9:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>