TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/NotificationService/NotificationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DEVELOPMENT/NotificationService/NotificationService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GenericNotify">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##local" processContents="skip" />
    </xs:sequence>
    <xs:attribute ref="ser:FactoryType" />
  </xs:complexType>
  <xs:element name="GenericNotify" nillable="true" type="tns:GenericNotify" />
  <xs:simpleType name="NotificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Generic" />
      <xs:enumeration value="BrainBusiness" />
      <xs:enumeration value="Chat" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NotificationType" nillable="true" type="tns:NotificationType" />
  <xs:complexType name="Child">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Father" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Child" nillable="true" type="tns:Child" />
  <xs:complexType name="Father">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##local" processContents="skip" />
    </xs:sequence>
    <xs:attribute ref="ser:FactoryType" />
  </xs:complexType>
  <xs:element name="Father" nillable="true" type="tns:Father" />
  <xs:complexType name="ArrayOfGenericNotify">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericNotify" nillable="true" type="tns:GenericNotify" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenericNotify" nillable="true" type="tns:ArrayOfGenericNotify" />
</xs:schema>