WebFramework/LoginManager/Service References/FatelWeb/fatelwV1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="urn:ws.fatelw.zucchetti.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="urn:ws.fatelw.zucchetti.it" targetNamespace="urn:ws.fatelw.zucchetti.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ws.fatelw.zucchetti.it">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="fatelwV1Return">
        <xsd:sequence>
          <xsd:element name="code" type="xsd:int" />
          <xsd:element name="message" nillable="true" type="xsd:string" />
          <xsd:element name="response" nillable="true" type="xsd:string" />
          <xsd:element name="token" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_string">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="fatelwV1Cedente">
        <xsd:sequence>
          <xsd:element name="attivo" nillable="true" type="xsd:string" />
          <xsd:element name="cap" nillable="true" type="xsd:string" />
          <xsd:element name="capitaleSociale" type="xsd:float" />
          <xsd:element name="codiceFiscale" nillable="true" type="xsd:string" />
          <xsd:element name="cognome" nillable="true" type="xsd:string" />
          <xsd:element name="comune" nillable="true" type="xsd:string" />
          <xsd:element name="dataAttivazione" nillable="true" type="xsd:string" />
          <xsd:element name="dataScadenza" nillable="true" type="xsd:string" />
          <xsd:element name="denominazione" nillable="true" type="xsd:string" />
          <xsd:element name="indirizzo" nillable="true" type="xsd:string" />
          <xsd:element name="localita" nillable="true" type="xsd:string" />
          <xsd:element name="nazione" nillable="true" type="xsd:string" />
          <xsd:element name="nome" nillable="true" type="xsd:string" />
          <xsd:element name="numeroCivico" nillable="true" type="xsd:string" />
          <xsd:element name="numeroRea" nillable="true" type="xsd:string" />
          <xsd:element name="numeroTelefono1" nillable="true" type="xsd:string" />
          <xsd:element name="numeroTelefono2" nillable="true" type="xsd:string" />
          <xsd:element name="prefissoTelefono1" nillable="true" type="xsd:string" />
          <xsd:element name="prefissoTelefono2" nillable="true" type="xsd:string" />
          <xsd:element name="provincia" nillable="true" type="xsd:string" />
          <xsd:element name="socioUnico" nillable="true" type="xsd:string" />
          <xsd:element name="statoLiquidazione" nillable="true" type="xsd:string" />
          <xsd:element name="tipoTelefono1" nillable="true" type="xsd:string" />
          <xsd:element name="tipoTelefono2" nillable="true" type="xsd:string" />
          <xsd:element name="ufficioRea" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getNotificationFileRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="file" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sendDocumentResponse">
    <wsdl:part name="sendDocumentReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="getCedenteRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="idPaese" type="xsd:string" />
    <wsdl:part name="idCodice" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDocumentFilesResponse">
    <wsdl:part name="getDocumentFilesReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="getStateRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="id" type="impl:ArrayOf_xsd_string" />
  </wsdl:message>
  <wsdl:message name="valDocumentRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="id" type="impl:ArrayOf_xsd_string" />
  </wsdl:message>
  <wsdl:message name="getDocumentsRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="id" type="impl:ArrayOf_xsd_string" />
  </wsdl:message>
  <wsdl:message name="getCedenteResponse">
    <wsdl:part name="getCedenteReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="delDocumentRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setCompletedResponse">
    <wsdl:part name="setCompletedReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="insCedenteResponse">
    <wsdl:part name="insCedenteReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="sendDocumentRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="fileName" type="xsd:string" />
    <wsdl:part name="file" type="xsd:base64Binary" />
    <wsdl:part name="hashFile" type="xsd:base64Binary" />
    <wsdl:part name="descriptor" type="xsd:base64Binary" />
    <wsdl:part name="hashDescriptor" type="xsd:base64Binary" />
    <wsdl:part name="isLast" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="insCedenteRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="idPaese" type="xsd:string" />
    <wsdl:part name="idCodice" type="xsd:string" />
    <wsdl:part name="cedente" type="impl:fatelwV1Cedente" />
  </wsdl:message>
  <wsdl:message name="getDocumentFilesRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="valDocumentResponse">
    <wsdl:part name="valDocumentReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="getDocumentFileRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDocumentsResponse">
    <wsdl:part name="getDocumentsReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="getNotificationFileResponse">
    <wsdl:part name="getNotificationFileReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="connectResponse">
    <wsdl:part name="connectReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="confDocumentRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="id" type="impl:ArrayOf_xsd_string" />
  </wsdl:message>
  <wsdl:message name="updCedenteResponse">
    <wsdl:part name="updCedenteReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="connectRequest">
    <wsdl:part name="userName" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="company" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updCedenteRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="idPaese" type="xsd:string" />
    <wsdl:part name="idCodice" type="xsd:string" />
    <wsdl:part name="cedente" type="impl:fatelwV1Cedente" />
  </wsdl:message>
  <wsdl:message name="getDocumentFileResponse">
    <wsdl:part name="getDocumentFileReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="sendDocumentsResponse">
    <wsdl:part name="sendDocumentsReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="disconnectResponse">
    <wsdl:part name="disconnectReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="setCompletedRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="id" type="impl:ArrayOf_xsd_string" />
  </wsdl:message>
  <wsdl:message name="delDocumentResponse">
    <wsdl:part name="delDocumentReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="disconnectRequest">
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="confDocumentResponse">
    <wsdl:part name="confDocumentReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="getStateResponse">
    <wsdl:part name="getStateReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:message name="signDocumentRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="id" type="impl:ArrayOf_xsd_string" />
  </wsdl:message>
  <wsdl:message name="sendDocumentsRequest">
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="fileName" type="xsd:string" />
    <wsdl:part name="file" type="xsd:base64Binary" />
    <wsdl:part name="hashFile" type="xsd:base64Binary" />
    <wsdl:part name="isLast" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="signDocumentResponse">
    <wsdl:part name="signDocumentReturn" type="impl:fatelwV1Return" />
  </wsdl:message>
  <wsdl:portType name="fatelwV1">
    <wsdl:operation name="connect" parameterOrder="userName password company">
      <wsdl:input name="connectRequest" message="impl:connectRequest" />
      <wsdl:output name="connectResponse" message="impl:connectResponse" />
    </wsdl:operation>
    <wsdl:operation name="disconnect" parameterOrder="token">
      <wsdl:input name="disconnectRequest" message="impl:disconnectRequest" />
      <wsdl:output name="disconnectResponse" message="impl:disconnectResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDocuments" parameterOrder="token id">
      <wsdl:input name="getDocumentsRequest" message="impl:getDocumentsRequest" />
      <wsdl:output name="getDocumentsResponse" message="impl:getDocumentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDocumentFile" parameterOrder="token id">
      <wsdl:input name="getDocumentFileRequest" message="impl:getDocumentFileRequest" />
      <wsdl:output name="getDocumentFileResponse" message="impl:getDocumentFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDocumentFiles" parameterOrder="token id">
      <wsdl:input name="getDocumentFilesRequest" message="impl:getDocumentFilesRequest" />
      <wsdl:output name="getDocumentFilesResponse" message="impl:getDocumentFilesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNotificationFile" parameterOrder="token id file">
      <wsdl:input name="getNotificationFileRequest" message="impl:getNotificationFileRequest" />
      <wsdl:output name="getNotificationFileResponse" message="impl:getNotificationFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="getState" parameterOrder="token id">
      <wsdl:input name="getStateRequest" message="impl:getStateRequest" />
      <wsdl:output name="getStateResponse" message="impl:getStateResponse" />
    </wsdl:operation>
    <wsdl:operation name="setCompleted" parameterOrder="token id">
      <wsdl:input name="setCompletedRequest" message="impl:setCompletedRequest" />
      <wsdl:output name="setCompletedResponse" message="impl:setCompletedResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendDocument" parameterOrder="token fileName file hashFile descriptor hashDescriptor isLast">
      <wsdl:input name="sendDocumentRequest" message="impl:sendDocumentRequest" />
      <wsdl:output name="sendDocumentResponse" message="impl:sendDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendDocuments" parameterOrder="token fileName file hashFile isLast">
      <wsdl:input name="sendDocumentsRequest" message="impl:sendDocumentsRequest" />
      <wsdl:output name="sendDocumentsResponse" message="impl:sendDocumentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="delDocument" parameterOrder="token id">
      <wsdl:input name="delDocumentRequest" message="impl:delDocumentRequest" />
      <wsdl:output name="delDocumentResponse" message="impl:delDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCedente" parameterOrder="token idPaese idCodice">
      <wsdl:input name="getCedenteRequest" message="impl:getCedenteRequest" />
      <wsdl:output name="getCedenteResponse" message="impl:getCedenteResponse" />
    </wsdl:operation>
    <wsdl:operation name="insCedente" parameterOrder="token idPaese idCodice cedente">
      <wsdl:input name="insCedenteRequest" message="impl:insCedenteRequest" />
      <wsdl:output name="insCedenteResponse" message="impl:insCedenteResponse" />
    </wsdl:operation>
    <wsdl:operation name="updCedente" parameterOrder="token idPaese idCodice cedente">
      <wsdl:input name="updCedenteRequest" message="impl:updCedenteRequest" />
      <wsdl:output name="updCedenteResponse" message="impl:updCedenteResponse" />
    </wsdl:operation>
    <wsdl:operation name="valDocument" parameterOrder="token id">
      <wsdl:input name="valDocumentRequest" message="impl:valDocumentRequest" />
      <wsdl:output name="valDocumentResponse" message="impl:valDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="signDocument" parameterOrder="token id">
      <wsdl:input name="signDocumentRequest" message="impl:signDocumentRequest" />
      <wsdl:output name="signDocumentResponse" message="impl:signDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="confDocument" parameterOrder="token id">
      <wsdl:input name="confDocumentRequest" message="impl:confDocumentRequest" />
      <wsdl:output name="confDocumentResponse" message="impl:confDocumentResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="fatelwV1SoapBinding" type="impl:fatelwV1">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="connect">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="connectRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="connectResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disconnect">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="disconnectRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="disconnectResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocuments">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getDocumentsRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getDocumentsResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentFile">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getDocumentFileRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getDocumentFileResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentFiles">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getDocumentFilesRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getDocumentFilesResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNotificationFile">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getNotificationFileRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getNotificationFileResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getState">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getStateRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getStateResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCompleted">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="setCompletedRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="setCompletedResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocument">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sendDocumentRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="sendDocumentResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocuments">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sendDocumentsRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="sendDocumentsResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delDocument">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="delDocumentRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="delDocumentResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCedente">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCedenteRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getCedenteResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insCedente">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="insCedenteRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="insCedenteResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updCedente">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updCedenteRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="updCedenteResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="valDocument">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="valDocumentRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="valDocumentResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signDocument">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="signDocumentRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="signDocumentResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confDocument">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="confDocumentRequest">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="confDocumentResponse">
        <wsdlsoap:body use="encoded" namespace="urn:ws.fatelw.zucchetti.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="fatelwV1Service">
    <wsdl:port name="fatelwV1" binding="impl:fatelwV1SoapBinding">
      <wsdlsoap:address location="https://fatelwtest.aulla.zucchetti.it/fatelw10/services/fatelwV1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>