TaskBuilderNet/Microarea.EasyBuilder/Licence/TaskBuilderSalesModule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SalesModule">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ShortNames">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="ShortName">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="Application">
					<xs:complexType>
						<xs:sequence>
							<xs:choice maxOccurs="unbounded">
								<xs:element maxOccurs="unbounded" name="Functionality">
									<xs:complexType>
										<xs:sequence minOccurs="0">
											<xs:element name="Allow">
												<xs:complexType>
													<xs:attribute name="iso" type="xs:string" use="required" />
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="name" type="xs:string" use="required" />
									</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="unbounded" name="Module">
									<xs:complexType>
										<xs:sequence minOccurs="0">
											<xs:element name="Allow">
												<xs:complexType>
													<xs:attribute name="iso" type="xs:string" use="required" />
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="name" type="xs:string" use="required" />
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="container" type="xs:string" use="required" />
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="IncludeModulesPath">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="Allow">
								<xs:complexType>
									<xs:attribute name="iso" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="path" type="xs:string" use="required" />
						<xs:attribute name="onselfactivated" type="xs:boolean" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="localize" type="xs:string" use="required" />
			<xs:attribute name="caltype" type="CalType" use="required" />
			<xs:attribute name="namedcal" type="xs:boolean" use="required" />
			<xs:attribute name="edition" type="xs:string" use="required" />
			<xs:attribute name="internalcode" type="xs:string" use="required" />
			<xs:attribute name="prodid" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="CalType">
		<xs:restriction base='xs:NMTOKEN'>
			<xs:enumeration value="None"/>
			<xs:enumeration value="Auto"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>