TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbMacroRecorderInterface/Microarea.Web.Services.SetTPManagerHandle.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.SetTPManagerHandle" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.SetTPManagerHandle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="tbProcessId" type="xs:int" />
  <xs:element name="isVs2005" type="xs:boolean" />
</xs:schema>