TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbMacroRecorderInterface/Microarea.Web.Services.RecordParsedAction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.RecordParsedAction" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.RecordParsedAction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="strValue" nillable="true" type="xs:string" />
  <xs:element name="nID" type="xs:int" />
  <xs:element name="nCode" type="xs:int" />
  <xs:element name="strText" nillable="true" type="xs:string" />
  <xs:element name="nBooleanValue" type="xs:int" />
  <xs:element name="strNameSpace" nillable="true" type="xs:string" />
</xs:schema>