TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbMacroRecorderInterface/Microarea.Web.Services.PlayStep.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.PlayStep" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.PlayStep" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="step" type="xs:int" />
  <xs:element name="bIsInStepByStep" type="xs:boolean" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="messages" nillable="true" type="q1:ArrayOfstring" />
  <xs:element name="return" type="xs:int" />
</xs:schema>