TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbMacroRecorderInterface/Microarea.Web.Services.RecordMessageBox.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.RecordMessageBox" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.RecordMessageBox" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="msgText" nillable="true" type="xs:string" />
  <xs:element name="type" type="xs:int" />
  <xs:element name="result" type="xs:int" />
</xs:schema>