TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbMacroRecorderInterface/Microarea.Web.Services.PlayMessageBox.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.PlayMessageBox" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.PlayMessageBox" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="msgText" nillable="true" type="xs:string" />
  <xs:element name="type" type="xs:int" />
  <xs:element name="result" type="xs:int" />
  <xs:element name="error" type="xs:boolean" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>