Library/DataStructureUtils/XSD/DBObjectsDef.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DBObjects">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="Tables" minOccurs="0" maxOccurs="1" type="Table" />
        <xsd:element name="Views" minOccurs="0" maxOccurs="1" type="View" />
        <xsd:element name="Procedures" minOccurs="0" maxOccurs="1" type="Procedure" />
        <xsd:element name="ExtraAddedColumns" minOccurs="0" maxOccurs="1" type="ExtraAddedColumns" />
        <xsd:element name="TablesUpdate" minOccurs="0" maxOccurs="1" type="TablesUpdate" />
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Table">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="Table" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Columns" minOccurs="1" maxOccurs="1" type="Columns" />
            <xsd:element name="Indexes" minOccurs="0" maxOccurs="1" type="Indexes" />
            <xsd:element name="ForeignKeys" minOccurs="0" maxOccurs="1" type="ForeignKeys" />
          </xsd:all>
          <xsd:attribute name="name" type="xsd:string" use="required" />
          <xsd:attribute name="localize" type="xsd:string" use="required" />
          <xsd:attribute name="db_release_number" type="xsd:int" use="required" />
          <xsd:attribute name="tb_namespace" type="xsd:string" use="required" />
          <xsd:attribute name="class_name" type="xsd:string" use="optional" />
          <xsd:attribute name="primary_key_constraint_name" type="xsd:string" use="optional" />       
      </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="View">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="View" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Columns" minOccurs="1" maxOccurs="1" type="Columns"></xsd:element>           
            <xsd:element name="SQLScript" minOccurs="0" maxOccurs="1" type="xsd:string" />
            <xsd:element name="OracleScript" minOccurs="0" maxOccurs="1" type="xsd:string" />
          </xsd:all>
          <xsd:attribute name="name" type="xsd:string" use="required" />
          <xsd:attribute name="localize" type="xsd:string" use="required" />
          <xsd:attribute name="db_release_number" type="xsd:int" use="optional" />
          <xsd:attribute name="tb_namespace" type="xsd:string" use="optional" />
          <xsd:attribute name="sql_definition" type="xsd:string" use="optional"/>
          <xsd:attribute name="oracle_definition" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Procedure">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="Procedure" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Parameters" minOccurs="0" maxOccurs="1" type="Parameters"></xsd:element>
          </xsd:all>
          <xsd:attribute name="name" type="xsd:string" use="required" />
          <xsd:attribute name="localize" type="xsd:string" use="required" />
          <xsd:attribute name="db_release_number" type="xsd:int" use="optional" />
          <xsd:attribute name="tb_namespace" type="xsd:string" use="optional" />
          <xsd:attribute name="sql_definition" type="xsd:string" use="optional"/>
          <xsd:attribute name="oracle_definition" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Columns">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="Column" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:attribute name="name" type="xsd:string" use="required" />
          <xsd:attribute name="localize" type="xsd:string" use="required" />
          <xsd:attribute name="read_only" type="xsd:boolean" use="optional" />
          <xsd:attribute name="data_type" type="xsd:string" use="required" />
          <xsd:attribute name="basetype" type="xsd:int" use="optional" />
          <xsd:attribute name="data_length" type="xsd:int" use="optional" />
          <xsd:attribute name="default_value" type="xsd:string" use="optional" />
          <xsd:attribute name="default_constraint_name" type="xsd:string" use="optional" />
          <xsd:attribute name="primary_key_segment" type="xsd:boolean" use="optional" />
          <xsd:attribute name="nullable" type="xsd:boolean" use="optional" />
          <xsd:attribute name="collate_sensitive" type="xsd:boolean" use="optional" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Indexes">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="Index" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="Segment" minOccurs="0" maxOccurs="1" type="Segment"></xsd:element>
          </xsd:sequence>
          <xsd:attribute name="name" type="xsd:string" use="required" />
          <xsd:attribute name="table_name" type="xsd:string" use="required" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Segment">
    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>
  <xsd:complexType name="ForeignKeys">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="ForeignKey" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Segment" minOccurs="0" maxOccurs="1" type="FKSegment"></xsd:element>
          </xsd:all>
          <xsd:attribute name="referenced_table_namespace" type="xsd:string" use="required" />
          <xsd:attribute name="constraint_name" type="xsd:string" use="required" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FKSegment">
     <xsd:attribute name="column" type="xsd:string" use="required" />
    <xsd:attribute name="referenced_column" type="xsd:string" use="required" />
  </xsd:complexType>
  <xsd:complexType name="Parameters">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="Parameter" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:attribute name="name" type="xsd:string" use="required" />
          <xsd:attribute name="localize" type="xsd:string" use="required" />
          <xsd:attribute name="data_type" type="xsd:string" use="required" />
          <xsd:attribute name="basetype" type="xsd:int" use="optional" />
          <xsd:attribute name="data_length" type="xsd:int" use="optional" />
          <xsd:attribute name="out_param" type="xsd:boolean" use="optional" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExtraAddedColumns">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="ExtraAddedColumn" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Columns" minOccurs="1" maxOccurs="1" type="Columns"></xsd:element>
          </xsd:all>
          <xsd:attribute name="table_namespace" type="xsd:string" use="required" />
          <xsd:attribute name="localize" type="xsd:string" use="required" />
          <xsd:attribute name="read_only" type="xsd:boolean" use="optional" />
          <xsd:attribute name="db_release_number" type="xsd:int" use="required" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TablesUpdate">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="TableUpdate" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Where" minOccurs="1" maxOccurs="1" type="Where"></xsd:element>
          </xsd:all>
          <xsd:attribute name="table_name" type="xsd:string" use="required" />
          <xsd:attribute name="set_column_name" type="xsd:string" use="optional" />
          <xsd:attribute name="sql_set_value" type="xsd:string" use="optional" />
          <xsd:attribute name="read_only" type="xsd:boolean" use="optional" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Where">
    <xsd:attribute name="where_table_name" type="xsd:string" use="required" />
    <xsd:attribute name="where_column_name" type="xsd:string" use="required" />
    <xsd:attribute name="sql_where_value" type="xsd:string" use="optional" />
  </xsd:complexType>
</xsd:schema>
