TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbDMSInterface/Extensions2856.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.GetAttachmentBinaryContent" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.GetAttachmentBinaryContent" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="attachmentID" type="xs:int" />
  <xs:element name="binaryContent" nillable="true" type="xs:base64Binary" />
  <xs:element name="fileName" nillable="true" type="xs:string" />
  <xs:element name="veryLargeFile" type="xs:boolean" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>