TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbDMSInterface/Extensions2840.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.SaveAttachmentFileInFolder" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.SaveAttachmentFileInFolder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="attachmentID" type="xs:int" />
  <xs:element name="sharedFolder" nillable="true" type="xs:string" />
  <xs:element name="return" nillable="true" type="xs:string" />
</xs:schema>