TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbDMSInterface/Extensions2834.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.AttachFile" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.AttachFile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fileName" nillable="true" type="xs:string" />
  <xs:element name="description" nillable="true" type="xs:string" />
  <xs:element name="documentHandle" type="xs:int" />
  <xs:element name="result" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>