TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbDMSInterface/TbDMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:Microarea.Web.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TbDMS" targetNamespace="urn:Microarea.Web.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Microarea.Web.Services/Imports">
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd1" namespace="urn:Microarea.Web.Services.GetAttachmentTemporaryFilePath" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd2" namespace="urn:Microarea.Web.Services" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd4" namespace="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd5" namespace="urn:Microarea.Web.Services.SearchAttachmentsForDocument" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd7" namespace="urn:Microarea.Web.Services.SaveAttachmentFileInFolder" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd8" namespace="urn:Microarea.Web.Services.GetAttachmentBinaryContent" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd9" namespace="urn:Microarea.Web.Services.GetAttachmentIDByFileName" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd10" namespace="urn:Microarea.Web.Services.AttachFolderInDocument" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd11" namespace="urn:Microarea.Web.Services.AttachFromTable" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd12" namespace="urn:Microarea.Web.Services.ArchiveBinaryContent" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd13" namespace="urn:Microarea.Web.Services.AttachBinaryContent" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd14" namespace="urn:Microarea.Web.Services.AttachBinaryContentInDocument" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd15" namespace="urn:Microarea.Web.Services.DeleteAttachment" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd16" namespace="urn:Microarea.Web.Services.DeleteDocumentAttachments" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd17" namespace="urn:Microarea.Web.Services.DeleteAllERPDocumentInfo" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd18" namespace="urn:Microarea.Web.Services.GetNewBarcodeValue" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd19" namespace="urn:Microarea.Web.Services.GetDefaultBarcodeType" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd20" namespace="urn:Microarea.Web.Services.AttachPaperyBarcode" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd21" namespace="urn:Microarea.Web.Services.AttachPaperyInDocument" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd22" namespace="urn:Microarea.Web.Services.RunDocumentWithEAPanel" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd23" namespace="urn:Microarea.Web.Services.GetEasyAttachmentTempPath" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd24" namespace="urn:Microarea.Web.Services.OpenMassiveAttach" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd25" namespace="urn:Microarea.Web.Services.OpenQuickAttach" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd26" namespace="urn:Microarea.Web.Services.OpenBBTraylet" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd27" namespace="urn:Microarea.Web.Services.OpenBBSettings" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd28" namespace="urn:Microarea.Web.Services.AttachFile" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd29" namespace="urn:Microarea.Web.Services.AttachArchivedDocument" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd30" namespace="urn:Microarea.Web.Services.AttachFolder" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd31" namespace="urn:Microarea.Web.Services.ArchiveFile" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd32" namespace="urn:Microarea.Web.Services.ArchiveFolder" />
      <xsd:import schemaLocation="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd33" namespace="urn:Microarea.Web.Services.AttachFileInDocument" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetAttachmentTemporaryFilePathIn">
    <wsdl:part xmlns:q1="urn:Microarea.Web.Services.GetAttachmentTemporaryFilePath" name="attachmentID" element="q1:attachmentID" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentTemporaryFilePathIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentTemporaryFilePathOut">
    <wsdl:part xmlns:q2="urn:Microarea.Web.Services.GetAttachmentTemporaryFilePath" name="return" element="q2:return" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentTemporaryFilePathOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_GetAttachmentTemporaryFilePath_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q3:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="MassiveAttachUnattendedModeIn">
    <wsdl:part xmlns:q4="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" name="folder" element="q4:folder" />
    <wsdl:part xmlns:q5="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" name="splitFile" element="q5:splitFile" />
    <wsdl:part xmlns:q6="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" name="result" element="q6:result" />
  </wsdl:message>
  <wsdl:message name="MassiveAttachUnattendedModeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="MassiveAttachUnattendedModeOut">
    <wsdl:part xmlns:q7="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" name="return" element="q7:return" />
    <wsdl:part xmlns:q8="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" name="result" element="q8:result" />
  </wsdl:message>
  <wsdl:message name="MassiveAttachUnattendedModeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_MassiveAttachUnattendedMode_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q9:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="SearchAttachmentsForDocumentIn">
    <wsdl:part xmlns:q10="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="documentNamespace" element="q10:documentNamespace" />
    <wsdl:part xmlns:q11="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="documentKey" element="q11:documentKey" />
    <wsdl:part xmlns:q12="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="searchText" element="q12:searchText" />
    <wsdl:part xmlns:q13="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="location" element="q13:location" />
    <wsdl:part xmlns:q14="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="searchFields" element="q14:searchFields" />
  </wsdl:message>
  <wsdl:message name="SearchAttachmentsForDocumentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SearchAttachmentsForDocumentOut">
    <wsdl:part xmlns:q15="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="return" element="q15:return" />
  </wsdl:message>
  <wsdl:message name="SearchAttachmentsForDocumentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_SearchAttachmentsForDocument_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q16:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="SaveAttachmentFileInFolderIn">
    <wsdl:part xmlns:q17="urn:Microarea.Web.Services.SaveAttachmentFileInFolder" name="attachmentID" element="q17:attachmentID" />
    <wsdl:part xmlns:q18="urn:Microarea.Web.Services.SaveAttachmentFileInFolder" name="sharedFolder" element="q18:sharedFolder" />
  </wsdl:message>
  <wsdl:message name="SaveAttachmentFileInFolderIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SaveAttachmentFileInFolderOut">
    <wsdl:part xmlns:q19="urn:Microarea.Web.Services.SaveAttachmentFileInFolder" name="return" element="q19:return" />
  </wsdl:message>
  <wsdl:message name="SaveAttachmentFileInFolderOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_SaveAttachmentFileInFolder_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q20:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentBinaryContentIn">
    <wsdl:part xmlns:q21="urn:Microarea.Web.Services.GetAttachmentBinaryContent" name="attachmentID" element="q21:attachmentID" />
    <wsdl:part xmlns:q22="urn:Microarea.Web.Services.GetAttachmentBinaryContent" name="binaryContent" element="q22:binaryContent" />
    <wsdl:part xmlns:q23="urn:Microarea.Web.Services.GetAttachmentBinaryContent" name="fileName" element="q23:fileName" />
    <wsdl:part xmlns:q24="urn:Microarea.Web.Services.GetAttachmentBinaryContent" name="veryLargeFile" element="q24:veryLargeFile" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentBinaryContentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentBinaryContentOut">
    <wsdl:part xmlns:q25="urn:Microarea.Web.Services.GetAttachmentBinaryContent" name="return" element="q25:return" />
    <wsdl:part xmlns:q26="urn:Microarea.Web.Services.GetAttachmentBinaryContent" name="binaryContent" element="q26:binaryContent" />
    <wsdl:part xmlns:q27="urn:Microarea.Web.Services.GetAttachmentBinaryContent" name="fileName" element="q27:fileName" />
    <wsdl:part xmlns:q28="urn:Microarea.Web.Services.GetAttachmentBinaryContent" name="veryLargeFile" element="q28:veryLargeFile" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentBinaryContentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_GetAttachmentBinaryContent_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q29="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q29:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentIDByFileNameIn">
    <wsdl:part xmlns:q30="urn:Microarea.Web.Services.GetAttachmentIDByFileName" name="documentNamespace" element="q30:documentNamespace" />
    <wsdl:part xmlns:q31="urn:Microarea.Web.Services.GetAttachmentIDByFileName" name="documentKey" element="q31:documentKey" />
    <wsdl:part xmlns:q32="urn:Microarea.Web.Services.GetAttachmentIDByFileName" name="fileName" element="q32:fileName" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentIDByFileNameIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentIDByFileNameOut">
    <wsdl:part xmlns:q33="urn:Microarea.Web.Services.GetAttachmentIDByFileName" name="return" element="q33:return" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentIDByFileNameOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_GetAttachmentIDByFileName_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q34:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachFolderInDocumentIn">
    <wsdl:part xmlns:q35="urn:Microarea.Web.Services.AttachFolderInDocument" name="documentNamespace" element="q35:documentNamespace" />
    <wsdl:part xmlns:q36="urn:Microarea.Web.Services.AttachFolderInDocument" name="documentKey" element="q36:documentKey" />
    <wsdl:part xmlns:q37="urn:Microarea.Web.Services.AttachFolderInDocument" name="folder" element="q37:folder" />
    <wsdl:part xmlns:q38="urn:Microarea.Web.Services.AttachFolderInDocument" name="result" element="q38:result" />
  </wsdl:message>
  <wsdl:message name="AttachFolderInDocumentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachFolderInDocumentOut">
    <wsdl:part xmlns:q39="urn:Microarea.Web.Services.AttachFolderInDocument" name="return" element="q39:return" />
    <wsdl:part xmlns:q40="urn:Microarea.Web.Services.AttachFolderInDocument" name="result" element="q40:result" />
  </wsdl:message>
  <wsdl:message name="AttachFolderInDocumentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachFolderInDocument_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q41="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q41:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachFromTableIn">
    <wsdl:part xmlns:q42="urn:Microarea.Web.Services.AttachFromTable" name="documentNamespace" element="q42:documentNamespace" />
    <wsdl:part xmlns:q43="urn:Microarea.Web.Services.AttachFromTable" name="documentKey" element="q43:documentKey" />
    <wsdl:part xmlns:q44="urn:Microarea.Web.Services.AttachFromTable" name="result" element="q44:result" />
  </wsdl:message>
  <wsdl:message name="AttachFromTableIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachFromTableOut">
    <wsdl:part xmlns:q45="urn:Microarea.Web.Services.AttachFromTable" name="return" element="q45:return" />
    <wsdl:part xmlns:q46="urn:Microarea.Web.Services.AttachFromTable" name="result" element="q46:result" />
  </wsdl:message>
  <wsdl:message name="AttachFromTableOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachFromTable_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q47="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q47:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="ArchiveBinaryContentIn">
    <wsdl:part xmlns:q48="urn:Microarea.Web.Services.ArchiveBinaryContent" name="binaryContent" element="q48:binaryContent" />
    <wsdl:part xmlns:q49="urn:Microarea.Web.Services.ArchiveBinaryContent" name="sourceFileName" element="q49:sourceFileName" />
    <wsdl:part xmlns:q50="urn:Microarea.Web.Services.ArchiveBinaryContent" name="description" element="q50:description" />
    <wsdl:part xmlns:q51="urn:Microarea.Web.Services.ArchiveBinaryContent" name="archivedDocID" element="q51:archivedDocID" />
    <wsdl:part xmlns:q52="urn:Microarea.Web.Services.ArchiveBinaryContent" name="result" element="q52:result" />
  </wsdl:message>
  <wsdl:message name="ArchiveBinaryContentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="ArchiveBinaryContentOut">
    <wsdl:part xmlns:q53="urn:Microarea.Web.Services.ArchiveBinaryContent" name="return" element="q53:return" />
    <wsdl:part xmlns:q54="urn:Microarea.Web.Services.ArchiveBinaryContent" name="archivedDocID" element="q54:archivedDocID" />
    <wsdl:part xmlns:q55="urn:Microarea.Web.Services.ArchiveBinaryContent" name="result" element="q55:result" />
  </wsdl:message>
  <wsdl:message name="ArchiveBinaryContentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_ArchiveBinaryContent_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q56="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q56:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachBinaryContentIn">
    <wsdl:part xmlns:q57="urn:Microarea.Web.Services.AttachBinaryContent" name="binaryContent" element="q57:binaryContent" />
    <wsdl:part xmlns:q58="urn:Microarea.Web.Services.AttachBinaryContent" name="sourceFileName" element="q58:sourceFileName" />
    <wsdl:part xmlns:q59="urn:Microarea.Web.Services.AttachBinaryContent" name="description" element="q59:description" />
    <wsdl:part xmlns:q60="urn:Microarea.Web.Services.AttachBinaryContent" name="documentHandle" element="q60:documentHandle" />
    <wsdl:part xmlns:q61="urn:Microarea.Web.Services.AttachBinaryContent" name="attachmentId" element="q61:attachmentId" />
    <wsdl:part xmlns:q62="urn:Microarea.Web.Services.AttachBinaryContent" name="result" element="q62:result" />
  </wsdl:message>
  <wsdl:message name="AttachBinaryContentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachBinaryContentOut">
    <wsdl:part xmlns:q63="urn:Microarea.Web.Services.AttachBinaryContent" name="return" element="q63:return" />
    <wsdl:part xmlns:q64="urn:Microarea.Web.Services.AttachBinaryContent" name="attachmentId" element="q64:attachmentId" />
    <wsdl:part xmlns:q65="urn:Microarea.Web.Services.AttachBinaryContent" name="result" element="q65:result" />
  </wsdl:message>
  <wsdl:message name="AttachBinaryContentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachBinaryContent_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q66="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q66:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachBinaryContentInDocumentIn">
    <wsdl:part xmlns:q67="urn:Microarea.Web.Services.AttachBinaryContentInDocument" name="binaryContent" element="q67:binaryContent" />
    <wsdl:part xmlns:q68="urn:Microarea.Web.Services.AttachBinaryContentInDocument" name="sourceFileName" element="q68:sourceFileName" />
    <wsdl:part xmlns:q69="urn:Microarea.Web.Services.AttachBinaryContentInDocument" name="description" element="q69:description" />
    <wsdl:part xmlns:q70="urn:Microarea.Web.Services.AttachBinaryContentInDocument" name="documentNamespace" element="q70:documentNamespace" />
    <wsdl:part xmlns:q71="urn:Microarea.Web.Services.AttachBinaryContentInDocument" name="documentKey" element="q71:documentKey" />
    <wsdl:part xmlns:q72="urn:Microarea.Web.Services.AttachBinaryContentInDocument" name="attachmentId" element="q72:attachmentId" />
    <wsdl:part xmlns:q73="urn:Microarea.Web.Services.AttachBinaryContentInDocument" name="result" element="q73:result" />
  </wsdl:message>
  <wsdl:message name="AttachBinaryContentInDocumentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachBinaryContentInDocumentOut">
    <wsdl:part xmlns:q74="urn:Microarea.Web.Services.AttachBinaryContentInDocument" name="return" element="q74:return" />
    <wsdl:part xmlns:q75="urn:Microarea.Web.Services.AttachBinaryContentInDocument" name="attachmentId" element="q75:attachmentId" />
    <wsdl:part xmlns:q76="urn:Microarea.Web.Services.AttachBinaryContentInDocument" name="result" element="q76:result" />
  </wsdl:message>
  <wsdl:message name="AttachBinaryContentInDocumentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachBinaryContentInDocument_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q77="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q77:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DeleteAttachmentIn">
    <wsdl:part xmlns:q78="urn:Microarea.Web.Services.DeleteAttachment" name="attachmentID" element="q78:attachmentID" />
  </wsdl:message>
  <wsdl:message name="DeleteAttachmentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteAttachmentOut">
    <wsdl:part xmlns:q79="urn:Microarea.Web.Services.DeleteAttachment" name="return" element="q79:return" />
  </wsdl:message>
  <wsdl:message name="DeleteAttachmentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_DeleteAttachment_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q80="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q80:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DeleteDocumentAttachmentsIn">
    <wsdl:part xmlns:q81="urn:Microarea.Web.Services.DeleteDocumentAttachments" name="documentNamespace" element="q81:documentNamespace" />
    <wsdl:part xmlns:q82="urn:Microarea.Web.Services.DeleteDocumentAttachments" name="documentKey" element="q82:documentKey" />
    <wsdl:part xmlns:q83="urn:Microarea.Web.Services.DeleteDocumentAttachments" name="result" element="q83:result" />
  </wsdl:message>
  <wsdl:message name="DeleteDocumentAttachmentsIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteDocumentAttachmentsOut">
    <wsdl:part xmlns:q84="urn:Microarea.Web.Services.DeleteDocumentAttachments" name="return" element="q84:return" />
    <wsdl:part xmlns:q85="urn:Microarea.Web.Services.DeleteDocumentAttachments" name="result" element="q85:result" />
  </wsdl:message>
  <wsdl:message name="DeleteDocumentAttachmentsOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_DeleteDocumentAttachments_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q86="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q86:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DeleteAllERPDocumentInfoIn">
    <wsdl:part xmlns:q87="urn:Microarea.Web.Services.DeleteAllERPDocumentInfo" name="documentNamespace" element="q87:documentNamespace" />
    <wsdl:part xmlns:q88="urn:Microarea.Web.Services.DeleteAllERPDocumentInfo" name="documentKey" element="q88:documentKey" />
    <wsdl:part xmlns:q89="urn:Microarea.Web.Services.DeleteAllERPDocumentInfo" name="result" element="q89:result" />
  </wsdl:message>
  <wsdl:message name="DeleteAllERPDocumentInfoIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteAllERPDocumentInfoOut">
    <wsdl:part xmlns:q90="urn:Microarea.Web.Services.DeleteAllERPDocumentInfo" name="return" element="q90:return" />
    <wsdl:part xmlns:q91="urn:Microarea.Web.Services.DeleteAllERPDocumentInfo" name="result" element="q91:result" />
  </wsdl:message>
  <wsdl:message name="DeleteAllERPDocumentInfoOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_DeleteAllERPDocumentInfo_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q92="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q92:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="GetNewBarcodeValueIn" />
  <wsdl:message name="GetNewBarcodeValueIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetNewBarcodeValueOut">
    <wsdl:part xmlns:q93="urn:Microarea.Web.Services.GetNewBarcodeValue" name="return" element="q93:return" />
  </wsdl:message>
  <wsdl:message name="GetNewBarcodeValueOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_GetNewBarcodeValue_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q94="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q94:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="GetDefaultBarcodeTypeIn">
    <wsdl:part xmlns:q95="urn:Microarea.Web.Services.GetDefaultBarcodeType" name="type" element="q95:type" />
    <wsdl:part xmlns:q96="urn:Microarea.Web.Services.GetDefaultBarcodeType" name="prefix" element="q96:prefix" />
  </wsdl:message>
  <wsdl:message name="GetDefaultBarcodeTypeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetDefaultBarcodeTypeOut">
    <wsdl:part xmlns:q97="urn:Microarea.Web.Services.GetDefaultBarcodeType" name="return" element="q97:return" />
    <wsdl:part xmlns:q98="urn:Microarea.Web.Services.GetDefaultBarcodeType" name="type" element="q98:type" />
    <wsdl:part xmlns:q99="urn:Microarea.Web.Services.GetDefaultBarcodeType" name="prefix" element="q99:prefix" />
  </wsdl:message>
  <wsdl:message name="GetDefaultBarcodeTypeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_GetDefaultBarcodeType_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q100="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q100:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyBarcodeIn">
    <wsdl:part xmlns:q101="urn:Microarea.Web.Services.AttachPaperyBarcode" name="documentHandle" element="q101:documentHandle" />
    <wsdl:part xmlns:q102="urn:Microarea.Web.Services.AttachPaperyBarcode" name="barcode" element="q102:barcode" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyBarcodeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyBarcodeOut">
    <wsdl:part xmlns:q103="urn:Microarea.Web.Services.AttachPaperyBarcode" name="return" element="q103:return" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyBarcodeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachPaperyBarcode_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q104="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q104:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyInDocumentIn">
    <wsdl:part xmlns:q105="urn:Microarea.Web.Services.AttachPaperyInDocument" name="documentNamespace" element="q105:documentNamespace" />
    <wsdl:part xmlns:q106="urn:Microarea.Web.Services.AttachPaperyInDocument" name="documentKey" element="q106:documentKey" />
    <wsdl:part xmlns:q107="urn:Microarea.Web.Services.AttachPaperyInDocument" name="barcode" element="q107:barcode" />
    <wsdl:part xmlns:q108="urn:Microarea.Web.Services.AttachPaperyInDocument" name="description" element="q108:description" />
    <wsdl:part xmlns:q109="urn:Microarea.Web.Services.AttachPaperyInDocument" name="result" element="q109:result" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyInDocumentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyInDocumentOut">
    <wsdl:part xmlns:q110="urn:Microarea.Web.Services.AttachPaperyInDocument" name="return" element="q110:return" />
    <wsdl:part xmlns:q111="urn:Microarea.Web.Services.AttachPaperyInDocument" name="result" element="q111:result" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyInDocumentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachPaperyInDocument_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q112="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q112:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="RunDocumentWithEAPanelIn">
    <wsdl:part xmlns:q113="urn:Microarea.Web.Services.RunDocumentWithEAPanel" name="documentNamespace" element="q113:documentNamespace" />
    <wsdl:part xmlns:q114="urn:Microarea.Web.Services.RunDocumentWithEAPanel" name="documentKey" element="q114:documentKey" />
    <wsdl:part xmlns:q115="urn:Microarea.Web.Services.RunDocumentWithEAPanel" name="result" element="q115:result" />
  </wsdl:message>
  <wsdl:message name="RunDocumentWithEAPanelIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="RunDocumentWithEAPanelOut">
    <wsdl:part xmlns:q116="urn:Microarea.Web.Services.RunDocumentWithEAPanel" name="return" element="q116:return" />
    <wsdl:part xmlns:q117="urn:Microarea.Web.Services.RunDocumentWithEAPanel" name="result" element="q117:result" />
  </wsdl:message>
  <wsdl:message name="RunDocumentWithEAPanelOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_RunDocumentWithEAPanel_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q118="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q118:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="GetEasyAttachmentTempPathIn" />
  <wsdl:message name="GetEasyAttachmentTempPathIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetEasyAttachmentTempPathOut">
    <wsdl:part xmlns:q119="urn:Microarea.Web.Services.GetEasyAttachmentTempPath" name="return" element="q119:return" />
  </wsdl:message>
  <wsdl:message name="GetEasyAttachmentTempPathOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_GetEasyAttachmentTempPath_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q120="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q120:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenMassiveAttachIn" />
  <wsdl:message name="OpenMassiveAttachIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenMassiveAttachOut">
    <wsdl:part xmlns:q121="urn:Microarea.Web.Services.OpenMassiveAttach" name="return" element="q121:return" />
  </wsdl:message>
  <wsdl:message name="OpenMassiveAttachOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenMassiveAttach_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q122="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q122:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenQuickAttachIn" />
  <wsdl:message name="OpenQuickAttachIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenQuickAttachOut">
    <wsdl:part xmlns:q123="urn:Microarea.Web.Services.OpenQuickAttach" name="return" element="q123:return" />
  </wsdl:message>
  <wsdl:message name="OpenQuickAttachOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenQuickAttach_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q124="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q124:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenAttachmentWebSearchIn" />
  <wsdl:message name="OpenAttachmentWebSearchIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenAttachmentWebSearchOut" />
  <wsdl:message name="OpenAttachmentWebSearchOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenAttachmentWebSearch_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q125="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q125:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenBBTrayletIn" />
  <wsdl:message name="OpenBBTrayletIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenBBTrayletOut">
    <wsdl:part xmlns:q126="urn:Microarea.Web.Services.OpenBBTraylet" name="return" element="q126:return" />
  </wsdl:message>
  <wsdl:message name="OpenBBTrayletOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenBBTraylet_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q127="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q127:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenBBSettingsIn" />
  <wsdl:message name="OpenBBSettingsIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenBBSettingsOut">
    <wsdl:part xmlns:q128="urn:Microarea.Web.Services.OpenBBSettings" name="return" element="q128:return" />
  </wsdl:message>
  <wsdl:message name="OpenBBSettingsOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenBBSettings_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q129="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q129:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachFileIn">
    <wsdl:part xmlns:q130="urn:Microarea.Web.Services.AttachFile" name="fileName" element="q130:fileName" />
    <wsdl:part xmlns:q131="urn:Microarea.Web.Services.AttachFile" name="description" element="q131:description" />
    <wsdl:part xmlns:q132="urn:Microarea.Web.Services.AttachFile" name="documentHandle" element="q132:documentHandle" />
    <wsdl:part xmlns:q133="urn:Microarea.Web.Services.AttachFile" name="result" element="q133:result" />
  </wsdl:message>
  <wsdl:message name="AttachFileIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachFileOut">
    <wsdl:part xmlns:q134="urn:Microarea.Web.Services.AttachFile" name="return" element="q134:return" />
    <wsdl:part xmlns:q135="urn:Microarea.Web.Services.AttachFile" name="result" element="q135:result" />
  </wsdl:message>
  <wsdl:message name="AttachFileOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachFile_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q136="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q136:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachArchivedDocumentIn">
    <wsdl:part xmlns:q137="urn:Microarea.Web.Services.AttachArchivedDocument" name="archivedDocId" element="q137:archivedDocId" />
    <wsdl:part xmlns:q138="urn:Microarea.Web.Services.AttachArchivedDocument" name="documentHandle" element="q138:documentHandle" />
    <wsdl:part xmlns:q139="urn:Microarea.Web.Services.AttachArchivedDocument" name="result" element="q139:result" />
  </wsdl:message>
  <wsdl:message name="AttachArchivedDocumentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachArchivedDocumentOut">
    <wsdl:part xmlns:q140="urn:Microarea.Web.Services.AttachArchivedDocument" name="return" element="q140:return" />
    <wsdl:part xmlns:q141="urn:Microarea.Web.Services.AttachArchivedDocument" name="result" element="q141:result" />
  </wsdl:message>
  <wsdl:message name="AttachArchivedDocumentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachArchivedDocument_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q142="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q142:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachFolderIn">
    <wsdl:part xmlns:q143="urn:Microarea.Web.Services.AttachFolder" name="folder" element="q143:folder" />
    <wsdl:part xmlns:q144="urn:Microarea.Web.Services.AttachFolder" name="documentHandle" element="q144:documentHandle" />
    <wsdl:part xmlns:q145="urn:Microarea.Web.Services.AttachFolder" name="result" element="q145:result" />
  </wsdl:message>
  <wsdl:message name="AttachFolderIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachFolderOut">
    <wsdl:part xmlns:q146="urn:Microarea.Web.Services.AttachFolder" name="return" element="q146:return" />
    <wsdl:part xmlns:q147="urn:Microarea.Web.Services.AttachFolder" name="result" element="q147:result" />
  </wsdl:message>
  <wsdl:message name="AttachFolderOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachFolder_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q148="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q148:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="ArchiveFileIn">
    <wsdl:part xmlns:q149="urn:Microarea.Web.Services.ArchiveFile" name="fileName" element="q149:fileName" />
    <wsdl:part xmlns:q150="urn:Microarea.Web.Services.ArchiveFile" name="description" element="q150:description" />
    <wsdl:part xmlns:q151="urn:Microarea.Web.Services.ArchiveFile" name="result" element="q151:result" />
  </wsdl:message>
  <wsdl:message name="ArchiveFileIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="ArchiveFileOut">
    <wsdl:part xmlns:q152="urn:Microarea.Web.Services.ArchiveFile" name="return" element="q152:return" />
    <wsdl:part xmlns:q153="urn:Microarea.Web.Services.ArchiveFile" name="result" element="q153:result" />
  </wsdl:message>
  <wsdl:message name="ArchiveFileOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_ArchiveFile_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q154="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q154:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="ArchiveFolderIn">
    <wsdl:part xmlns:q155="urn:Microarea.Web.Services.ArchiveFolder" name="folder" element="q155:folder" />
    <wsdl:part xmlns:q156="urn:Microarea.Web.Services.ArchiveFolder" name="result" element="q156:result" />
  </wsdl:message>
  <wsdl:message name="ArchiveFolderIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="ArchiveFolderOut">
    <wsdl:part xmlns:q157="urn:Microarea.Web.Services.ArchiveFolder" name="return" element="q157:return" />
    <wsdl:part xmlns:q158="urn:Microarea.Web.Services.ArchiveFolder" name="result" element="q158:result" />
  </wsdl:message>
  <wsdl:message name="ArchiveFolderOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_ArchiveFolder_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q159="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q159:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachFileInDocumentIn">
    <wsdl:part xmlns:q160="urn:Microarea.Web.Services.AttachFileInDocument" name="documentNamespace" element="q160:documentNamespace" />
    <wsdl:part xmlns:q161="urn:Microarea.Web.Services.AttachFileInDocument" name="documentKey" element="q161:documentKey" />
    <wsdl:part xmlns:q162="urn:Microarea.Web.Services.AttachFileInDocument" name="fileName" element="q162:fileName" />
    <wsdl:part xmlns:q163="urn:Microarea.Web.Services.AttachFileInDocument" name="description" element="q163:description" />
    <wsdl:part xmlns:q164="urn:Microarea.Web.Services.AttachFileInDocument" name="result" element="q164:result" />
  </wsdl:message>
  <wsdl:message name="AttachFileInDocumentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachFileInDocumentOut">
    <wsdl:part xmlns:q165="urn:Microarea.Web.Services.AttachFileInDocument" name="return" element="q165:return" />
    <wsdl:part xmlns:q166="urn:Microarea.Web.Services.AttachFileInDocument" name="result" element="q166:result" />
  </wsdl:message>
  <wsdl:message name="AttachFileInDocumentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachFileInDocument_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q167="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q167:TBSoapFault" />
  </wsdl:message>
  <wsdl:portType name="TbDMS">
    <wsdl:operation name="GetAttachmentTemporaryFilePath">
      <wsdl:input wsaw:Action="#GetAttachmentTemporaryFilePath" name="GetAttachmentTemporaryFilePathIn" message="tns:GetAttachmentTemporaryFilePathIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetAttachmentTemporaryFilePathResponse" name="GetAttachmentTemporaryFilePathOut" message="tns:GetAttachmentTemporaryFilePathOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetAttachmentTemporaryFilePathTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_GetAttachmentTemporaryFilePath_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="MassiveAttachUnattendedMode">
      <wsdl:input wsaw:Action="#MassiveAttachUnattendedMode" name="MassiveAttachUnattendedModeIn" message="tns:MassiveAttachUnattendedModeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/MassiveAttachUnattendedModeResponse" name="MassiveAttachUnattendedModeOut" message="tns:MassiveAttachUnattendedModeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/MassiveAttachUnattendedModeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_MassiveAttachUnattendedMode_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAttachmentsForDocument">
      <wsdl:input wsaw:Action="#SearchAttachmentsForDocument" name="SearchAttachmentsForDocumentIn" message="tns:SearchAttachmentsForDocumentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/SearchAttachmentsForDocumentResponse" name="SearchAttachmentsForDocumentOut" message="tns:SearchAttachmentsForDocumentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/SearchAttachmentsForDocumentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_SearchAttachmentsForDocument_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAttachmentFileInFolder">
      <wsdl:input wsaw:Action="#SaveAttachmentFileInFolder" name="SaveAttachmentFileInFolderIn" message="tns:SaveAttachmentFileInFolderIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/SaveAttachmentFileInFolderResponse" name="SaveAttachmentFileInFolderOut" message="tns:SaveAttachmentFileInFolderOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/SaveAttachmentFileInFolderTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_SaveAttachmentFileInFolder_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentBinaryContent">
      <wsdl:input wsaw:Action="#GetAttachmentBinaryContent" name="GetAttachmentBinaryContentIn" message="tns:GetAttachmentBinaryContentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetAttachmentBinaryContentResponse" name="GetAttachmentBinaryContentOut" message="tns:GetAttachmentBinaryContentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetAttachmentBinaryContentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_GetAttachmentBinaryContent_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentIDByFileName">
      <wsdl:input wsaw:Action="#GetAttachmentIDByFileName" name="GetAttachmentIDByFileNameIn" message="tns:GetAttachmentIDByFileNameIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetAttachmentIDByFileNameResponse" name="GetAttachmentIDByFileNameOut" message="tns:GetAttachmentIDByFileNameOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetAttachmentIDByFileNameTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_GetAttachmentIDByFileName_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachFolderInDocument">
      <wsdl:input wsaw:Action="#AttachFolderInDocument" name="AttachFolderInDocumentIn" message="tns:AttachFolderInDocumentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFolderInDocumentResponse" name="AttachFolderInDocumentOut" message="tns:AttachFolderInDocumentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFolderInDocumentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachFolderInDocument_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachFromTable">
      <wsdl:input wsaw:Action="#AttachFromTable" name="AttachFromTableIn" message="tns:AttachFromTableIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFromTableResponse" name="AttachFromTableOut" message="tns:AttachFromTableOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFromTableTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachFromTable_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchiveBinaryContent">
      <wsdl:input wsaw:Action="#ArchiveBinaryContent" name="ArchiveBinaryContentIn" message="tns:ArchiveBinaryContentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/ArchiveBinaryContentResponse" name="ArchiveBinaryContentOut" message="tns:ArchiveBinaryContentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/ArchiveBinaryContentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_ArchiveBinaryContent_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachBinaryContent">
      <wsdl:input wsaw:Action="#AttachBinaryContent" name="AttachBinaryContentIn" message="tns:AttachBinaryContentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachBinaryContentResponse" name="AttachBinaryContentOut" message="tns:AttachBinaryContentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachBinaryContentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachBinaryContent_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachBinaryContentInDocument">
      <wsdl:input wsaw:Action="#AttachBinaryContentInDocument" name="AttachBinaryContentInDocumentIn" message="tns:AttachBinaryContentInDocumentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachBinaryContentInDocumentResponse" name="AttachBinaryContentInDocumentOut" message="tns:AttachBinaryContentInDocumentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachBinaryContentInDocumentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachBinaryContentInDocument_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <wsdl:input wsaw:Action="#DeleteAttachment" name="DeleteAttachmentIn" message="tns:DeleteAttachmentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/DeleteAttachmentResponse" name="DeleteAttachmentOut" message="tns:DeleteAttachmentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/DeleteAttachmentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_DeleteAttachment_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumentAttachments">
      <wsdl:input wsaw:Action="#DeleteDocumentAttachments" name="DeleteDocumentAttachmentsIn" message="tns:DeleteDocumentAttachmentsIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/DeleteDocumentAttachmentsResponse" name="DeleteDocumentAttachmentsOut" message="tns:DeleteDocumentAttachmentsOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/DeleteDocumentAttachmentsTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_DeleteDocumentAttachments_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllERPDocumentInfo">
      <wsdl:input wsaw:Action="#DeleteAllERPDocumentInfo" name="DeleteAllERPDocumentInfoIn" message="tns:DeleteAllERPDocumentInfoIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/DeleteAllERPDocumentInfoResponse" name="DeleteAllERPDocumentInfoOut" message="tns:DeleteAllERPDocumentInfoOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/DeleteAllERPDocumentInfoTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_DeleteAllERPDocumentInfo_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewBarcodeValue">
      <wsdl:input wsaw:Action="#GetNewBarcodeValue" name="GetNewBarcodeValueIn" message="tns:GetNewBarcodeValueIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetNewBarcodeValueResponse" name="GetNewBarcodeValueOut" message="tns:GetNewBarcodeValueOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetNewBarcodeValueTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_GetNewBarcodeValue_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultBarcodeType">
      <wsdl:input wsaw:Action="#GetDefaultBarcodeType" name="GetDefaultBarcodeTypeIn" message="tns:GetDefaultBarcodeTypeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetDefaultBarcodeTypeResponse" name="GetDefaultBarcodeTypeOut" message="tns:GetDefaultBarcodeTypeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetDefaultBarcodeTypeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_GetDefaultBarcodeType_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachPaperyBarcode">
      <wsdl:input wsaw:Action="#AttachPaperyBarcode" name="AttachPaperyBarcodeIn" message="tns:AttachPaperyBarcodeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachPaperyBarcodeResponse" name="AttachPaperyBarcodeOut" message="tns:AttachPaperyBarcodeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachPaperyBarcodeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachPaperyBarcode_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachPaperyInDocument">
      <wsdl:input wsaw:Action="#AttachPaperyInDocument" name="AttachPaperyInDocumentIn" message="tns:AttachPaperyInDocumentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachPaperyInDocumentResponse" name="AttachPaperyInDocumentOut" message="tns:AttachPaperyInDocumentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachPaperyInDocumentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachPaperyInDocument_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunDocumentWithEAPanel">
      <wsdl:input wsaw:Action="#RunDocumentWithEAPanel" name="RunDocumentWithEAPanelIn" message="tns:RunDocumentWithEAPanelIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/RunDocumentWithEAPanelResponse" name="RunDocumentWithEAPanelOut" message="tns:RunDocumentWithEAPanelOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/RunDocumentWithEAPanelTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_RunDocumentWithEAPanel_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEasyAttachmentTempPath">
      <wsdl:input wsaw:Action="#GetEasyAttachmentTempPath" name="GetEasyAttachmentTempPathIn" message="tns:GetEasyAttachmentTempPathIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetEasyAttachmentTempPathResponse" name="GetEasyAttachmentTempPathOut" message="tns:GetEasyAttachmentTempPathOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetEasyAttachmentTempPathTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_GetEasyAttachmentTempPath_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenMassiveAttach">
      <wsdl:input wsaw:Action="#OpenMassiveAttach" name="OpenMassiveAttachIn" message="tns:OpenMassiveAttachIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenMassiveAttachResponse" name="OpenMassiveAttachOut" message="tns:OpenMassiveAttachOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenMassiveAttachTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenMassiveAttach_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenQuickAttach">
      <wsdl:input wsaw:Action="#OpenQuickAttach" name="OpenQuickAttachIn" message="tns:OpenQuickAttachIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenQuickAttachResponse" name="OpenQuickAttachOut" message="tns:OpenQuickAttachOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenQuickAttachTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenQuickAttach_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenAttachmentWebSearch">
      <wsdl:input wsaw:Action="#OpenAttachmentWebSearch" name="OpenAttachmentWebSearchIn" message="tns:OpenAttachmentWebSearchIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenAttachmentWebSearchResponse" name="OpenAttachmentWebSearchOut" message="tns:OpenAttachmentWebSearchOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenAttachmentWebSearchTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenAttachmentWebSearch_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenBBTraylet">
      <wsdl:input wsaw:Action="#OpenBBTraylet" name="OpenBBTrayletIn" message="tns:OpenBBTrayletIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenBBTrayletResponse" name="OpenBBTrayletOut" message="tns:OpenBBTrayletOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenBBTrayletTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenBBTraylet_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenBBSettings">
      <wsdl:input wsaw:Action="#OpenBBSettings" name="OpenBBSettingsIn" message="tns:OpenBBSettingsIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenBBSettingsResponse" name="OpenBBSettingsOut" message="tns:OpenBBSettingsOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenBBSettingsTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenBBSettings_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachFile">
      <wsdl:input wsaw:Action="#AttachFile" name="AttachFileIn" message="tns:AttachFileIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFileResponse" name="AttachFileOut" message="tns:AttachFileOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFileTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachFile_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachArchivedDocument">
      <wsdl:input wsaw:Action="#AttachArchivedDocument" name="AttachArchivedDocumentIn" message="tns:AttachArchivedDocumentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachArchivedDocumentResponse" name="AttachArchivedDocumentOut" message="tns:AttachArchivedDocumentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachArchivedDocumentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachArchivedDocument_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachFolder">
      <wsdl:input wsaw:Action="#AttachFolder" name="AttachFolderIn" message="tns:AttachFolderIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFolderResponse" name="AttachFolderOut" message="tns:AttachFolderOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFolderTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachFolder_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchiveFile">
      <wsdl:input wsaw:Action="#ArchiveFile" name="ArchiveFileIn" message="tns:ArchiveFileIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/ArchiveFileResponse" name="ArchiveFileOut" message="tns:ArchiveFileOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/ArchiveFileTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_ArchiveFile_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchiveFolder">
      <wsdl:input wsaw:Action="#ArchiveFolder" name="ArchiveFolderIn" message="tns:ArchiveFolderIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/ArchiveFolderResponse" name="ArchiveFolderOut" message="tns:ArchiveFolderOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/ArchiveFolderTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_ArchiveFolder_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachFileInDocument">
      <wsdl:input wsaw:Action="#AttachFileInDocument" name="AttachFileInDocumentIn" message="tns:AttachFileInDocumentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFileInDocumentResponse" name="AttachFileInDocumentOut" message="tns:AttachFileInDocumentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFileInDocumentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachFileInDocument_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TbDMSSoap" type="tns:TbDMS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAttachmentTemporaryFilePath">
      <soap:operation soapAction="#GetAttachmentTemporaryFilePath" style="document" />
      <wsdl:input name="GetAttachmentTemporaryFilePathIn">
        <soap:header message="tns:GetAttachmentTemporaryFilePathIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAttachmentTemporaryFilePathOut">
        <soap:header message="tns:GetAttachmentTemporaryFilePathOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MassiveAttachUnattendedMode">
      <soap:operation soapAction="#MassiveAttachUnattendedMode" style="document" />
      <wsdl:input name="MassiveAttachUnattendedModeIn">
        <soap:header message="tns:MassiveAttachUnattendedModeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MassiveAttachUnattendedModeOut">
        <soap:header message="tns:MassiveAttachUnattendedModeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchAttachmentsForDocument">
      <soap:operation soapAction="#SearchAttachmentsForDocument" style="document" />
      <wsdl:input name="SearchAttachmentsForDocumentIn">
        <soap:header message="tns:SearchAttachmentsForDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchAttachmentsForDocumentOut">
        <soap:header message="tns:SearchAttachmentsForDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveAttachmentFileInFolder">
      <soap:operation soapAction="#SaveAttachmentFileInFolder" style="document" />
      <wsdl:input name="SaveAttachmentFileInFolderIn">
        <soap:header message="tns:SaveAttachmentFileInFolderIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveAttachmentFileInFolderOut">
        <soap:header message="tns:SaveAttachmentFileInFolderOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentBinaryContent">
      <soap:operation soapAction="#GetAttachmentBinaryContent" style="document" />
      <wsdl:input name="GetAttachmentBinaryContentIn">
        <soap:header message="tns:GetAttachmentBinaryContentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAttachmentBinaryContentOut">
        <soap:header message="tns:GetAttachmentBinaryContentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentIDByFileName">
      <soap:operation soapAction="#GetAttachmentIDByFileName" style="document" />
      <wsdl:input name="GetAttachmentIDByFileNameIn">
        <soap:header message="tns:GetAttachmentIDByFileNameIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAttachmentIDByFileNameOut">
        <soap:header message="tns:GetAttachmentIDByFileNameOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFolderInDocument">
      <soap:operation soapAction="#AttachFolderInDocument" style="document" />
      <wsdl:input name="AttachFolderInDocumentIn">
        <soap:header message="tns:AttachFolderInDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFolderInDocumentOut">
        <soap:header message="tns:AttachFolderInDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFromTable">
      <soap:operation soapAction="#AttachFromTable" style="document" />
      <wsdl:input name="AttachFromTableIn">
        <soap:header message="tns:AttachFromTableIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFromTableOut">
        <soap:header message="tns:AttachFromTableOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ArchiveBinaryContent">
      <soap:operation soapAction="#ArchiveBinaryContent" style="document" />
      <wsdl:input name="ArchiveBinaryContentIn">
        <soap:header message="tns:ArchiveBinaryContentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ArchiveBinaryContentOut">
        <soap:header message="tns:ArchiveBinaryContentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachBinaryContent">
      <soap:operation soapAction="#AttachBinaryContent" style="document" />
      <wsdl:input name="AttachBinaryContentIn">
        <soap:header message="tns:AttachBinaryContentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachBinaryContentOut">
        <soap:header message="tns:AttachBinaryContentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachBinaryContentInDocument">
      <soap:operation soapAction="#AttachBinaryContentInDocument" style="document" />
      <wsdl:input name="AttachBinaryContentInDocumentIn">
        <soap:header message="tns:AttachBinaryContentInDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachBinaryContentInDocumentOut">
        <soap:header message="tns:AttachBinaryContentInDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <soap:operation soapAction="#DeleteAttachment" style="document" />
      <wsdl:input name="DeleteAttachmentIn">
        <soap:header message="tns:DeleteAttachmentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteAttachmentOut">
        <soap:header message="tns:DeleteAttachmentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumentAttachments">
      <soap:operation soapAction="#DeleteDocumentAttachments" style="document" />
      <wsdl:input name="DeleteDocumentAttachmentsIn">
        <soap:header message="tns:DeleteDocumentAttachmentsIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteDocumentAttachmentsOut">
        <soap:header message="tns:DeleteDocumentAttachmentsOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllERPDocumentInfo">
      <soap:operation soapAction="#DeleteAllERPDocumentInfo" style="document" />
      <wsdl:input name="DeleteAllERPDocumentInfoIn">
        <soap:header message="tns:DeleteAllERPDocumentInfoIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteAllERPDocumentInfoOut">
        <soap:header message="tns:DeleteAllERPDocumentInfoOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNewBarcodeValue">
      <soap:operation soapAction="#GetNewBarcodeValue" style="document" />
      <wsdl:input name="GetNewBarcodeValueIn">
        <soap:header message="tns:GetNewBarcodeValueIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNewBarcodeValueOut">
        <soap:header message="tns:GetNewBarcodeValueOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultBarcodeType">
      <soap:operation soapAction="#GetDefaultBarcodeType" style="document" />
      <wsdl:input name="GetDefaultBarcodeTypeIn">
        <soap:header message="tns:GetDefaultBarcodeTypeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDefaultBarcodeTypeOut">
        <soap:header message="tns:GetDefaultBarcodeTypeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachPaperyBarcode">
      <soap:operation soapAction="#AttachPaperyBarcode" style="document" />
      <wsdl:input name="AttachPaperyBarcodeIn">
        <soap:header message="tns:AttachPaperyBarcodeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachPaperyBarcodeOut">
        <soap:header message="tns:AttachPaperyBarcodeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachPaperyInDocument">
      <soap:operation soapAction="#AttachPaperyInDocument" style="document" />
      <wsdl:input name="AttachPaperyInDocumentIn">
        <soap:header message="tns:AttachPaperyInDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachPaperyInDocumentOut">
        <soap:header message="tns:AttachPaperyInDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunDocumentWithEAPanel">
      <soap:operation soapAction="#RunDocumentWithEAPanel" style="document" />
      <wsdl:input name="RunDocumentWithEAPanelIn">
        <soap:header message="tns:RunDocumentWithEAPanelIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RunDocumentWithEAPanelOut">
        <soap:header message="tns:RunDocumentWithEAPanelOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEasyAttachmentTempPath">
      <soap:operation soapAction="#GetEasyAttachmentTempPath" style="document" />
      <wsdl:input name="GetEasyAttachmentTempPathIn">
        <soap:header message="tns:GetEasyAttachmentTempPathIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetEasyAttachmentTempPathOut">
        <soap:header message="tns:GetEasyAttachmentTempPathOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenMassiveAttach">
      <soap:operation soapAction="#OpenMassiveAttach" style="document" />
      <wsdl:input name="OpenMassiveAttachIn">
        <soap:header message="tns:OpenMassiveAttachIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenMassiveAttachOut">
        <soap:header message="tns:OpenMassiveAttachOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenQuickAttach">
      <soap:operation soapAction="#OpenQuickAttach" style="document" />
      <wsdl:input name="OpenQuickAttachIn">
        <soap:header message="tns:OpenQuickAttachIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenQuickAttachOut">
        <soap:header message="tns:OpenQuickAttachOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenAttachmentWebSearch">
      <soap:operation soapAction="#OpenAttachmentWebSearch" style="document" />
      <wsdl:input name="OpenAttachmentWebSearchIn">
        <soap:header message="tns:OpenAttachmentWebSearchIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenAttachmentWebSearchOut">
        <soap:header message="tns:OpenAttachmentWebSearchOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenBBTraylet">
      <soap:operation soapAction="#OpenBBTraylet" style="document" />
      <wsdl:input name="OpenBBTrayletIn">
        <soap:header message="tns:OpenBBTrayletIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenBBTrayletOut">
        <soap:header message="tns:OpenBBTrayletOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenBBSettings">
      <soap:operation soapAction="#OpenBBSettings" style="document" />
      <wsdl:input name="OpenBBSettingsIn">
        <soap:header message="tns:OpenBBSettingsIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenBBSettingsOut">
        <soap:header message="tns:OpenBBSettingsOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFile">
      <soap:operation soapAction="#AttachFile" style="document" />
      <wsdl:input name="AttachFileIn">
        <soap:header message="tns:AttachFileIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFileOut">
        <soap:header message="tns:AttachFileOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachArchivedDocument">
      <soap:operation soapAction="#AttachArchivedDocument" style="document" />
      <wsdl:input name="AttachArchivedDocumentIn">
        <soap:header message="tns:AttachArchivedDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachArchivedDocumentOut">
        <soap:header message="tns:AttachArchivedDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFolder">
      <soap:operation soapAction="#AttachFolder" style="document" />
      <wsdl:input name="AttachFolderIn">
        <soap:header message="tns:AttachFolderIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFolderOut">
        <soap:header message="tns:AttachFolderOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ArchiveFile">
      <soap:operation soapAction="#ArchiveFile" style="document" />
      <wsdl:input name="ArchiveFileIn">
        <soap:header message="tns:ArchiveFileIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ArchiveFileOut">
        <soap:header message="tns:ArchiveFileOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ArchiveFolder">
      <soap:operation soapAction="#ArchiveFolder" style="document" />
      <wsdl:input name="ArchiveFolderIn">
        <soap:header message="tns:ArchiveFolderIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ArchiveFolderOut">
        <soap:header message="tns:ArchiveFolderOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFileInDocument">
      <soap:operation soapAction="#AttachFileInDocument" style="document" />
      <wsdl:input name="AttachFileInDocumentIn">
        <soap:header message="tns:AttachFileInDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFileInDocumentOut">
        <soap:header message="tns:AttachFileInDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TbDMS">
    <wsdl:port name="TbDMSSoap" binding="tns:TbDMSSoap">
      <soap:address location="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS/TbDMS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>