TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbXmlTransferInterface/Microarea.Web.Services.MoveExportProfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.MoveExportProfile" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.MoveExportProfile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="documentNamespace" nillable="true" type="xs:string" />
  <xs:element name="profilePath" nillable="true" type="xs:string" />
  <xs:element name="posType" type="xs:int" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="userArray" nillable="true" type="q1:ArrayOfstring" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>