TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbXmlTransferInterface/Microarea.Web.Services.Import.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.Import" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.Import" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="documentHandle" type="xs:int" />
  <xs:element name="envelopeFolder" nillable="true" type="xs:string" />
  <xs:element name="resultDescription" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>