TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbXmlTransferInterface/Microarea.Web.Services.GetDocumentSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.GetDocumentSchema" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.GetDocumentSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="documentNamespace" nillable="true" type="xs:string" />
  <xs:element name="profileName" nillable="true" type="xs:string" />
  <xs:element name="forUser" nillable="true" type="xs:string" />
  <xs:element name="return" nillable="true" type="xs:string" />
</xs:schema>