TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbXmlTransferInterface/Microarea.Web.Services.RenameExportProfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.RenameExportProfile" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.RenameExportProfile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="documentNamespace" nillable="true" type="xs:string" />
  <xs:element name="profilePath" nillable="true" type="xs:string" />
  <xs:element name="newName" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>