TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbXmlTransferInterface/Microarea.Web.Services.GetXMLHotLink.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.GetXMLHotLink" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.GetXMLHotLink" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="documentNamespace" nillable="true" type="xs:string" />
  <xs:element name="nsUri" nillable="true" type="xs:string" />
  <xs:element name="fieldXPath" nillable="true" type="xs:string" />
  <xs:element name="loginName" nillable="true" type="xs:string" />
  <xs:element name="return" nillable="true" type="xs:string" />
</xs:schema>