TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/ErpItemsServices/ItemsServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:Microarea.Web.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ItemsServices" targetNamespace="urn:Microarea.Web.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Microarea.Web.Services/Imports">
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.Items.Services?xsd=xsd1" namespace="urn:Microarea.Web.Services" />
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.Items.Services?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" />
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.Items.Services?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.Items.Services?xsd=xsd3" namespace="urn:Microarea.Web.Services.GetPathItemImageFromNamespace" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ItemsSettingsIn" />
  <wsdl:message name="ItemsSettingsIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="ItemsSettingsOut" />
  <wsdl:message name="ItemsSettingsOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="ItemsServices_ItemsSettings_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q1:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="GetPathItemImageFromNamespaceIn">
    <wsdl:part xmlns:q2="urn:Microarea.Web.Services.GetPathItemImageFromNamespace" name="aNamespace" element="q2:aNamespace" />
  </wsdl:message>
  <wsdl:message name="GetPathItemImageFromNamespaceIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetPathItemImageFromNamespaceOut">
    <wsdl:part xmlns:q3="urn:Microarea.Web.Services.GetPathItemImageFromNamespace" name="return" element="q3:return" />
  </wsdl:message>
  <wsdl:message name="GetPathItemImageFromNamespaceOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="ItemsServices_GetPathItemImageFromNamespace_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q4:TBSoapFault" />
  </wsdl:message>
  <wsdl:portType name="ItemsServices">
    <wsdl:operation name="ItemsSettings">
      <wsdl:input wsaw:Action="#ItemsSettings" name="ItemsSettingsIn" message="tns:ItemsSettingsIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/ItemsServices/ItemsSettingsResponse" name="ItemsSettingsOut" message="tns:ItemsSettingsOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/ItemsServices/ItemsSettingsTBSoapFaultFault" name="TBSoapFaultFault" message="tns:ItemsServices_ItemsSettings_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPathItemImageFromNamespace">
      <wsdl:input wsaw:Action="#GetPathItemImageFromNamespace" name="GetPathItemImageFromNamespaceIn" message="tns:GetPathItemImageFromNamespaceIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/ItemsServices/GetPathItemImageFromNamespaceResponse" name="GetPathItemImageFromNamespaceOut" message="tns:GetPathItemImageFromNamespaceOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/ItemsServices/GetPathItemImageFromNamespaceTBSoapFaultFault" name="TBSoapFaultFault" message="tns:ItemsServices_GetPathItemImageFromNamespace_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemsServicesSoap" type="tns:ItemsServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ItemsSettings">
      <soap:operation soapAction="#ItemsSettings" style="document" />
      <wsdl:input name="ItemsSettingsIn">
        <soap:header message="tns:ItemsSettingsIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ItemsSettingsOut">
        <soap:header message="tns:ItemsSettingsOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPathItemImageFromNamespace">
      <soap:operation soapAction="#GetPathItemImageFromNamespace" style="document" />
      <wsdl:input name="GetPathItemImageFromNamespaceIn">
        <soap:header message="tns:GetPathItemImageFromNamespaceIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPathItemImageFromNamespaceOut">
        <soap:header message="tns:GetPathItemImageFromNamespaceOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemsServices">
    <wsdl:port name="ItemsServicesSoap" binding="tns:ItemsServicesSoap">
      <soap:address location="http://usr-bruniluca:10000/ERP.Items.Services/ItemsServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>