TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbOleDbInterface/Microarea.Web.Services.GetExtraFiltering.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.GetExtraFiltering" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.GetExtraFiltering" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="aTablesNames" nillable="true" type="q1:ArrayOfstring" />
  <xs:element name="aWC" nillable="true" type="xs:string" />
  <xs:element name="return" nillable="true" type="xs:string" />
</xs:schema>