TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/TbOleDbInterface/Microarea.Web.Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:Microarea.Web.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TbOleDb" targetNamespace="urn:Microarea.Web.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TbOleDbTcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Microarea.Web.Services/Imports">
      <xsd:import namespace="urn:Microarea.Web.Services.SqlRecord_SetStorable" />
      <xsd:import namespace="urn:Microarea.Web.Services" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="urn:Microarea.Web.Services.SqlRecord_Copy" />
      <xsd:import namespace="urn:Microarea.Web.Services.GetConnection" />
      <xsd:import namespace="urn:Microarea.Web.Services.OpenConnection" />
      <xsd:import namespace="urn:Microarea.Web.Services.CreateRecord" />
      <xsd:import namespace="urn:Microarea.Web.Services.Connection_Close" />
      <xsd:import namespace="urn:Microarea.Web.Services.Connection_BeginTransaction" />
      <xsd:import namespace="urn:Microarea.Web.Services.Connection_Commit" />
      <xsd:import namespace="urn:Microarea.Web.Services.Connection_Rollback" />
      <xsd:import namespace="urn:Microarea.Web.Services.GetExtraFiltering" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="urn:Microarea.Web.Services.SqlRecord_Clone" />
      <xsd:import namespace="urn:Microarea.Web.Services.SqlRecord_GetFieldValue" />
      <xsd:import namespace="urn:Microarea.Web.Services.SqlRecord_SetFieldValue" />
      <xsd:import namespace="urn:Microarea.Web.Services.SqlRecord_IsStorable" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SqlRecord_SetStorableIn">
    <wsdl:part xmlns:q1="urn:Microarea.Web.Services.SqlRecord_SetStorable" name="handle" element="q1:handle" />
    <wsdl:part xmlns:q2="urn:Microarea.Web.Services.SqlRecord_SetStorable" name="bStorable" element="q2:bStorable" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_SetStorableIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_SetStorableOut" />
  <wsdl:message name="SqlRecord_SetStorableOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_SqlRecord_SetStorable_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q3:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_CopyIn">
    <wsdl:part xmlns:q4="urn:Microarea.Web.Services.SqlRecord_Copy" name="handle" element="q4:handle" />
    <wsdl:part xmlns:q5="urn:Microarea.Web.Services.SqlRecord_Copy" name="pRecSource" element="q5:pRecSource" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_CopyIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_CopyOut" />
  <wsdl:message name="SqlRecord_CopyOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_SqlRecord_Copy_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q6:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="GetConnectionIn" />
  <wsdl:message name="GetConnectionIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetConnectionOut">
    <wsdl:part xmlns:q7="urn:Microarea.Web.Services.GetConnection" name="return" element="q7:return" />
  </wsdl:message>
  <wsdl:message name="GetConnectionOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_GetConnection_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q8:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenConnectionIn">
    <wsdl:part xmlns:q9="urn:Microarea.Web.Services.OpenConnection" name="connectionString" element="q9:connectionString" />
  </wsdl:message>
  <wsdl:message name="OpenConnectionIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenConnectionOut">
    <wsdl:part xmlns:q10="urn:Microarea.Web.Services.OpenConnection" name="return" element="q10:return" />
  </wsdl:message>
  <wsdl:message name="OpenConnectionOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_OpenConnection_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q11:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="CreateRecordIn">
    <wsdl:part xmlns:q12="urn:Microarea.Web.Services.CreateRecord" name="tableName" element="q12:tableName" />
  </wsdl:message>
  <wsdl:message name="CreateRecordIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CreateRecordOut">
    <wsdl:part xmlns:q13="urn:Microarea.Web.Services.CreateRecord" name="return" element="q13:return" />
  </wsdl:message>
  <wsdl:message name="CreateRecordOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_CreateRecord_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q14:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="Connection_CloseIn">
    <wsdl:part xmlns:q15="urn:Microarea.Web.Services.Connection_Close" name="handle" element="q15:handle" />
  </wsdl:message>
  <wsdl:message name="Connection_CloseIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="Connection_CloseOut" />
  <wsdl:message name="Connection_CloseOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_Connection_Close_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q16:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="Connection_BeginTransactionIn">
    <wsdl:part xmlns:q17="urn:Microarea.Web.Services.Connection_BeginTransaction" name="handle" element="q17:handle" />
  </wsdl:message>
  <wsdl:message name="Connection_BeginTransactionIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="Connection_BeginTransactionOut" />
  <wsdl:message name="Connection_BeginTransactionOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_Connection_BeginTransaction_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q18:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="Connection_CommitIn">
    <wsdl:part xmlns:q19="urn:Microarea.Web.Services.Connection_Commit" name="handle" element="q19:handle" />
  </wsdl:message>
  <wsdl:message name="Connection_CommitIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="Connection_CommitOut" />
  <wsdl:message name="Connection_CommitOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_Connection_Commit_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q20:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="Connection_RollbackIn">
    <wsdl:part xmlns:q21="urn:Microarea.Web.Services.Connection_Rollback" name="handle" element="q21:handle" />
  </wsdl:message>
  <wsdl:message name="Connection_RollbackIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="Connection_RollbackOut" />
  <wsdl:message name="Connection_RollbackOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_Connection_Rollback_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q22:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="GetExtraFilteringIn">
    <wsdl:part xmlns:q23="urn:Microarea.Web.Services.GetExtraFiltering" name="aTablesNames" element="q23:aTablesNames" />
    <wsdl:part xmlns:q24="urn:Microarea.Web.Services.GetExtraFiltering" name="aWC" element="q24:aWC" />
  </wsdl:message>
  <wsdl:message name="GetExtraFilteringIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetExtraFilteringOut">
    <wsdl:part xmlns:q25="urn:Microarea.Web.Services.GetExtraFiltering" name="return" element="q25:return" />
  </wsdl:message>
  <wsdl:message name="GetExtraFilteringOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_GetExtraFiltering_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q26:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_CloneIn">
    <wsdl:part xmlns:q27="urn:Microarea.Web.Services.SqlRecord_Clone" name="handle" element="q27:handle" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_CloneIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_CloneOut">
    <wsdl:part xmlns:q28="urn:Microarea.Web.Services.SqlRecord_Clone" name="return" element="q28:return" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_CloneOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_SqlRecord_Clone_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q29="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q29:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_GetFieldValueIn">
    <wsdl:part xmlns:q30="urn:Microarea.Web.Services.SqlRecord_GetFieldValue" name="handle" element="q30:handle" />
    <wsdl:part xmlns:q31="urn:Microarea.Web.Services.SqlRecord_GetFieldValue" name="FieldName" element="q31:FieldName" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_GetFieldValueIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_GetFieldValueOut">
    <wsdl:part xmlns:q32="urn:Microarea.Web.Services.SqlRecord_GetFieldValue" name="return" element="q32:return" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_GetFieldValueOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_SqlRecord_GetFieldValue_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q33:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_SetFieldValueIn">
    <wsdl:part xmlns:q34="urn:Microarea.Web.Services.SqlRecord_SetFieldValue" name="handle" element="q34:handle" />
    <wsdl:part xmlns:q35="urn:Microarea.Web.Services.SqlRecord_SetFieldValue" name="FieldName" element="q35:FieldName" />
    <wsdl:part xmlns:q36="urn:Microarea.Web.Services.SqlRecord_SetFieldValue" name="Value" element="q36:Value" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_SetFieldValueIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_SetFieldValueOut" />
  <wsdl:message name="SqlRecord_SetFieldValueOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_SqlRecord_SetFieldValue_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q37="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q37:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_IsStorableIn">
    <wsdl:part xmlns:q38="urn:Microarea.Web.Services.SqlRecord_IsStorable" name="handle" element="q38:handle" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_IsStorableIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_IsStorableOut">
    <wsdl:part xmlns:q39="urn:Microarea.Web.Services.SqlRecord_IsStorable" name="return" element="q39:return" />
  </wsdl:message>
  <wsdl:message name="SqlRecord_IsStorableOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbOleDb_SqlRecord_IsStorable_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q40="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q40:TBSoapFault" />
  </wsdl:message>
  <wsdl:portType name="TbOleDb">
    <wsdl:operation name="SqlRecord_SetStorable">
      <wsdl:input wsaw:Action="#SqlRecord_SetStorable" name="SqlRecord_SetStorableIn" message="tns:SqlRecord_SetStorableIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_SetStorableResponse" name="SqlRecord_SetStorableOut" message="tns:SqlRecord_SetStorableOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_SetStorableTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_SqlRecord_SetStorable_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_Copy">
      <wsdl:input wsaw:Action="#SqlRecord_Copy" name="SqlRecord_CopyIn" message="tns:SqlRecord_CopyIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_CopyResponse" name="SqlRecord_CopyOut" message="tns:SqlRecord_CopyOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_CopyTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_SqlRecord_Copy_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <wsdl:input wsaw:Action="#GetConnection" name="GetConnectionIn" message="tns:GetConnectionIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/GetConnectionResponse" name="GetConnectionOut" message="tns:GetConnectionOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/GetConnectionTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_GetConnection_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenConnection">
      <wsdl:input wsaw:Action="#OpenConnection" name="OpenConnectionIn" message="tns:OpenConnectionIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/OpenConnectionResponse" name="OpenConnectionOut" message="tns:OpenConnectionOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/OpenConnectionTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_OpenConnection_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRecord">
      <wsdl:input wsaw:Action="#CreateRecord" name="CreateRecordIn" message="tns:CreateRecordIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/CreateRecordResponse" name="CreateRecordOut" message="tns:CreateRecordOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/CreateRecordTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_CreateRecord_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connection_Close">
      <wsdl:input wsaw:Action="#Connection_Close" name="Connection_CloseIn" message="tns:Connection_CloseIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/Connection_CloseResponse" name="Connection_CloseOut" message="tns:Connection_CloseOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/Connection_CloseTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_Connection_Close_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connection_BeginTransaction">
      <wsdl:input wsaw:Action="#Connection_BeginTransaction" name="Connection_BeginTransactionIn" message="tns:Connection_BeginTransactionIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/Connection_BeginTransactionResponse" name="Connection_BeginTransactionOut" message="tns:Connection_BeginTransactionOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/Connection_BeginTransactionTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_Connection_BeginTransaction_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connection_Commit">
      <wsdl:input wsaw:Action="#Connection_Commit" name="Connection_CommitIn" message="tns:Connection_CommitIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/Connection_CommitResponse" name="Connection_CommitOut" message="tns:Connection_CommitOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/Connection_CommitTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_Connection_Commit_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connection_Rollback">
      <wsdl:input wsaw:Action="#Connection_Rollback" name="Connection_RollbackIn" message="tns:Connection_RollbackIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/Connection_RollbackResponse" name="Connection_RollbackOut" message="tns:Connection_RollbackOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/Connection_RollbackTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_Connection_Rollback_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExtraFiltering">
      <wsdl:input wsaw:Action="#GetExtraFiltering" name="GetExtraFilteringIn" message="tns:GetExtraFilteringIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/GetExtraFilteringResponse" name="GetExtraFilteringOut" message="tns:GetExtraFilteringOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/GetExtraFilteringTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_GetExtraFiltering_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_Clone">
      <wsdl:input wsaw:Action="#SqlRecord_Clone" name="SqlRecord_CloneIn" message="tns:SqlRecord_CloneIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_CloneResponse" name="SqlRecord_CloneOut" message="tns:SqlRecord_CloneOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_CloneTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_SqlRecord_Clone_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_GetFieldValue">
      <wsdl:input wsaw:Action="#SqlRecord_GetFieldValue" name="SqlRecord_GetFieldValueIn" message="tns:SqlRecord_GetFieldValueIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_GetFieldValueResponse" name="SqlRecord_GetFieldValueOut" message="tns:SqlRecord_GetFieldValueOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_GetFieldValueTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_SqlRecord_GetFieldValue_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_SetFieldValue">
      <wsdl:input wsaw:Action="#SqlRecord_SetFieldValue" name="SqlRecord_SetFieldValueIn" message="tns:SqlRecord_SetFieldValueIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_SetFieldValueResponse" name="SqlRecord_SetFieldValueOut" message="tns:SqlRecord_SetFieldValueOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_SetFieldValueTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_SqlRecord_SetFieldValue_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_IsStorable">
      <wsdl:input wsaw:Action="#SqlRecord_IsStorable" name="SqlRecord_IsStorableIn" message="tns:SqlRecord_IsStorableIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_IsStorableResponse" name="SqlRecord_IsStorableOut" message="tns:SqlRecord_IsStorableOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbOleDb/SqlRecord_IsStorableTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbOleDb_SqlRecord_IsStorable_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TbOleDbSoap" type="tns:TbOleDb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SqlRecord_SetStorable">
      <soap:operation soapAction="#SqlRecord_SetStorable" style="document" />
      <wsdl:input name="SqlRecord_SetStorableIn">
        <soap:header message="tns:SqlRecord_SetStorableIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_SetStorableOut">
        <soap:header message="tns:SqlRecord_SetStorableOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_Copy">
      <soap:operation soapAction="#SqlRecord_Copy" style="document" />
      <wsdl:input name="SqlRecord_CopyIn">
        <soap:header message="tns:SqlRecord_CopyIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_CopyOut">
        <soap:header message="tns:SqlRecord_CopyOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <soap:operation soapAction="#GetConnection" style="document" />
      <wsdl:input name="GetConnectionIn">
        <soap:header message="tns:GetConnectionIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetConnectionOut">
        <soap:header message="tns:GetConnectionOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenConnection">
      <soap:operation soapAction="#OpenConnection" style="document" />
      <wsdl:input name="OpenConnectionIn">
        <soap:header message="tns:OpenConnectionIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenConnectionOut">
        <soap:header message="tns:OpenConnectionOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateRecord">
      <soap:operation soapAction="#CreateRecord" style="document" />
      <wsdl:input name="CreateRecordIn">
        <soap:header message="tns:CreateRecordIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateRecordOut">
        <soap:header message="tns:CreateRecordOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connection_Close">
      <soap:operation soapAction="#Connection_Close" style="document" />
      <wsdl:input name="Connection_CloseIn">
        <soap:header message="tns:Connection_CloseIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Connection_CloseOut">
        <soap:header message="tns:Connection_CloseOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connection_BeginTransaction">
      <soap:operation soapAction="#Connection_BeginTransaction" style="document" />
      <wsdl:input name="Connection_BeginTransactionIn">
        <soap:header message="tns:Connection_BeginTransactionIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Connection_BeginTransactionOut">
        <soap:header message="tns:Connection_BeginTransactionOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connection_Commit">
      <soap:operation soapAction="#Connection_Commit" style="document" />
      <wsdl:input name="Connection_CommitIn">
        <soap:header message="tns:Connection_CommitIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Connection_CommitOut">
        <soap:header message="tns:Connection_CommitOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connection_Rollback">
      <soap:operation soapAction="#Connection_Rollback" style="document" />
      <wsdl:input name="Connection_RollbackIn">
        <soap:header message="tns:Connection_RollbackIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Connection_RollbackOut">
        <soap:header message="tns:Connection_RollbackOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetExtraFiltering">
      <soap:operation soapAction="#GetExtraFiltering" style="document" />
      <wsdl:input name="GetExtraFilteringIn">
        <soap:header message="tns:GetExtraFilteringIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetExtraFilteringOut">
        <soap:header message="tns:GetExtraFilteringOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_Clone">
      <soap:operation soapAction="#SqlRecord_Clone" style="document" />
      <wsdl:input name="SqlRecord_CloneIn">
        <soap:header message="tns:SqlRecord_CloneIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_CloneOut">
        <soap:header message="tns:SqlRecord_CloneOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_GetFieldValue">
      <soap:operation soapAction="#SqlRecord_GetFieldValue" style="document" />
      <wsdl:input name="SqlRecord_GetFieldValueIn">
        <soap:header message="tns:SqlRecord_GetFieldValueIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_GetFieldValueOut">
        <soap:header message="tns:SqlRecord_GetFieldValueOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_SetFieldValue">
      <soap:operation soapAction="#SqlRecord_SetFieldValue" style="document" />
      <wsdl:input name="SqlRecord_SetFieldValueIn">
        <soap:header message="tns:SqlRecord_SetFieldValueIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_SetFieldValueOut">
        <soap:header message="tns:SqlRecord_SetFieldValueOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_IsStorable">
      <soap:operation soapAction="#SqlRecord_IsStorable" style="document" />
      <wsdl:input name="SqlRecord_IsStorableIn">
        <soap:header message="tns:SqlRecord_IsStorableIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_IsStorableOut">
        <soap:header message="tns:SqlRecord_IsStorableOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TbOleDbTcp" type="tns:TbOleDb">
    <wsp:PolicyReference URI="#TbOleDbTcp_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SqlRecord_SetStorable">
      <soap12:operation soapAction="#SqlRecord_SetStorable" style="document" />
      <wsdl:input name="SqlRecord_SetStorableIn">
        <soap12:header message="tns:SqlRecord_SetStorableIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_SetStorableOut">
        <soap12:header message="tns:SqlRecord_SetStorableOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_Copy">
      <soap12:operation soapAction="#SqlRecord_Copy" style="document" />
      <wsdl:input name="SqlRecord_CopyIn">
        <soap12:header message="tns:SqlRecord_CopyIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_CopyOut">
        <soap12:header message="tns:SqlRecord_CopyOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <soap12:operation soapAction="#GetConnection" style="document" />
      <wsdl:input name="GetConnectionIn">
        <soap12:header message="tns:GetConnectionIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetConnectionOut">
        <soap12:header message="tns:GetConnectionOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenConnection">
      <soap12:operation soapAction="#OpenConnection" style="document" />
      <wsdl:input name="OpenConnectionIn">
        <soap12:header message="tns:OpenConnectionIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenConnectionOut">
        <soap12:header message="tns:OpenConnectionOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateRecord">
      <soap12:operation soapAction="#CreateRecord" style="document" />
      <wsdl:input name="CreateRecordIn">
        <soap12:header message="tns:CreateRecordIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateRecordOut">
        <soap12:header message="tns:CreateRecordOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connection_Close">
      <soap12:operation soapAction="#Connection_Close" style="document" />
      <wsdl:input name="Connection_CloseIn">
        <soap12:header message="tns:Connection_CloseIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Connection_CloseOut">
        <soap12:header message="tns:Connection_CloseOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connection_BeginTransaction">
      <soap12:operation soapAction="#Connection_BeginTransaction" style="document" />
      <wsdl:input name="Connection_BeginTransactionIn">
        <soap12:header message="tns:Connection_BeginTransactionIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Connection_BeginTransactionOut">
        <soap12:header message="tns:Connection_BeginTransactionOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connection_Commit">
      <soap12:operation soapAction="#Connection_Commit" style="document" />
      <wsdl:input name="Connection_CommitIn">
        <soap12:header message="tns:Connection_CommitIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Connection_CommitOut">
        <soap12:header message="tns:Connection_CommitOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connection_Rollback">
      <soap12:operation soapAction="#Connection_Rollback" style="document" />
      <wsdl:input name="Connection_RollbackIn">
        <soap12:header message="tns:Connection_RollbackIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Connection_RollbackOut">
        <soap12:header message="tns:Connection_RollbackOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetExtraFiltering">
      <soap12:operation soapAction="#GetExtraFiltering" style="document" />
      <wsdl:input name="GetExtraFilteringIn">
        <soap12:header message="tns:GetExtraFilteringIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetExtraFilteringOut">
        <soap12:header message="tns:GetExtraFilteringOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_Clone">
      <soap12:operation soapAction="#SqlRecord_Clone" style="document" />
      <wsdl:input name="SqlRecord_CloneIn">
        <soap12:header message="tns:SqlRecord_CloneIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_CloneOut">
        <soap12:header message="tns:SqlRecord_CloneOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_GetFieldValue">
      <soap12:operation soapAction="#SqlRecord_GetFieldValue" style="document" />
      <wsdl:input name="SqlRecord_GetFieldValueIn">
        <soap12:header message="tns:SqlRecord_GetFieldValueIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_GetFieldValueOut">
        <soap12:header message="tns:SqlRecord_GetFieldValueOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_SetFieldValue">
      <soap12:operation soapAction="#SqlRecord_SetFieldValue" style="document" />
      <wsdl:input name="SqlRecord_SetFieldValueIn">
        <soap12:header message="tns:SqlRecord_SetFieldValueIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_SetFieldValueOut">
        <soap12:header message="tns:SqlRecord_SetFieldValueOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SqlRecord_IsStorable">
      <soap12:operation soapAction="#SqlRecord_IsStorable" style="document" />
      <wsdl:input name="SqlRecord_IsStorableIn">
        <soap12:header message="tns:SqlRecord_IsStorableIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SqlRecord_IsStorableOut">
        <soap12:header message="tns:SqlRecord_IsStorableOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TbOleDb">
    <wsdl:port name="TbOleDbSoap" binding="tns:TbOleDbSoap">
      <soap:address location="http://usr-traversoge:10000/Framework.TbOleDb.TbOleDb/TbOleDb" />
    </wsdl:port>
    <wsdl:port name="TbOleDbTcp" binding="tns:TbOleDbTcp">
      <soap12:address location="net.tcp://usr-traversoge:10001/Framework.TbOleDb.TbOleDb/TbOleDb" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://usr-traversoge:10001/Framework.TbOleDb.TbOleDb/TbOleDb</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Traverso@microarea.it</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>