Tools/PingImporter/PingImporter/Web References/PingImporterSvc/Registration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.microarea.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.microarea.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.microarea.it/">
      <s:element name="CreateNewLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticationToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isAdminLogin" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="redirectUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewLoginWithoutSendingMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticationToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isAdminLogin" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="redirectUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewLoginWithoutSendingMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewLoginWithoutSendingMailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAlive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="string1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string4" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAliveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsAliveResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string4" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWelcomeMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticationToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="activationMarker" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWelcomeMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendWelcomeMailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMluSubscriptionMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticationToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="activationMarker" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="storeMluInContractHistory" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sendMail" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMluSubscriptionMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMluSubscriptionMailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPdfEulaContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticationToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="activationMarker" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPdfEulaContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPdfEulaContractResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pdfContract" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPdfMluContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticationToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="activationMarker" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPdfMluContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPdfMluContractResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pdfContract" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreContractHistorySnapshot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticationToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="configurationChanging" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="activationMarker" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreContractHistorySnapshotResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StoreContractHistorySnapshotResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreMluChoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="string1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreMluChoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StoreMluChoiceResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="string1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="string1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAccessMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="string1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAccessMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendAccessMailResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="string1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="string3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ManageSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stringG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stringK" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stringN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stringT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stringD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stringH" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="boolN" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="boolT" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ManageSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ManageSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stringG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stringN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stringT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="boolN" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="boolT" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreCrashInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crashInfo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreCrashInfoResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPdb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pdbFile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPdbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPdbResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportPing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pingTimestamp" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pingInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportPingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportPingResult" type="tns:ResponseBag" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseBag">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnCodeExpl" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateNewLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewLogin" />
  </wsdl:message>
  <wsdl:message name="CreateNewLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewLoginResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewLoginWithoutSendingMailSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewLoginWithoutSendingMail" />
  </wsdl:message>
  <wsdl:message name="CreateNewLoginWithoutSendingMailSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewLoginWithoutSendingMailResponse" />
  </wsdl:message>
  <wsdl:message name="IsAliveSoapIn">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IsAliveSoapOut">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="SendWelcomeMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendWelcomeMail" />
  </wsdl:message>
  <wsdl:message name="SendWelcomeMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendWelcomeMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendMluSubscriptionMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMluSubscriptionMail" />
  </wsdl:message>
  <wsdl:message name="SendMluSubscriptionMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMluSubscriptionMailResponse" />
  </wsdl:message>
  <wsdl:message name="GetPdfEulaContractSoapIn">
    <wsdl:part name="parameters" element="tns:GetPdfEulaContract" />
  </wsdl:message>
  <wsdl:message name="GetPdfEulaContractSoapOut">
    <wsdl:part name="parameters" element="tns:GetPdfEulaContractResponse" />
  </wsdl:message>
  <wsdl:message name="GetPdfMluContractSoapIn">
    <wsdl:part name="parameters" element="tns:GetPdfMluContract" />
  </wsdl:message>
  <wsdl:message name="GetPdfMluContractSoapOut">
    <wsdl:part name="parameters" element="tns:GetPdfMluContractResponse" />
  </wsdl:message>
  <wsdl:message name="StoreContractHistorySnapshotSoapIn">
    <wsdl:part name="parameters" element="tns:StoreContractHistorySnapshot" />
  </wsdl:message>
  <wsdl:message name="StoreContractHistorySnapshotSoapOut">
    <wsdl:part name="parameters" element="tns:StoreContractHistorySnapshotResponse" />
  </wsdl:message>
  <wsdl:message name="StoreMluChoiceSoapIn">
    <wsdl:part name="parameters" element="tns:StoreMluChoice" />
  </wsdl:message>
  <wsdl:message name="StoreMluChoiceSoapOut">
    <wsdl:part name="parameters" element="tns:StoreMluChoiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="SendAccessMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendAccessMail" />
  </wsdl:message>
  <wsdl:message name="SendAccessMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendAccessMailResponse" />
  </wsdl:message>
  <wsdl:message name="ManageSMSSoapIn">
    <wsdl:part name="parameters" element="tns:ManageSMS" />
  </wsdl:message>
  <wsdl:message name="ManageSMSSoapOut">
    <wsdl:part name="parameters" element="tns:ManageSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="StoreCrashInfoSoapIn">
    <wsdl:part name="parameters" element="tns:StoreCrashInfo" />
  </wsdl:message>
  <wsdl:message name="StoreCrashInfoSoapOut">
    <wsdl:part name="parameters" element="tns:StoreCrashInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetPdbSoapIn">
    <wsdl:part name="parameters" element="tns:GetPdb" />
  </wsdl:message>
  <wsdl:message name="GetPdbSoapOut">
    <wsdl:part name="parameters" element="tns:GetPdbResponse" />
  </wsdl:message>
  <wsdl:message name="ImportPingSoapIn">
    <wsdl:part name="parameters" element="tns:ImportPing" />
  </wsdl:message>
  <wsdl:message name="ImportPingSoapOut">
    <wsdl:part name="parameters" element="tns:ImportPingResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistrationSoap">
    <wsdl:operation name="CreateNewLogin">
      <wsdl:input message="tns:CreateNewLoginSoapIn" />
      <wsdl:output message="tns:CreateNewLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewLoginWithoutSendingMail">
      <wsdl:input message="tns:CreateNewLoginWithoutSendingMailSoapIn" />
      <wsdl:output message="tns:CreateNewLoginWithoutSendingMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:input message="tns:IsAliveSoapIn" />
      <wsdl:output message="tns:IsAliveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeMail">
      <wsdl:input message="tns:SendWelcomeMailSoapIn" />
      <wsdl:output message="tns:SendWelcomeMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMluSubscriptionMail">
      <wsdl:input message="tns:SendMluSubscriptionMailSoapIn" />
      <wsdl:output message="tns:SendMluSubscriptionMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPdfEulaContract">
      <wsdl:input message="tns:GetPdfEulaContractSoapIn" />
      <wsdl:output message="tns:GetPdfEulaContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPdfMluContract">
      <wsdl:input message="tns:GetPdfMluContractSoapIn" />
      <wsdl:output message="tns:GetPdfMluContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoreContractHistorySnapshot">
      <wsdl:input message="tns:StoreContractHistorySnapshotSoapIn" />
      <wsdl:output message="tns:StoreContractHistorySnapshotSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoreMluChoice">
      <wsdl:input message="tns:StoreMluChoiceSoapIn" />
      <wsdl:output message="tns:StoreMluChoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input message="tns:GetMessagesSoapIn" />
      <wsdl:output message="tns:GetMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAccessMail">
      <wsdl:input message="tns:SendAccessMailSoapIn" />
      <wsdl:output message="tns:SendAccessMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ManageSMS">
      <wsdl:input message="tns:ManageSMSSoapIn" />
      <wsdl:output message="tns:ManageSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoreCrashInfo">
      <wsdl:input message="tns:StoreCrashInfoSoapIn" />
      <wsdl:output message="tns:StoreCrashInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPdb">
      <wsdl:input message="tns:GetPdbSoapIn" />
      <wsdl:output message="tns:GetPdbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportPing">
      <wsdl:input message="tns:ImportPingSoapIn" />
      <wsdl:output message="tns:ImportPingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationSoap" type="tns:RegistrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewLogin">
      <soap:operation soapAction="http://www.microarea.it/CreateNewLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewLoginWithoutSendingMail">
      <soap:operation soapAction="http://www.microarea.it/CreateNewLoginWithoutSendingMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://www.microarea.it/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeMail">
      <soap:operation soapAction="http://www.microarea.it/SendWelcomeMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMluSubscriptionMail">
      <soap:operation soapAction="http://www.microarea.it/SendMluSubscriptionMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPdfEulaContract">
      <soap:operation soapAction="http://www.microarea.it/GetPdfEulaContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPdfMluContract">
      <soap:operation soapAction="http://www.microarea.it/GetPdfMluContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreContractHistorySnapshot">
      <soap:operation soapAction="http://www.microarea.it/StoreContractHistorySnapshot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreMluChoice">
      <soap:operation soapAction="http://www.microarea.it/StoreMluChoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://www.microarea.it/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAccessMail">
      <soap:operation soapAction="http://www.microarea.it/SendAccessMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageSMS">
      <soap:operation soapAction="http://www.microarea.it/ManageSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://www.microarea.it/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreCrashInfo">
      <soap:operation soapAction="http://www.microarea.it/StoreCrashInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPdb">
      <soap:operation soapAction="http://www.microarea.it/GetPdb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportPing">
      <soap:operation soapAction="http://www.microarea.it/ImportPing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistrationSoap12" type="tns:RegistrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewLogin">
      <soap12:operation soapAction="http://www.microarea.it/CreateNewLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewLoginWithoutSendingMail">
      <soap12:operation soapAction="http://www.microarea.it/CreateNewLoginWithoutSendingMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap12:operation soapAction="http://www.microarea.it/IsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeMail">
      <soap12:operation soapAction="http://www.microarea.it/SendWelcomeMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMluSubscriptionMail">
      <soap12:operation soapAction="http://www.microarea.it/SendMluSubscriptionMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPdfEulaContract">
      <soap12:operation soapAction="http://www.microarea.it/GetPdfEulaContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPdfMluContract">
      <soap12:operation soapAction="http://www.microarea.it/GetPdfMluContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreContractHistorySnapshot">
      <soap12:operation soapAction="http://www.microarea.it/StoreContractHistorySnapshot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreMluChoice">
      <soap12:operation soapAction="http://www.microarea.it/StoreMluChoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="http://www.microarea.it/GetMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAccessMail">
      <soap12:operation soapAction="http://www.microarea.it/SendAccessMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageSMS">
      <soap12:operation soapAction="http://www.microarea.it/ManageSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://www.microarea.it/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreCrashInfo">
      <soap12:operation soapAction="http://www.microarea.it/StoreCrashInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPdb">
      <soap12:operation soapAction="http://www.microarea.it/GetPdb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportPing">
      <soap12:operation soapAction="http://www.microarea.it/ImportPing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registration">
    <wsdl:port name="RegistrationSoap" binding="tns:RegistrationSoap">
      <soap:address location="http://localhost/Registration/Registration.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistrationSoap12" binding="tns:RegistrationSoap12">
      <soap12:address location="http://localhost/Registration/Registration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>