TaskBuilderNet/Microarea.TaskBuilderNet.TbSenderBL/Web References/it.sostitutivazucchetti.infinity/ws_as_servizio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" targetNamespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="elencoclassidocumentaliResponse">
    <wsdl:part name="elencoclassidocumentaliReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sequenzaResponse">
    <wsdl:part name="sequenzaReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="collegaclassiResponse">
    <wsdl:part name="collegaclassiReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="recuperolottoRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="LottoID" type="xsd:string" />
    <wsdl:part name="TipoRecupero" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cancellazionesoggettoResponse">
    <wsdl:part name="cancellazionesoggettoReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cancellazionesoggettoRequest">
    <wsdl:part name="Conservatore" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="CodiceSoggetto" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="elencochiaviclassedocumentaleResponse">
    <wsdl:part name="elencochiaviclassedocumentaleReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ricercaperchiaviResponse">
    <wsdl:part name="ricercaperchiaviReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="singoloRequest">
    <wsdl:part name="CodiceConservatore" type="xsd:string" />
    <wsdl:part name="CodiceCliente" type="xsd:string" />
    <wsdl:part name="Password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="elencoclassidocumentaliiafRequest">
    <wsdl:part name="p_conservatore" type="xsd:string" />
    <wsdl:part name="p_soggetto" type="xsd:string" />
    <wsdl:part name="p_ticketGuid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="configuraclassedocumentaleRequest">
    <wsdl:part name="Conservatore" type="xsd:string" />
    <wsdl:part name="Soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="ClasseDaConfigurare" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="datidocumentiResponse">
    <wsdl:part name="datidocumentiReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="frammentataResponse">
    <wsdl:part name="frammentataReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sfirmaRequest">
    <wsdl:part name="filedasfirmare" type="xsd:base64Binary" />
  </wsdl:message>
  <wsdl:message name="verificaFrammentataResponse">
    <wsdl:part name="verificaFrammentataReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="statospedizioneResponse">
    <wsdl:part name="statospedizioneReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="chunksizeResponse">
    <wsdl:part name="chunksizeReturn" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="verificaFrammentataRequest">
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="NomeFileZip" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="frammentataRequest">
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="TicketChunkGUID" type="xsd:string" />
    <wsdl:part name="NomeFileZip" type="xsd:string" />
    <wsdl:part name="ContenutoBloccoZip" type="xsd:base64Binary" />
  </wsdl:message>
  <wsdl:message name="chunksizeRequest">
    <wsdl:part name="TicketGUID" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ticketvaliditysecondResponse">
    <wsdl:part name="ticketvaliditysecondReturn" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="esitorecuperolottoRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="CodiceRecuperoLotto" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sequenzaRequest">
    <wsdl:part name="CodiceConservatore" type="xsd:string" />
    <wsdl:part name="CodiceCliente" type="xsd:string" />
    <wsdl:part name="Password" type="xsd:string" />
    <wsdl:part name="NumeroChunk" type="xsd:int" />
    <wsdl:part name="Dimensione" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="ticketnumberoftrialResponse">
    <wsdl:part name="ticketnumberoftrialReturn" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="collegaclassiRequest">
    <wsdl:part name="Conservatore" type="xsd:string" />
    <wsdl:part name="Soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="Collegamento" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="recuperodocumentoFirmatoResponse">
    <wsdl:part name="recuperodocumentoFirmatoReturn" type="xsd:base64Binary" />
  </wsdl:message>
  <wsdl:message name="recuperodocumentocodiceassolutoRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="CodiceUnivoco" type="xsd:string" />
    <wsdl:part name="CodiceClasseDocumentale" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ricercaperchiaviRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="ChiaviDiRicerca" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="elencochiaviclassedocumentaleRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="CodiceClasseDocumentale" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="esitospedizioneRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="NomeFileZip" type="xsd:string" />
    <wsdl:part name="CodiceClasseDocumentale" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="variazionidaultimainterrogazioneResponse">
    <wsdl:part name="variazionidaultimainterrogazioneReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="recuperodocumentocodiceassolutoFirmatoRequest">
    <wsdl:part name="p_conservatore" type="xsd:string" />
    <wsdl:part name="p_soggetto" type="xsd:string" />
    <wsdl:part name="p_ticketGuid" type="xsd:string" />
    <wsdl:part name="p_codiceUnivoco" type="xsd:string" />
    <wsdl:part name="p_codiceClasseDocumentale" type="xsd:string" />
    <wsdl:part name="Estensione" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="inserimentosofggettoRequest">
    <wsdl:part name="p_conservatore" type="xsd:string" />
    <wsdl:part name="p_ticketGuid" type="xsd:string" />
    <wsdl:part name="p_codiceSoggetto" type="xsd:string" />
    <wsdl:part name="p_descrizioneSoggetto" type="xsd:string" />
    <wsdl:part name="p_codiceSoggettoPadre" type="xsd:string" />
    <wsdl:part name="p_elencoClassiDocumentali" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="rimozioneclassisoggettoResponse">
    <wsdl:part name="rimozioneclassisoggettoReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="inserimentosofggettoResponse">
    <wsdl:part name="inserimentosofggettoReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="recuperolottoResponse">
    <wsdl:part name="recuperolottoReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="recuperodocumentocodiceassolutoResponse">
    <wsdl:part name="recuperodocumentocodiceassolutoReturn" type="xsd:base64Binary" />
  </wsdl:message>
  <wsdl:message name="inserimentosoggettoRequest">
    <wsdl:part name="Conservatore" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="CodiceSoggetto" type="xsd:string" />
    <wsdl:part name="DescrizioneSoggetto" type="xsd:string" />
    <wsdl:part name="CodiceSoggettoPadre" type="xsd:string" />
    <wsdl:part name="ElencoClassiDocumentali" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sempliceRequest">
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="NomeFileZip" type="xsd:string" />
    <wsdl:part name="ContenutoFileZip" type="xsd:base64Binary" />
  </wsdl:message>
  <wsdl:message name="sempliceResponse">
    <wsdl:part name="sempliceReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sfirmaResponse">
    <wsdl:part name="sfirmaReturn" type="xsd:base64Binary" />
  </wsdl:message>
  <wsdl:message name="inserimentosoggettoResponse">
    <wsdl:part name="inserimentosoggettoReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="esitodocumentonomeRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="NomeFileOriginale" type="xsd:string" />
    <wsdl:part name="CodiceSpedizione" type="xsd:string" />
    <wsdl:part name="CodiceClasseDocumentale" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ticketvaliditysecondRequest">
    <wsdl:part name="TicketGUID" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="elencoclassidocumentaliiafResponse">
    <wsdl:part name="elencoclassidocumentaliiafReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="recuperodocumentoRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="NomeFileOriginale" type="xsd:string" />
    <wsdl:part name="CodiceSpedizione" type="xsd:string" />
    <wsdl:part name="CodiceClasseDocumentale" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="statospedizioneRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="NomeFileZip" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="esitodocumentoRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="CodiceUnivoco" type="xsd:string" />
    <wsdl:part name="CodiceClasseDocumentale" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="confermavariazioniResponse">
    <wsdl:part name="confermavariazioniReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="esitodocumentonomeResponse">
    <wsdl:part name="esitodocumentonomeReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="rimozioneclassisoggettoRequest">
    <wsdl:part name="Conservatore" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="CodiceSoggetto" type="xsd:string" />
    <wsdl:part name="CodiceSoggettoPadre" type="xsd:string" />
    <wsdl:part name="ElencoClassiDocumentali" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="elencolottiRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="CodiceClasseDocumentale" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="datidocumentiRequest">
    <wsdl:part name="Conservatore" type="xsd:string" />
    <wsdl:part name="Soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="ClasseDocumentale" type="xsd:string" />
    <wsdl:part name="DataDa" type="xsd:string" />
    <wsdl:part name="DataA" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="recuperodocumentoFirmatoRequest">
    <wsdl:part name="p_conservatore" type="xsd:string" />
    <wsdl:part name="p_soggetto" type="xsd:string" />
    <wsdl:part name="p_ticketGuid" type="xsd:string" />
    <wsdl:part name="p_nomeFileOriginale" type="xsd:string" />
    <wsdl:part name="p_codiceSpedizione" type="xsd:string" />
    <wsdl:part name="p_codiceClasseDocumentale" type="xsd:string" />
    <wsdl:part name="p_estensione" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="elencoclassidocumentaliRequest">
    <wsdl:part name="conservatore" type="xsd:string" />
    <wsdl:part name="soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="elencolottiResponse">
    <wsdl:part name="elencolottiReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="variazionidaultimainterrogazioneRequest">
    <wsdl:part name="Conservatore" type="xsd:string" />
    <wsdl:part name="Soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="recuperodocumentoResponse">
    <wsdl:part name="recuperodocumentoReturn" type="xsd:base64Binary" />
  </wsdl:message>
  <wsdl:message name="esitorecuperolottoResponse">
    <wsdl:part name="esitorecuperolottoReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="recuperodocumentocodiceassolutoFirmatoResponse">
    <wsdl:part name="recuperodocumentocodiceassolutoFirmatoReturn" type="xsd:base64Binary" />
  </wsdl:message>
  <wsdl:message name="assegnamentoclassisoggettoResponse">
    <wsdl:part name="assegnamentoclassisoggettoReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="esitospedizioneResponse">
    <wsdl:part name="esitospedizioneReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="confermavariazioniRequest">
    <wsdl:part name="Conservatore" type="xsd:string" />
    <wsdl:part name="Soggetto" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="RispostaGUID" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="assegnamentoclassisoggettoRequest">
    <wsdl:part name="Conservatore" type="xsd:string" />
    <wsdl:part name="TicketGUID" type="xsd:string" />
    <wsdl:part name="CodiceSoggetto" type="xsd:string" />
    <wsdl:part name="CodiceSoggettoPadre" type="xsd:string" />
    <wsdl:part name="ElencoClassiDocumentali" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="configuraclassedocumentaleResponse">
    <wsdl:part name="configuraclassedocumentaleReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="singoloResponse">
    <wsdl:part name="singoloReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ticketnumberoftrialRequest">
    <wsdl:part name="TicketGUID" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="esitodocumentoResponse">
    <wsdl:part name="esitodocumentoReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ws_as_servizio">
    <wsdl:operation name="singolo" parameterOrder="CodiceConservatore CodiceCliente Password">
      <wsdl:input name="singoloRequest" message="impl:singoloRequest" />
      <wsdl:output name="singoloResponse" message="impl:singoloResponse" />
    </wsdl:operation>
    <wsdl:operation name="sequenza" parameterOrder="CodiceConservatore CodiceCliente Password NumeroChunk Dimensione">
      <wsdl:input name="sequenzaRequest" message="impl:sequenzaRequest" />
      <wsdl:output name="sequenzaResponse" message="impl:sequenzaResponse" />
    </wsdl:operation>
    <wsdl:operation name="semplice" parameterOrder="TicketGUID NomeFileZip ContenutoFileZip">
      <wsdl:input name="sempliceRequest" message="impl:sempliceRequest" />
      <wsdl:output name="sempliceResponse" message="impl:sempliceResponse" />
    </wsdl:operation>
    <wsdl:operation name="frammentata" parameterOrder="TicketGUID TicketChunkGUID NomeFileZip ContenutoBloccoZip">
      <wsdl:input name="frammentataRequest" message="impl:frammentataRequest" />
      <wsdl:output name="frammentataResponse" message="impl:frammentataResponse" />
    </wsdl:operation>
    <wsdl:operation name="statospedizione" parameterOrder="conservatore soggetto TicketGUID NomeFileZip">
      <wsdl:input name="statospedizioneRequest" message="impl:statospedizioneRequest" />
      <wsdl:output name="statospedizioneResponse" message="impl:statospedizioneResponse" />
    </wsdl:operation>
    <wsdl:operation name="esitospedizione" parameterOrder="conservatore soggetto TicketGUID NomeFileZip CodiceClasseDocumentale">
      <wsdl:input name="esitospedizioneRequest" message="impl:esitospedizioneRequest" />
      <wsdl:output name="esitospedizioneResponse" message="impl:esitospedizioneResponse" />
    </wsdl:operation>
    <wsdl:operation name="elencoclassidocumentali" parameterOrder="conservatore soggetto TicketGUID">
      <wsdl:input name="elencoclassidocumentaliRequest" message="impl:elencoclassidocumentaliRequest" />
      <wsdl:output name="elencoclassidocumentaliResponse" message="impl:elencoclassidocumentaliResponse" />
    </wsdl:operation>
    <wsdl:operation name="elencochiaviclassedocumentale" parameterOrder="conservatore soggetto TicketGUID CodiceClasseDocumentale">
      <wsdl:input name="elencochiaviclassedocumentaleRequest" message="impl:elencochiaviclassedocumentaleRequest" />
      <wsdl:output name="elencochiaviclassedocumentaleResponse" message="impl:elencochiaviclassedocumentaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="ricercaperchiavi" parameterOrder="conservatore soggetto TicketGUID ChiaviDiRicerca">
      <wsdl:input name="ricercaperchiaviRequest" message="impl:ricercaperchiaviRequest" />
      <wsdl:output name="ricercaperchiaviResponse" message="impl:ricercaperchiaviResponse" />
    </wsdl:operation>
    <wsdl:operation name="verificaFrammentata" parameterOrder="TicketGUID NomeFileZip">
      <wsdl:input name="verificaFrammentataRequest" message="impl:verificaFrammentataRequest" />
      <wsdl:output name="verificaFrammentataResponse" message="impl:verificaFrammentataResponse" />
    </wsdl:operation>
    <wsdl:operation name="esitodocumento" parameterOrder="conservatore soggetto TicketGUID CodiceUnivoco CodiceClasseDocumentale">
      <wsdl:input name="esitodocumentoRequest" message="impl:esitodocumentoRequest" />
      <wsdl:output name="esitodocumentoResponse" message="impl:esitodocumentoResponse" />
    </wsdl:operation>
    <wsdl:operation name="esitodocumentonome" parameterOrder="conservatore soggetto TicketGUID NomeFileOriginale CodiceSpedizione CodiceClasseDocumentale">
      <wsdl:input name="esitodocumentonomeRequest" message="impl:esitodocumentonomeRequest" />
      <wsdl:output name="esitodocumentonomeResponse" message="impl:esitodocumentonomeResponse" />
    </wsdl:operation>
    <wsdl:operation name="recuperodocumentocodiceassoluto" parameterOrder="conservatore soggetto TicketGUID CodiceUnivoco CodiceClasseDocumentale">
      <wsdl:input name="recuperodocumentocodiceassolutoRequest" message="impl:recuperodocumentocodiceassolutoRequest" />
      <wsdl:output name="recuperodocumentocodiceassolutoResponse" message="impl:recuperodocumentocodiceassolutoResponse" />
    </wsdl:operation>
    <wsdl:operation name="recuperodocumento" parameterOrder="conservatore soggetto TicketGUID NomeFileOriginale CodiceSpedizione CodiceClasseDocumentale">
      <wsdl:input name="recuperodocumentoRequest" message="impl:recuperodocumentoRequest" />
      <wsdl:output name="recuperodocumentoResponse" message="impl:recuperodocumentoResponse" />
    </wsdl:operation>
    <wsdl:operation name="elencolotti" parameterOrder="conservatore soggetto TicketGUID CodiceClasseDocumentale">
      <wsdl:input name="elencolottiRequest" message="impl:elencolottiRequest" />
      <wsdl:output name="elencolottiResponse" message="impl:elencolottiResponse" />
    </wsdl:operation>
    <wsdl:operation name="recuperolotto" parameterOrder="conservatore soggetto TicketGUID LottoID TipoRecupero">
      <wsdl:input name="recuperolottoRequest" message="impl:recuperolottoRequest" />
      <wsdl:output name="recuperolottoResponse" message="impl:recuperolottoResponse" />
    </wsdl:operation>
    <wsdl:operation name="esitorecuperolotto" parameterOrder="conservatore soggetto TicketGUID CodiceRecuperoLotto">
      <wsdl:input name="esitorecuperolottoRequest" message="impl:esitorecuperolottoRequest" />
      <wsdl:output name="esitorecuperolottoResponse" message="impl:esitorecuperolottoResponse" />
    </wsdl:operation>
    <wsdl:operation name="configuraclassedocumentale" parameterOrder="Conservatore Soggetto TicketGUID ClasseDaConfigurare">
      <wsdl:input name="configuraclassedocumentaleRequest" message="impl:configuraclassedocumentaleRequest" />
      <wsdl:output name="configuraclassedocumentaleResponse" message="impl:configuraclassedocumentaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="variazionidaultimainterrogazione" parameterOrder="Conservatore Soggetto TicketGUID">
      <wsdl:input name="variazionidaultimainterrogazioneRequest" message="impl:variazionidaultimainterrogazioneRequest" />
      <wsdl:output name="variazionidaultimainterrogazioneResponse" message="impl:variazionidaultimainterrogazioneResponse" />
    </wsdl:operation>
    <wsdl:operation name="confermavariazioni" parameterOrder="Conservatore Soggetto TicketGUID RispostaGUID">
      <wsdl:input name="confermavariazioniRequest" message="impl:confermavariazioniRequest" />
      <wsdl:output name="confermavariazioniResponse" message="impl:confermavariazioniResponse" />
    </wsdl:operation>
    <wsdl:operation name="chunksize" parameterOrder="TicketGUID">
      <wsdl:input name="chunksizeRequest" message="impl:chunksizeRequest" />
      <wsdl:output name="chunksizeResponse" message="impl:chunksizeResponse" />
    </wsdl:operation>
    <wsdl:operation name="ticketvaliditysecond" parameterOrder="TicketGUID">
      <wsdl:input name="ticketvaliditysecondRequest" message="impl:ticketvaliditysecondRequest" />
      <wsdl:output name="ticketvaliditysecondResponse" message="impl:ticketvaliditysecondResponse" />
    </wsdl:operation>
    <wsdl:operation name="ticketnumberoftrial" parameterOrder="TicketGUID">
      <wsdl:input name="ticketnumberoftrialRequest" message="impl:ticketnumberoftrialRequest" />
      <wsdl:output name="ticketnumberoftrialResponse" message="impl:ticketnumberoftrialResponse" />
    </wsdl:operation>
    <wsdl:operation name="collegaclassi" parameterOrder="Conservatore Soggetto TicketGUID Collegamento">
      <wsdl:input name="collegaclassiRequest" message="impl:collegaclassiRequest" />
      <wsdl:output name="collegaclassiResponse" message="impl:collegaclassiResponse" />
    </wsdl:operation>
    <wsdl:operation name="datidocumenti" parameterOrder="Conservatore Soggetto TicketGUID ClasseDocumentale DataDa DataA">
      <wsdl:input name="datidocumentiRequest" message="impl:datidocumentiRequest" />
      <wsdl:output name="datidocumentiResponse" message="impl:datidocumentiResponse" />
    </wsdl:operation>
    <wsdl:operation name="inserimentosoggetto" parameterOrder="Conservatore TicketGUID CodiceSoggetto DescrizioneSoggetto CodiceSoggettoPadre ElencoClassiDocumentali">
      <wsdl:input name="inserimentosoggettoRequest" message="impl:inserimentosoggettoRequest" />
      <wsdl:output name="inserimentosoggettoResponse" message="impl:inserimentosoggettoResponse" />
    </wsdl:operation>
    <wsdl:operation name="assegnamentoclassisoggetto" parameterOrder="Conservatore TicketGUID CodiceSoggetto CodiceSoggettoPadre ElencoClassiDocumentali">
      <wsdl:input name="assegnamentoclassisoggettoRequest" message="impl:assegnamentoclassisoggettoRequest" />
      <wsdl:output name="assegnamentoclassisoggettoResponse" message="impl:assegnamentoclassisoggettoResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancellazionesoggetto" parameterOrder="Conservatore TicketGUID CodiceSoggetto">
      <wsdl:input name="cancellazionesoggettoRequest" message="impl:cancellazionesoggettoRequest" />
      <wsdl:output name="cancellazionesoggettoResponse" message="impl:cancellazionesoggettoResponse" />
    </wsdl:operation>
    <wsdl:operation name="rimozioneclassisoggetto" parameterOrder="Conservatore TicketGUID CodiceSoggetto CodiceSoggettoPadre ElencoClassiDocumentali">
      <wsdl:input name="rimozioneclassisoggettoRequest" message="impl:rimozioneclassisoggettoRequest" />
      <wsdl:output name="rimozioneclassisoggettoResponse" message="impl:rimozioneclassisoggettoResponse" />
    </wsdl:operation>
    <wsdl:operation name="sfirma" parameterOrder="filedasfirmare">
      <wsdl:input name="sfirmaRequest" message="impl:sfirmaRequest" />
      <wsdl:output name="sfirmaResponse" message="impl:sfirmaResponse" />
    </wsdl:operation>
    <wsdl:operation name="elencoclassidocumentaliiaf" parameterOrder="p_conservatore p_soggetto p_ticketGuid">
      <wsdl:input name="elencoclassidocumentaliiafRequest" message="impl:elencoclassidocumentaliiafRequest" />
      <wsdl:output name="elencoclassidocumentaliiafResponse" message="impl:elencoclassidocumentaliiafResponse" />
    </wsdl:operation>
    <wsdl:operation name="recuperodocumentoFirmato" parameterOrder="p_conservatore p_soggetto p_ticketGuid p_nomeFileOriginale p_codiceSpedizione p_codiceClasseDocumentale p_estensione">
      <wsdl:input name="recuperodocumentoFirmatoRequest" message="impl:recuperodocumentoFirmatoRequest" />
      <wsdl:output name="recuperodocumentoFirmatoResponse" message="impl:recuperodocumentoFirmatoResponse" />
    </wsdl:operation>
    <wsdl:operation name="recuperodocumentocodiceassolutoFirmato" parameterOrder="p_conservatore p_soggetto p_ticketGuid p_codiceUnivoco p_codiceClasseDocumentale Estensione">
      <wsdl:input name="recuperodocumentocodiceassolutoFirmatoRequest" message="impl:recuperodocumentocodiceassolutoFirmatoRequest" />
      <wsdl:output name="recuperodocumentocodiceassolutoFirmatoResponse" message="impl:recuperodocumentocodiceassolutoFirmatoResponse" />
    </wsdl:operation>
    <wsdl:operation name="inserimentosofggetto" parameterOrder="p_conservatore p_ticketGuid p_codiceSoggetto p_descrizioneSoggetto p_codiceSoggettoPadre p_elencoClassiDocumentali">
      <wsdl:input name="inserimentosofggettoRequest" message="impl:inserimentosofggettoRequest" />
      <wsdl:output name="inserimentosofggettoResponse" message="impl:inserimentosofggettoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_as_servizioSoapBinding" type="impl:ws_as_servizio">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="singolo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="singoloRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="singoloResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sequenza">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sequenzaRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="sequenzaResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="semplice">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sempliceRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="sempliceResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="frammentata">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="frammentataRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="frammentataResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="statospedizione">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="statospedizioneRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="statospedizioneResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esitospedizione">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="esitospedizioneRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="esitospedizioneResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="elencoclassidocumentali">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="elencoclassidocumentaliRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="elencoclassidocumentaliResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="elencochiaviclassedocumentale">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="elencochiaviclassedocumentaleRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="elencochiaviclassedocumentaleResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ricercaperchiavi">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ricercaperchiaviRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="ricercaperchiaviResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaFrammentata">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="verificaFrammentataRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="verificaFrammentataResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esitodocumento">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="esitodocumentoRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="esitodocumentoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esitodocumentonome">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="esitodocumentonomeRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="esitodocumentonomeResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperodocumentocodiceassoluto">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="recuperodocumentocodiceassolutoRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="recuperodocumentocodiceassolutoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperodocumento">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="recuperodocumentoRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="recuperodocumentoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="elencolotti">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="elencolottiRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="elencolottiResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperolotto">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="recuperolottoRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="recuperolottoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esitorecuperolotto">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="esitorecuperolottoRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="esitorecuperolottoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuraclassedocumentale">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="configuraclassedocumentaleRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="configuraclassedocumentaleResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="variazionidaultimainterrogazione">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="variazionidaultimainterrogazioneRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="variazionidaultimainterrogazioneResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confermavariazioni">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="confermavariazioniRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="confermavariazioniResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chunksize">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="chunksizeRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="chunksizeResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ticketvaliditysecond">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ticketvaliditysecondRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="ticketvaliditysecondResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ticketnumberoftrial">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ticketnumberoftrialRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="ticketnumberoftrialResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="collegaclassi">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="collegaclassiRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="collegaclassiResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datidocumenti">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="datidocumentiRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="datidocumentiResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserimentosoggetto">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="inserimentosoggettoRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="inserimentosoggettoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assegnamentoclassisoggetto">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="assegnamentoclassisoggettoRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="assegnamentoclassisoggettoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancellazionesoggetto">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="cancellazionesoggettoRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="cancellazionesoggettoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rimozioneclassisoggetto">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="rimozioneclassisoggettoRequest">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="rimozioneclassisoggettoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sfirma">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sfirmaRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="sfirmaResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="elencoclassidocumentaliiaf">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="elencoclassidocumentaliiafRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="elencoclassidocumentaliiafResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperodocumentoFirmato">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="recuperodocumentoFirmatoRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="recuperodocumentoFirmatoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperodocumentocodiceassolutoFirmato">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="recuperodocumentocodiceassolutoFirmatoRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="recuperodocumentocodiceassolutoFirmatoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserimentosofggetto">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="inserimentosofggettoRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="inserimentosofggettoResponse">
        <wsdlsoap:body use="encoded" namespace="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_as_servizioService">
    <wsdl:port name="ws_as_servizio" binding="impl:ws_as_servizioSoapBinding">
      <wsdlsoap:address location="https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>