TaskBuilderNet/Microarea.TaskBuilderNet.TbHermesBL/Web References/TbDMS/Extensions17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.SearchAttachmentsForDocument" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.SearchAttachmentsForDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd13" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="documentNamespace" nillable="true" type="xs:string" />
  <xs:element name="documentKey" nillable="true" type="xs:string" />
  <xs:element name="searchText" nillable="true" type="xs:string" />
  <xs:element name="location" type="xs:int" />
  <xs:element name="searchFields" nillable="true" type="xs:string" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="return" nillable="true" type="q1:ArrayOfint" />
</xs:schema>