TaskBuilderNet/Microarea.TaskBuilderNet.TbHermesBL/Web References/TbDMS/Extensions22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.AttachFolderInDocument" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.AttachFolderInDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="documentNamespace" nillable="true" type="xs:string" />
  <xs:element name="documentKey" nillable="true" type="xs:string" />
  <xs:element name="folder" nillable="true" type="xs:string" />
  <xs:element name="result" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>