TaskBuilderNet/Microarea.TaskBuilderNet.TbHermesBL/Web References/TbDMS/TbDMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:Microarea.Web.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TbDMS" targetNamespace="urn:Microarea.Web.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TbDMSTcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Microarea.Web.Services/Imports">
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd1" namespace="urn:Microarea.Web.Services.AttachFileInDocument" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd2" namespace="urn:Microarea.Web.Services" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd4" namespace="urn:Microarea.Web.Services.AttachFolderInDocument" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd5" namespace="urn:Microarea.Web.Services.AttachFromTable" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd6" namespace="urn:Microarea.Web.Services.GetNewBarcodeValue" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd7" namespace="urn:Microarea.Web.Services.AttachPaperyBarcode" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd8" namespace="urn:Microarea.Web.Services.AttachPaperyInDocument" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd9" namespace="urn:Microarea.Web.Services.RunDocumentWithEAPanel" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd10" namespace="urn:Microarea.Web.Services.GetAttachmentTemporaryFilePath" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd11" namespace="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd12" namespace="urn:Microarea.Web.Services.SearchAttachmentsForDocument" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd13" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd14" namespace="urn:Microarea.Web.Services.GetEasyAttachmentTempPath" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd15" namespace="urn:Microarea.Web.Services.OpenDocumentRepository" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd16" namespace="urn:Microarea.Web.Services.OpenCategories" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd17" namespace="urn:Microarea.Web.Services.OpenSettings" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd18" namespace="urn:Microarea.Web.Services.OpenMassiveAttach" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd19" namespace="urn:Microarea.Web.Services.OpenMonitor" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd20" namespace="urn:Microarea.Web.Services.OpenSOSConfiguration" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd21" namespace="urn:Microarea.Web.Services.AttachFile" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd22" namespace="urn:Microarea.Web.Services.AttachArchivedDocument" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd23" namespace="urn:Microarea.Web.Services.AttachFolder" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd24" namespace="urn:Microarea.Web.Services.ArchiveFile" />
      <xsd:import schemaLocation="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS?xsd=xsd25" namespace="urn:Microarea.Web.Services.ArchiveFolder" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AttachFileInDocumentIn">
    <wsdl:part xmlns:q1="urn:Microarea.Web.Services.AttachFileInDocument" name="documentNamespace" element="q1:documentNamespace" />
    <wsdl:part xmlns:q2="urn:Microarea.Web.Services.AttachFileInDocument" name="documentKey" element="q2:documentKey" />
    <wsdl:part xmlns:q3="urn:Microarea.Web.Services.AttachFileInDocument" name="fileName" element="q3:fileName" />
    <wsdl:part xmlns:q4="urn:Microarea.Web.Services.AttachFileInDocument" name="description" element="q4:description" />
    <wsdl:part xmlns:q5="urn:Microarea.Web.Services.AttachFileInDocument" name="result" element="q5:result" />
  </wsdl:message>
  <wsdl:message name="AttachFileInDocumentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachFileInDocumentOut">
    <wsdl:part xmlns:q6="urn:Microarea.Web.Services.AttachFileInDocument" name="return" element="q6:return" />
    <wsdl:part xmlns:q7="urn:Microarea.Web.Services.AttachFileInDocument" name="result" element="q7:result" />
  </wsdl:message>
  <wsdl:message name="AttachFileInDocumentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachFileInDocument_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q8:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachFolderInDocumentIn">
    <wsdl:part xmlns:q9="urn:Microarea.Web.Services.AttachFolderInDocument" name="documentNamespace" element="q9:documentNamespace" />
    <wsdl:part xmlns:q10="urn:Microarea.Web.Services.AttachFolderInDocument" name="documentKey" element="q10:documentKey" />
    <wsdl:part xmlns:q11="urn:Microarea.Web.Services.AttachFolderInDocument" name="folder" element="q11:folder" />
    <wsdl:part xmlns:q12="urn:Microarea.Web.Services.AttachFolderInDocument" name="result" element="q12:result" />
  </wsdl:message>
  <wsdl:message name="AttachFolderInDocumentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachFolderInDocumentOut">
    <wsdl:part xmlns:q13="urn:Microarea.Web.Services.AttachFolderInDocument" name="return" element="q13:return" />
    <wsdl:part xmlns:q14="urn:Microarea.Web.Services.AttachFolderInDocument" name="result" element="q14:result" />
  </wsdl:message>
  <wsdl:message name="AttachFolderInDocumentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachFolderInDocument_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q15:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachFromTableIn">
    <wsdl:part xmlns:q16="urn:Microarea.Web.Services.AttachFromTable" name="documentNamespace" element="q16:documentNamespace" />
    <wsdl:part xmlns:q17="urn:Microarea.Web.Services.AttachFromTable" name="documentKey" element="q17:documentKey" />
    <wsdl:part xmlns:q18="urn:Microarea.Web.Services.AttachFromTable" name="result" element="q18:result" />
  </wsdl:message>
  <wsdl:message name="AttachFromTableIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachFromTableOut">
    <wsdl:part xmlns:q19="urn:Microarea.Web.Services.AttachFromTable" name="return" element="q19:return" />
    <wsdl:part xmlns:q20="urn:Microarea.Web.Services.AttachFromTable" name="result" element="q20:result" />
  </wsdl:message>
  <wsdl:message name="AttachFromTableOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachFromTable_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q21:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="GetNewBarcodeValueIn" />
  <wsdl:message name="GetNewBarcodeValueIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetNewBarcodeValueOut">
    <wsdl:part xmlns:q22="urn:Microarea.Web.Services.GetNewBarcodeValue" name="return" element="q22:return" />
  </wsdl:message>
  <wsdl:message name="GetNewBarcodeValueOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_GetNewBarcodeValue_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q23:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyBarcodeIn">
    <wsdl:part xmlns:q24="urn:Microarea.Web.Services.AttachPaperyBarcode" name="documentHandle" element="q24:documentHandle" />
    <wsdl:part xmlns:q25="urn:Microarea.Web.Services.AttachPaperyBarcode" name="barcode" element="q25:barcode" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyBarcodeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyBarcodeOut">
    <wsdl:part xmlns:q26="urn:Microarea.Web.Services.AttachPaperyBarcode" name="return" element="q26:return" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyBarcodeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachPaperyBarcode_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q27:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyInDocumentIn">
    <wsdl:part xmlns:q28="urn:Microarea.Web.Services.AttachPaperyInDocument" name="documentNamespace" element="q28:documentNamespace" />
    <wsdl:part xmlns:q29="urn:Microarea.Web.Services.AttachPaperyInDocument" name="documentKey" element="q29:documentKey" />
    <wsdl:part xmlns:q30="urn:Microarea.Web.Services.AttachPaperyInDocument" name="barcode" element="q30:barcode" />
    <wsdl:part xmlns:q31="urn:Microarea.Web.Services.AttachPaperyInDocument" name="description" element="q31:description" />
    <wsdl:part xmlns:q32="urn:Microarea.Web.Services.AttachPaperyInDocument" name="result" element="q32:result" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyInDocumentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyInDocumentOut">
    <wsdl:part xmlns:q33="urn:Microarea.Web.Services.AttachPaperyInDocument" name="return" element="q33:return" />
    <wsdl:part xmlns:q34="urn:Microarea.Web.Services.AttachPaperyInDocument" name="result" element="q34:result" />
  </wsdl:message>
  <wsdl:message name="AttachPaperyInDocumentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachPaperyInDocument_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q35="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q35:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="RunDocumentWithEAPanelIn">
    <wsdl:part xmlns:q36="urn:Microarea.Web.Services.RunDocumentWithEAPanel" name="documentNamespace" element="q36:documentNamespace" />
    <wsdl:part xmlns:q37="urn:Microarea.Web.Services.RunDocumentWithEAPanel" name="documentKey" element="q37:documentKey" />
    <wsdl:part xmlns:q38="urn:Microarea.Web.Services.RunDocumentWithEAPanel" name="result" element="q38:result" />
  </wsdl:message>
  <wsdl:message name="RunDocumentWithEAPanelIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="RunDocumentWithEAPanelOut">
    <wsdl:part xmlns:q39="urn:Microarea.Web.Services.RunDocumentWithEAPanel" name="return" element="q39:return" />
    <wsdl:part xmlns:q40="urn:Microarea.Web.Services.RunDocumentWithEAPanel" name="result" element="q40:result" />
  </wsdl:message>
  <wsdl:message name="RunDocumentWithEAPanelOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_RunDocumentWithEAPanel_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q41="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q41:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentTemporaryFilePathIn">
    <wsdl:part xmlns:q42="urn:Microarea.Web.Services.GetAttachmentTemporaryFilePath" name="attachmentID" element="q42:attachmentID" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentTemporaryFilePathIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentTemporaryFilePathOut">
    <wsdl:part xmlns:q43="urn:Microarea.Web.Services.GetAttachmentTemporaryFilePath" name="return" element="q43:return" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentTemporaryFilePathOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_GetAttachmentTemporaryFilePath_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q44="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q44:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="MassiveAttachUnattendedModeIn">
    <wsdl:part xmlns:q45="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" name="folder" element="q45:folder" />
    <wsdl:part xmlns:q46="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" name="splitFile" element="q46:splitFile" />
    <wsdl:part xmlns:q47="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" name="result" element="q47:result" />
  </wsdl:message>
  <wsdl:message name="MassiveAttachUnattendedModeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="MassiveAttachUnattendedModeOut">
    <wsdl:part xmlns:q48="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" name="return" element="q48:return" />
    <wsdl:part xmlns:q49="urn:Microarea.Web.Services.MassiveAttachUnattendedMode" name="result" element="q49:result" />
  </wsdl:message>
  <wsdl:message name="MassiveAttachUnattendedModeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_MassiveAttachUnattendedMode_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q50="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q50:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="SearchAttachmentsForDocumentIn">
    <wsdl:part xmlns:q51="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="documentNamespace" element="q51:documentNamespace" />
    <wsdl:part xmlns:q52="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="documentKey" element="q52:documentKey" />
    <wsdl:part xmlns:q53="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="searchText" element="q53:searchText" />
    <wsdl:part xmlns:q54="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="location" element="q54:location" />
    <wsdl:part xmlns:q55="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="searchFields" element="q55:searchFields" />
  </wsdl:message>
  <wsdl:message name="SearchAttachmentsForDocumentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="SearchAttachmentsForDocumentOut">
    <wsdl:part xmlns:q56="urn:Microarea.Web.Services.SearchAttachmentsForDocument" name="return" element="q56:return" />
  </wsdl:message>
  <wsdl:message name="SearchAttachmentsForDocumentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_SearchAttachmentsForDocument_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q57="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q57:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="GetEasyAttachmentTempPathIn" />
  <wsdl:message name="GetEasyAttachmentTempPathIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetEasyAttachmentTempPathOut">
    <wsdl:part xmlns:q58="urn:Microarea.Web.Services.GetEasyAttachmentTempPath" name="return" element="q58:return" />
  </wsdl:message>
  <wsdl:message name="GetEasyAttachmentTempPathOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_GetEasyAttachmentTempPath_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q59="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q59:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenDocumentRepositoryIn" />
  <wsdl:message name="OpenDocumentRepositoryIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenDocumentRepositoryOut">
    <wsdl:part xmlns:q60="urn:Microarea.Web.Services.OpenDocumentRepository" name="return" element="q60:return" />
  </wsdl:message>
  <wsdl:message name="OpenDocumentRepositoryOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenDocumentRepository_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q61="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q61:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenCategoriesIn" />
  <wsdl:message name="OpenCategoriesIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenCategoriesOut">
    <wsdl:part xmlns:q62="urn:Microarea.Web.Services.OpenCategories" name="return" element="q62:return" />
  </wsdl:message>
  <wsdl:message name="OpenCategoriesOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenCategories_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q63="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q63:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenSettingsIn" />
  <wsdl:message name="OpenSettingsIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenSettingsOut">
    <wsdl:part xmlns:q64="urn:Microarea.Web.Services.OpenSettings" name="return" element="q64:return" />
  </wsdl:message>
  <wsdl:message name="OpenSettingsOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenSettings_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q65="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q65:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenMassiveAttachIn" />
  <wsdl:message name="OpenMassiveAttachIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenMassiveAttachOut">
    <wsdl:part xmlns:q66="urn:Microarea.Web.Services.OpenMassiveAttach" name="return" element="q66:return" />
  </wsdl:message>
  <wsdl:message name="OpenMassiveAttachOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenMassiveAttach_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q67="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q67:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenMonitorIn" />
  <wsdl:message name="OpenMonitorIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenMonitorOut">
    <wsdl:part xmlns:q68="urn:Microarea.Web.Services.OpenMonitor" name="return" element="q68:return" />
  </wsdl:message>
  <wsdl:message name="OpenMonitorOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenMonitor_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q69="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q69:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenSOSConfigurationIn" />
  <wsdl:message name="OpenSOSConfigurationIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenSOSConfigurationOut">
    <wsdl:part xmlns:q70="urn:Microarea.Web.Services.OpenSOSConfiguration" name="return" element="q70:return" />
  </wsdl:message>
  <wsdl:message name="OpenSOSConfigurationOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenSOSConfiguration_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q71="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q71:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="OpenAttachmentWebSearchIn" />
  <wsdl:message name="OpenAttachmentWebSearchIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="OpenAttachmentWebSearchOut" />
  <wsdl:message name="OpenAttachmentWebSearchOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_OpenAttachmentWebSearch_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q72="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q72:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachFileIn">
    <wsdl:part xmlns:q73="urn:Microarea.Web.Services.AttachFile" name="fileName" element="q73:fileName" />
    <wsdl:part xmlns:q74="urn:Microarea.Web.Services.AttachFile" name="description" element="q74:description" />
    <wsdl:part xmlns:q75="urn:Microarea.Web.Services.AttachFile" name="documentHandle" element="q75:documentHandle" />
    <wsdl:part xmlns:q76="urn:Microarea.Web.Services.AttachFile" name="result" element="q76:result" />
  </wsdl:message>
  <wsdl:message name="AttachFileIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachFileOut">
    <wsdl:part xmlns:q77="urn:Microarea.Web.Services.AttachFile" name="return" element="q77:return" />
    <wsdl:part xmlns:q78="urn:Microarea.Web.Services.AttachFile" name="result" element="q78:result" />
  </wsdl:message>
  <wsdl:message name="AttachFileOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachFile_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q79="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q79:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachArchivedDocumentIn">
    <wsdl:part xmlns:q80="urn:Microarea.Web.Services.AttachArchivedDocument" name="archivedDocId" element="q80:archivedDocId" />
    <wsdl:part xmlns:q81="urn:Microarea.Web.Services.AttachArchivedDocument" name="documentHandle" element="q81:documentHandle" />
    <wsdl:part xmlns:q82="urn:Microarea.Web.Services.AttachArchivedDocument" name="result" element="q82:result" />
  </wsdl:message>
  <wsdl:message name="AttachArchivedDocumentIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachArchivedDocumentOut">
    <wsdl:part xmlns:q83="urn:Microarea.Web.Services.AttachArchivedDocument" name="return" element="q83:return" />
    <wsdl:part xmlns:q84="urn:Microarea.Web.Services.AttachArchivedDocument" name="result" element="q84:result" />
  </wsdl:message>
  <wsdl:message name="AttachArchivedDocumentOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachArchivedDocument_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q85="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q85:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="AttachFolderIn">
    <wsdl:part xmlns:q86="urn:Microarea.Web.Services.AttachFolder" name="folder" element="q86:folder" />
    <wsdl:part xmlns:q87="urn:Microarea.Web.Services.AttachFolder" name="documentHandle" element="q87:documentHandle" />
    <wsdl:part xmlns:q88="urn:Microarea.Web.Services.AttachFolder" name="result" element="q88:result" />
  </wsdl:message>
  <wsdl:message name="AttachFolderIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="AttachFolderOut">
    <wsdl:part xmlns:q89="urn:Microarea.Web.Services.AttachFolder" name="return" element="q89:return" />
    <wsdl:part xmlns:q90="urn:Microarea.Web.Services.AttachFolder" name="result" element="q90:result" />
  </wsdl:message>
  <wsdl:message name="AttachFolderOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_AttachFolder_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q91="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q91:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="ArchiveFileIn">
    <wsdl:part xmlns:q92="urn:Microarea.Web.Services.ArchiveFile" name="fileName" element="q92:fileName" />
    <wsdl:part xmlns:q93="urn:Microarea.Web.Services.ArchiveFile" name="description" element="q93:description" />
    <wsdl:part xmlns:q94="urn:Microarea.Web.Services.ArchiveFile" name="result" element="q94:result" />
  </wsdl:message>
  <wsdl:message name="ArchiveFileIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="ArchiveFileOut">
    <wsdl:part xmlns:q95="urn:Microarea.Web.Services.ArchiveFile" name="return" element="q95:return" />
    <wsdl:part xmlns:q96="urn:Microarea.Web.Services.ArchiveFile" name="result" element="q96:result" />
  </wsdl:message>
  <wsdl:message name="ArchiveFileOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_ArchiveFile_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q97="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q97:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="ArchiveFolderIn">
    <wsdl:part xmlns:q98="urn:Microarea.Web.Services.ArchiveFolder" name="folder" element="q98:folder" />
    <wsdl:part xmlns:q99="urn:Microarea.Web.Services.ArchiveFolder" name="result" element="q99:result" />
  </wsdl:message>
  <wsdl:message name="ArchiveFolderIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="ArchiveFolderOut">
    <wsdl:part xmlns:q100="urn:Microarea.Web.Services.ArchiveFolder" name="return" element="q100:return" />
    <wsdl:part xmlns:q101="urn:Microarea.Web.Services.ArchiveFolder" name="result" element="q101:result" />
  </wsdl:message>
  <wsdl:message name="ArchiveFolderOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TbDMS_ArchiveFolder_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q102="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q102:TBSoapFault" />
  </wsdl:message>
  <wsdl:portType name="TbDMS">
    <wsdl:operation name="AttachFileInDocument">
      <wsdl:input wsaw:Action="#AttachFileInDocument" name="AttachFileInDocumentIn" message="tns:AttachFileInDocumentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFileInDocumentResponse" name="AttachFileInDocumentOut" message="tns:AttachFileInDocumentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFileInDocumentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachFileInDocument_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachFolderInDocument">
      <wsdl:input wsaw:Action="#AttachFolderInDocument" name="AttachFolderInDocumentIn" message="tns:AttachFolderInDocumentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFolderInDocumentResponse" name="AttachFolderInDocumentOut" message="tns:AttachFolderInDocumentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFolderInDocumentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachFolderInDocument_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachFromTable">
      <wsdl:input wsaw:Action="#AttachFromTable" name="AttachFromTableIn" message="tns:AttachFromTableIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFromTableResponse" name="AttachFromTableOut" message="tns:AttachFromTableOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFromTableTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachFromTable_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewBarcodeValue">
      <wsdl:input wsaw:Action="#GetNewBarcodeValue" name="GetNewBarcodeValueIn" message="tns:GetNewBarcodeValueIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetNewBarcodeValueResponse" name="GetNewBarcodeValueOut" message="tns:GetNewBarcodeValueOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetNewBarcodeValueTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_GetNewBarcodeValue_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachPaperyBarcode">
      <wsdl:input wsaw:Action="#AttachPaperyBarcode" name="AttachPaperyBarcodeIn" message="tns:AttachPaperyBarcodeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachPaperyBarcodeResponse" name="AttachPaperyBarcodeOut" message="tns:AttachPaperyBarcodeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachPaperyBarcodeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachPaperyBarcode_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachPaperyInDocument">
      <wsdl:input wsaw:Action="#AttachPaperyInDocument" name="AttachPaperyInDocumentIn" message="tns:AttachPaperyInDocumentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachPaperyInDocumentResponse" name="AttachPaperyInDocumentOut" message="tns:AttachPaperyInDocumentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachPaperyInDocumentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachPaperyInDocument_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunDocumentWithEAPanel">
      <wsdl:input wsaw:Action="#RunDocumentWithEAPanel" name="RunDocumentWithEAPanelIn" message="tns:RunDocumentWithEAPanelIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/RunDocumentWithEAPanelResponse" name="RunDocumentWithEAPanelOut" message="tns:RunDocumentWithEAPanelOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/RunDocumentWithEAPanelTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_RunDocumentWithEAPanel_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentTemporaryFilePath">
      <wsdl:input wsaw:Action="#GetAttachmentTemporaryFilePath" name="GetAttachmentTemporaryFilePathIn" message="tns:GetAttachmentTemporaryFilePathIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetAttachmentTemporaryFilePathResponse" name="GetAttachmentTemporaryFilePathOut" message="tns:GetAttachmentTemporaryFilePathOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetAttachmentTemporaryFilePathTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_GetAttachmentTemporaryFilePath_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="MassiveAttachUnattendedMode">
      <wsdl:input wsaw:Action="#MassiveAttachUnattendedMode" name="MassiveAttachUnattendedModeIn" message="tns:MassiveAttachUnattendedModeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/MassiveAttachUnattendedModeResponse" name="MassiveAttachUnattendedModeOut" message="tns:MassiveAttachUnattendedModeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/MassiveAttachUnattendedModeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_MassiveAttachUnattendedMode_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAttachmentsForDocument">
      <wsdl:input wsaw:Action="#SearchAttachmentsForDocument" name="SearchAttachmentsForDocumentIn" message="tns:SearchAttachmentsForDocumentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/SearchAttachmentsForDocumentResponse" name="SearchAttachmentsForDocumentOut" message="tns:SearchAttachmentsForDocumentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/SearchAttachmentsForDocumentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_SearchAttachmentsForDocument_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEasyAttachmentTempPath">
      <wsdl:input wsaw:Action="#GetEasyAttachmentTempPath" name="GetEasyAttachmentTempPathIn" message="tns:GetEasyAttachmentTempPathIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetEasyAttachmentTempPathResponse" name="GetEasyAttachmentTempPathOut" message="tns:GetEasyAttachmentTempPathOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/GetEasyAttachmentTempPathTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_GetEasyAttachmentTempPath_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenDocumentRepository">
      <wsdl:input wsaw:Action="#OpenDocumentRepository" name="OpenDocumentRepositoryIn" message="tns:OpenDocumentRepositoryIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenDocumentRepositoryResponse" name="OpenDocumentRepositoryOut" message="tns:OpenDocumentRepositoryOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenDocumentRepositoryTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenDocumentRepository_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenCategories">
      <wsdl:input wsaw:Action="#OpenCategories" name="OpenCategoriesIn" message="tns:OpenCategoriesIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenCategoriesResponse" name="OpenCategoriesOut" message="tns:OpenCategoriesOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenCategoriesTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenCategories_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenSettings">
      <wsdl:input wsaw:Action="#OpenSettings" name="OpenSettingsIn" message="tns:OpenSettingsIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenSettingsResponse" name="OpenSettingsOut" message="tns:OpenSettingsOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenSettingsTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenSettings_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenMassiveAttach">
      <wsdl:input wsaw:Action="#OpenMassiveAttach" name="OpenMassiveAttachIn" message="tns:OpenMassiveAttachIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenMassiveAttachResponse" name="OpenMassiveAttachOut" message="tns:OpenMassiveAttachOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenMassiveAttachTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenMassiveAttach_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenMonitor">
      <wsdl:input wsaw:Action="#OpenMonitor" name="OpenMonitorIn" message="tns:OpenMonitorIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenMonitorResponse" name="OpenMonitorOut" message="tns:OpenMonitorOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenMonitorTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenMonitor_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenSOSConfiguration">
      <wsdl:input wsaw:Action="#OpenSOSConfiguration" name="OpenSOSConfigurationIn" message="tns:OpenSOSConfigurationIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenSOSConfigurationResponse" name="OpenSOSConfigurationOut" message="tns:OpenSOSConfigurationOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenSOSConfigurationTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenSOSConfiguration_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenAttachmentWebSearch">
      <wsdl:input wsaw:Action="#OpenAttachmentWebSearch" name="OpenAttachmentWebSearchIn" message="tns:OpenAttachmentWebSearchIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenAttachmentWebSearchResponse" name="OpenAttachmentWebSearchOut" message="tns:OpenAttachmentWebSearchOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/OpenAttachmentWebSearchTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_OpenAttachmentWebSearch_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachFile">
      <wsdl:input wsaw:Action="#AttachFile" name="AttachFileIn" message="tns:AttachFileIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFileResponse" name="AttachFileOut" message="tns:AttachFileOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFileTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachFile_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachArchivedDocument">
      <wsdl:input wsaw:Action="#AttachArchivedDocument" name="AttachArchivedDocumentIn" message="tns:AttachArchivedDocumentIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachArchivedDocumentResponse" name="AttachArchivedDocumentOut" message="tns:AttachArchivedDocumentOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachArchivedDocumentTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachArchivedDocument_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachFolder">
      <wsdl:input wsaw:Action="#AttachFolder" name="AttachFolderIn" message="tns:AttachFolderIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFolderResponse" name="AttachFolderOut" message="tns:AttachFolderOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/AttachFolderTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_AttachFolder_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchiveFile">
      <wsdl:input wsaw:Action="#ArchiveFile" name="ArchiveFileIn" message="tns:ArchiveFileIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/ArchiveFileResponse" name="ArchiveFileOut" message="tns:ArchiveFileOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/ArchiveFileTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_ArchiveFile_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchiveFolder">
      <wsdl:input wsaw:Action="#ArchiveFolder" name="ArchiveFolderIn" message="tns:ArchiveFolderIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/TbDMS/ArchiveFolderResponse" name="ArchiveFolderOut" message="tns:ArchiveFolderOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/TbDMS/ArchiveFolderTBSoapFaultFault" name="TBSoapFaultFault" message="tns:TbDMS_ArchiveFolder_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TbDMSSoap" type="tns:TbDMS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AttachFileInDocument">
      <soap:operation soapAction="#AttachFileInDocument" style="document" />
      <wsdl:input name="AttachFileInDocumentIn">
        <soap:header message="tns:AttachFileInDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFileInDocumentOut">
        <soap:header message="tns:AttachFileInDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFolderInDocument">
      <soap:operation soapAction="#AttachFolderInDocument" style="document" />
      <wsdl:input name="AttachFolderInDocumentIn">
        <soap:header message="tns:AttachFolderInDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFolderInDocumentOut">
        <soap:header message="tns:AttachFolderInDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFromTable">
      <soap:operation soapAction="#AttachFromTable" style="document" />
      <wsdl:input name="AttachFromTableIn">
        <soap:header message="tns:AttachFromTableIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFromTableOut">
        <soap:header message="tns:AttachFromTableOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNewBarcodeValue">
      <soap:operation soapAction="#GetNewBarcodeValue" style="document" />
      <wsdl:input name="GetNewBarcodeValueIn">
        <soap:header message="tns:GetNewBarcodeValueIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNewBarcodeValueOut">
        <soap:header message="tns:GetNewBarcodeValueOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachPaperyBarcode">
      <soap:operation soapAction="#AttachPaperyBarcode" style="document" />
      <wsdl:input name="AttachPaperyBarcodeIn">
        <soap:header message="tns:AttachPaperyBarcodeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachPaperyBarcodeOut">
        <soap:header message="tns:AttachPaperyBarcodeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachPaperyInDocument">
      <soap:operation soapAction="#AttachPaperyInDocument" style="document" />
      <wsdl:input name="AttachPaperyInDocumentIn">
        <soap:header message="tns:AttachPaperyInDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachPaperyInDocumentOut">
        <soap:header message="tns:AttachPaperyInDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunDocumentWithEAPanel">
      <soap:operation soapAction="#RunDocumentWithEAPanel" style="document" />
      <wsdl:input name="RunDocumentWithEAPanelIn">
        <soap:header message="tns:RunDocumentWithEAPanelIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RunDocumentWithEAPanelOut">
        <soap:header message="tns:RunDocumentWithEAPanelOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentTemporaryFilePath">
      <soap:operation soapAction="#GetAttachmentTemporaryFilePath" style="document" />
      <wsdl:input name="GetAttachmentTemporaryFilePathIn">
        <soap:header message="tns:GetAttachmentTemporaryFilePathIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAttachmentTemporaryFilePathOut">
        <soap:header message="tns:GetAttachmentTemporaryFilePathOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MassiveAttachUnattendedMode">
      <soap:operation soapAction="#MassiveAttachUnattendedMode" style="document" />
      <wsdl:input name="MassiveAttachUnattendedModeIn">
        <soap:header message="tns:MassiveAttachUnattendedModeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MassiveAttachUnattendedModeOut">
        <soap:header message="tns:MassiveAttachUnattendedModeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchAttachmentsForDocument">
      <soap:operation soapAction="#SearchAttachmentsForDocument" style="document" />
      <wsdl:input name="SearchAttachmentsForDocumentIn">
        <soap:header message="tns:SearchAttachmentsForDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchAttachmentsForDocumentOut">
        <soap:header message="tns:SearchAttachmentsForDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEasyAttachmentTempPath">
      <soap:operation soapAction="#GetEasyAttachmentTempPath" style="document" />
      <wsdl:input name="GetEasyAttachmentTempPathIn">
        <soap:header message="tns:GetEasyAttachmentTempPathIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetEasyAttachmentTempPathOut">
        <soap:header message="tns:GetEasyAttachmentTempPathOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenDocumentRepository">
      <soap:operation soapAction="#OpenDocumentRepository" style="document" />
      <wsdl:input name="OpenDocumentRepositoryIn">
        <soap:header message="tns:OpenDocumentRepositoryIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenDocumentRepositoryOut">
        <soap:header message="tns:OpenDocumentRepositoryOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenCategories">
      <soap:operation soapAction="#OpenCategories" style="document" />
      <wsdl:input name="OpenCategoriesIn">
        <soap:header message="tns:OpenCategoriesIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenCategoriesOut">
        <soap:header message="tns:OpenCategoriesOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenSettings">
      <soap:operation soapAction="#OpenSettings" style="document" />
      <wsdl:input name="OpenSettingsIn">
        <soap:header message="tns:OpenSettingsIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenSettingsOut">
        <soap:header message="tns:OpenSettingsOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenMassiveAttach">
      <soap:operation soapAction="#OpenMassiveAttach" style="document" />
      <wsdl:input name="OpenMassiveAttachIn">
        <soap:header message="tns:OpenMassiveAttachIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenMassiveAttachOut">
        <soap:header message="tns:OpenMassiveAttachOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenMonitor">
      <soap:operation soapAction="#OpenMonitor" style="document" />
      <wsdl:input name="OpenMonitorIn">
        <soap:header message="tns:OpenMonitorIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenMonitorOut">
        <soap:header message="tns:OpenMonitorOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenSOSConfiguration">
      <soap:operation soapAction="#OpenSOSConfiguration" style="document" />
      <wsdl:input name="OpenSOSConfigurationIn">
        <soap:header message="tns:OpenSOSConfigurationIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenSOSConfigurationOut">
        <soap:header message="tns:OpenSOSConfigurationOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenAttachmentWebSearch">
      <soap:operation soapAction="#OpenAttachmentWebSearch" style="document" />
      <wsdl:input name="OpenAttachmentWebSearchIn">
        <soap:header message="tns:OpenAttachmentWebSearchIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenAttachmentWebSearchOut">
        <soap:header message="tns:OpenAttachmentWebSearchOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFile">
      <soap:operation soapAction="#AttachFile" style="document" />
      <wsdl:input name="AttachFileIn">
        <soap:header message="tns:AttachFileIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFileOut">
        <soap:header message="tns:AttachFileOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachArchivedDocument">
      <soap:operation soapAction="#AttachArchivedDocument" style="document" />
      <wsdl:input name="AttachArchivedDocumentIn">
        <soap:header message="tns:AttachArchivedDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachArchivedDocumentOut">
        <soap:header message="tns:AttachArchivedDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFolder">
      <soap:operation soapAction="#AttachFolder" style="document" />
      <wsdl:input name="AttachFolderIn">
        <soap:header message="tns:AttachFolderIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFolderOut">
        <soap:header message="tns:AttachFolderOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ArchiveFile">
      <soap:operation soapAction="#ArchiveFile" style="document" />
      <wsdl:input name="ArchiveFileIn">
        <soap:header message="tns:ArchiveFileIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ArchiveFileOut">
        <soap:header message="tns:ArchiveFileOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ArchiveFolder">
      <soap:operation soapAction="#ArchiveFolder" style="document" />
      <wsdl:input name="ArchiveFolderIn">
        <soap:header message="tns:ArchiveFolderIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ArchiveFolderOut">
        <soap:header message="tns:ArchiveFolderOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TbDMSTcp" type="tns:TbDMS">
    <wsp:PolicyReference URI="#TbDMSTcp_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AttachFileInDocument">
      <soap12:operation soapAction="#AttachFileInDocument" style="document" />
      <wsdl:input name="AttachFileInDocumentIn">
        <soap12:header message="tns:AttachFileInDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFileInDocumentOut">
        <soap12:header message="tns:AttachFileInDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFolderInDocument">
      <soap12:operation soapAction="#AttachFolderInDocument" style="document" />
      <wsdl:input name="AttachFolderInDocumentIn">
        <soap12:header message="tns:AttachFolderInDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFolderInDocumentOut">
        <soap12:header message="tns:AttachFolderInDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFromTable">
      <soap12:operation soapAction="#AttachFromTable" style="document" />
      <wsdl:input name="AttachFromTableIn">
        <soap12:header message="tns:AttachFromTableIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFromTableOut">
        <soap12:header message="tns:AttachFromTableOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNewBarcodeValue">
      <soap12:operation soapAction="#GetNewBarcodeValue" style="document" />
      <wsdl:input name="GetNewBarcodeValueIn">
        <soap12:header message="tns:GetNewBarcodeValueIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNewBarcodeValueOut">
        <soap12:header message="tns:GetNewBarcodeValueOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachPaperyBarcode">
      <soap12:operation soapAction="#AttachPaperyBarcode" style="document" />
      <wsdl:input name="AttachPaperyBarcodeIn">
        <soap12:header message="tns:AttachPaperyBarcodeIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachPaperyBarcodeOut">
        <soap12:header message="tns:AttachPaperyBarcodeOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachPaperyInDocument">
      <soap12:operation soapAction="#AttachPaperyInDocument" style="document" />
      <wsdl:input name="AttachPaperyInDocumentIn">
        <soap12:header message="tns:AttachPaperyInDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachPaperyInDocumentOut">
        <soap12:header message="tns:AttachPaperyInDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunDocumentWithEAPanel">
      <soap12:operation soapAction="#RunDocumentWithEAPanel" style="document" />
      <wsdl:input name="RunDocumentWithEAPanelIn">
        <soap12:header message="tns:RunDocumentWithEAPanelIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RunDocumentWithEAPanelOut">
        <soap12:header message="tns:RunDocumentWithEAPanelOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentTemporaryFilePath">
      <soap12:operation soapAction="#GetAttachmentTemporaryFilePath" style="document" />
      <wsdl:input name="GetAttachmentTemporaryFilePathIn">
        <soap12:header message="tns:GetAttachmentTemporaryFilePathIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAttachmentTemporaryFilePathOut">
        <soap12:header message="tns:GetAttachmentTemporaryFilePathOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MassiveAttachUnattendedMode">
      <soap12:operation soapAction="#MassiveAttachUnattendedMode" style="document" />
      <wsdl:input name="MassiveAttachUnattendedModeIn">
        <soap12:header message="tns:MassiveAttachUnattendedModeIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MassiveAttachUnattendedModeOut">
        <soap12:header message="tns:MassiveAttachUnattendedModeOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchAttachmentsForDocument">
      <soap12:operation soapAction="#SearchAttachmentsForDocument" style="document" />
      <wsdl:input name="SearchAttachmentsForDocumentIn">
        <soap12:header message="tns:SearchAttachmentsForDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchAttachmentsForDocumentOut">
        <soap12:header message="tns:SearchAttachmentsForDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEasyAttachmentTempPath">
      <soap12:operation soapAction="#GetEasyAttachmentTempPath" style="document" />
      <wsdl:input name="GetEasyAttachmentTempPathIn">
        <soap12:header message="tns:GetEasyAttachmentTempPathIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetEasyAttachmentTempPathOut">
        <soap12:header message="tns:GetEasyAttachmentTempPathOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenDocumentRepository">
      <soap12:operation soapAction="#OpenDocumentRepository" style="document" />
      <wsdl:input name="OpenDocumentRepositoryIn">
        <soap12:header message="tns:OpenDocumentRepositoryIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenDocumentRepositoryOut">
        <soap12:header message="tns:OpenDocumentRepositoryOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenCategories">
      <soap12:operation soapAction="#OpenCategories" style="document" />
      <wsdl:input name="OpenCategoriesIn">
        <soap12:header message="tns:OpenCategoriesIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenCategoriesOut">
        <soap12:header message="tns:OpenCategoriesOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenSettings">
      <soap12:operation soapAction="#OpenSettings" style="document" />
      <wsdl:input name="OpenSettingsIn">
        <soap12:header message="tns:OpenSettingsIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenSettingsOut">
        <soap12:header message="tns:OpenSettingsOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenMassiveAttach">
      <soap12:operation soapAction="#OpenMassiveAttach" style="document" />
      <wsdl:input name="OpenMassiveAttachIn">
        <soap12:header message="tns:OpenMassiveAttachIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenMassiveAttachOut">
        <soap12:header message="tns:OpenMassiveAttachOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenMonitor">
      <soap12:operation soapAction="#OpenMonitor" style="document" />
      <wsdl:input name="OpenMonitorIn">
        <soap12:header message="tns:OpenMonitorIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenMonitorOut">
        <soap12:header message="tns:OpenMonitorOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenSOSConfiguration">
      <soap12:operation soapAction="#OpenSOSConfiguration" style="document" />
      <wsdl:input name="OpenSOSConfigurationIn">
        <soap12:header message="tns:OpenSOSConfigurationIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenSOSConfigurationOut">
        <soap12:header message="tns:OpenSOSConfigurationOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenAttachmentWebSearch">
      <soap12:operation soapAction="#OpenAttachmentWebSearch" style="document" />
      <wsdl:input name="OpenAttachmentWebSearchIn">
        <soap12:header message="tns:OpenAttachmentWebSearchIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OpenAttachmentWebSearchOut">
        <soap12:header message="tns:OpenAttachmentWebSearchOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFile">
      <soap12:operation soapAction="#AttachFile" style="document" />
      <wsdl:input name="AttachFileIn">
        <soap12:header message="tns:AttachFileIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFileOut">
        <soap12:header message="tns:AttachFileOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachArchivedDocument">
      <soap12:operation soapAction="#AttachArchivedDocument" style="document" />
      <wsdl:input name="AttachArchivedDocumentIn">
        <soap12:header message="tns:AttachArchivedDocumentIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachArchivedDocumentOut">
        <soap12:header message="tns:AttachArchivedDocumentOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttachFolder">
      <soap12:operation soapAction="#AttachFolder" style="document" />
      <wsdl:input name="AttachFolderIn">
        <soap12:header message="tns:AttachFolderIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AttachFolderOut">
        <soap12:header message="tns:AttachFolderOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ArchiveFile">
      <soap12:operation soapAction="#ArchiveFile" style="document" />
      <wsdl:input name="ArchiveFileIn">
        <soap12:header message="tns:ArchiveFileIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ArchiveFileOut">
        <soap12:header message="tns:ArchiveFileOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ArchiveFolder">
      <soap12:operation soapAction="#ArchiveFolder" style="document" />
      <wsdl:input name="ArchiveFolderIn">
        <soap12:header message="tns:ArchiveFolderIn_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ArchiveFolderOut">
        <soap12:header message="tns:ArchiveFolderOut_Headers" part="HeaderInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap12:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TbDMS">
    <wsdl:port name="TbDMSSoap" binding="tns:TbDMSSoap">
      <soap:address location="http://usr-sassofeder:10000/Extensions.EasyAttachment.TbDMS/TbDMS" />
    </wsdl:port>
    <wsdl:port name="TbDMSTcp" binding="tns:TbDMSTcp">
      <soap12:address location="net.tcp://usr-sassofeder:10001/Extensions.EasyAttachment.TbDMS/TbDMS" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://usr-sassofeder:10001/Extensions.EasyAttachment.TbDMS/TbDMS</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>sasso@microarea.it</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>