TaskBuilderNet/Microarea.TaskBuilderNet.Core/Web References/sosProxy/SOSProxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Init">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitResponse">
        <s:complexType />
      </s:element>
      <s:element name="Singolo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codiceConservatore" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SingoloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SingoloResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="tns:Ticket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Ticket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chunks" type="tns:ArrayOfTicketChunk" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTicketChunk">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TicketChunk" nillable="true" type="tns:TicketChunk" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TicketChunk">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Posizione" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Sequenza">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codiceConservatore" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numeroChunk" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dimensione" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SequenzaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SequenzaResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="tns:Ticket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Semplice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticketGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeFileZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contenutoFileZip" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SempliceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SempliceResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="spedizioneSemplice" type="tns:RispostaSpedizione" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RispostaSpedizione">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Risposta" type="tns:RispostaSpedizioneEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceSpedizione" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sequenza" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Errore" type="tns:CodiceErrore" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RispostaSpedizioneEnum">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="KO" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CodiceErrore">
        <s:restriction base="s:string">
          <s:enumeration value="EMPTY" />
          <s:enumeration value="SPEDIZIONEGIAPRESENTE" />
          <s:enumeration value="IMPOSSIBILESALVARE" />
          <s:enumeration value="DOCERRNORECORD" />
          <s:enumeration value="DOCERRKEYMISSING" />
          <s:enumeration value="DOCERRKEYWRONG" />
          <s:enumeration value="DOCERRNODOC" />
          <s:enumeration value="DOCERRHASHWRONG" />
          <s:enumeration value="DOCWRNEXP" />
          <s:enumeration value="DOCWRNNUM" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Frammentata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticketGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ticketChunkGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeFileZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contenutoBlocco" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FrammentataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FrammentataResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="spedizioneFrammentata" type="tns:RispostaSpedizione" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatoSpedizione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conservatore" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ticketGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeFileZip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatoSpedizioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StatoSpedizioneResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="statospedizione" type="tns:StatoSpedizione" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StatoSpedizione">
        <s:complexContent mixed="false">
          <s:extension base="tns:Spedizione">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Contenuto" type="tns:Contenuto" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Spedizione">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodiceSpedizione" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NaturaSpedizione" type="tns:NaturaSpedizione" />
          <s:element minOccurs="1" maxOccurs="1" name="DataPresaInCarico" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceClasseDocumentale" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatoSpedizione" type="tns:StatoSpedizioneEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="NaturaSpedizione">
        <s:restriction base="s:string">
          <s:enumeration value="EMPTY" />
          <s:enumeration value="SPDSMP" />
          <s:enumeration value="SPDFRM" />
          <s:enumeration value="SPDFTP" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="StatoSpedizioneEnum">
        <s:restriction base="s:string">
          <s:enumeration value="EMPTY" />
          <s:enumeration value="SPDOP" />
          <s:enumeration value="SPDNOP" />
          <s:enumeration value="SPDEXIST" />
          <s:enumeration value="SPDNEX" />
          <s:enumeration value="SPDALLOK" />
          <s:enumeration value="SPDALLKO" />
          <s:enumeration value="SPDOKWERR" />
          <s:enumeration value="SPDSUBUNAUTH" />
          <s:enumeration value="SPDCONUNEX" />
          <s:enumeration value="SPDCUSTUNEX" />
          <s:enumeration value="SPDOK" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Contenuto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DataArchiviazioneDocumentale" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="EsitoSpedizione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conservatore" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ticketGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeFileZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceClasseDocumentale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsitoSpedizioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EsitoSpedizioneResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="esitoSpedizione" type="tns:EsitoSpedizione" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EsitoSpedizione">
        <s:complexContent mixed="false">
          <s:extension base="tns:Spedizione">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documenti" type="tns:ArrayOfDocumento" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Documento" nillable="true" type="tns:Documento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Documento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DataArchiviazioneDocumentale" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataConservazioneSostitutiva" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceClasseDocumentale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeFileOriginale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceAssoluto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LottoId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatoDocumento" type="tns:StatoDocumento" />
          <s:element minOccurs="0" maxOccurs="1" name="Chiavi" type="tns:ArrayOfChiave" />
          <s:element minOccurs="0" maxOccurs="1" name="Errori" type="tns:ArrayOfErrore" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StatoDocumento">
        <s:restriction base="s:string">
          <s:enumeration value="EMPTY" />
          <s:enumeration value="IDLE" />
          <s:enumeration value="TOSEND" />
          <s:enumeration value="WAITING" />
          <s:enumeration value="SENT" />
          <s:enumeration value="TORESEND" />
          <s:enumeration value="DOCTEMP" />
          <s:enumeration value="DOCSTD" />
          <s:enumeration value="DOCRDY" />
          <s:enumeration value="DOCSIGN" />
          <s:enumeration value="DOCREP" />
          <s:enumeration value="DOCKO" />
          <s:enumeration value="DOCREPSIGN" />
          <s:enumeration value="DOCADDTOEVAL" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfChiave">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Chiave" nillable="true" type="tns:Chiave" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Chiave">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodiceChiave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fiscale" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Lunghezza" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ordine" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataScad" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CPRowNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ValCombo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CdObblig" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Valore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfErrore">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Errore" nillable="true" type="tns:Errore" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Errore">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codice" type="tns:CodiceErrore" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ElencoClassiDocumentali">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conservatore" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ticketGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoClassiDocumentaliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoClassiDocumentaliResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="classeDocList" type="tns:ArrayOfClasseDocumentale" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClasseDocumentale">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClasseDocumentale" nillable="true" type="tns:ClasseDocumentale" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClasseDocumentale">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodiceClasseDocumentale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chiavi" type="tns:ArrayOfChiave" />
        </s:sequence>
      </s:complexType>
      <s:element name="ElencoChiaviClasseDocumentale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conservatore" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ticketGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceClasseDocumentale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoChiaviClasseDocumentaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoChiaviClasseDocumentaleResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="docClass" type="tns:ClasseDocumentale" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitSoapIn">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="InitSoapOut">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="SingoloSoapIn">
    <wsdl:part name="parameters" element="tns:Singolo" />
  </wsdl:message>
  <wsdl:message name="SingoloSoapOut">
    <wsdl:part name="parameters" element="tns:SingoloResponse" />
  </wsdl:message>
  <wsdl:message name="SequenzaSoapIn">
    <wsdl:part name="parameters" element="tns:Sequenza" />
  </wsdl:message>
  <wsdl:message name="SequenzaSoapOut">
    <wsdl:part name="parameters" element="tns:SequenzaResponse" />
  </wsdl:message>
  <wsdl:message name="SempliceSoapIn">
    <wsdl:part name="parameters" element="tns:Semplice" />
  </wsdl:message>
  <wsdl:message name="SempliceSoapOut">
    <wsdl:part name="parameters" element="tns:SempliceResponse" />
  </wsdl:message>
  <wsdl:message name="FrammentataSoapIn">
    <wsdl:part name="parameters" element="tns:Frammentata" />
  </wsdl:message>
  <wsdl:message name="FrammentataSoapOut">
    <wsdl:part name="parameters" element="tns:FrammentataResponse" />
  </wsdl:message>
  <wsdl:message name="StatoSpedizioneSoapIn">
    <wsdl:part name="parameters" element="tns:StatoSpedizione" />
  </wsdl:message>
  <wsdl:message name="StatoSpedizioneSoapOut">
    <wsdl:part name="parameters" element="tns:StatoSpedizioneResponse" />
  </wsdl:message>
  <wsdl:message name="EsitoSpedizioneSoapIn">
    <wsdl:part name="parameters" element="tns:EsitoSpedizione" />
  </wsdl:message>
  <wsdl:message name="EsitoSpedizioneSoapOut">
    <wsdl:part name="parameters" element="tns:EsitoSpedizioneResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoClassiDocumentaliSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoClassiDocumentali" />
  </wsdl:message>
  <wsdl:message name="ElencoClassiDocumentaliSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoClassiDocumentaliResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoChiaviClasseDocumentaleSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoChiaviClasseDocumentale" />
  </wsdl:message>
  <wsdl:message name="ElencoChiaviClasseDocumentaleSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoChiaviClasseDocumentaleResponse" />
  </wsdl:message>
  <wsdl:portType name="SOSProxySoap">
    <wsdl:operation name="Init">
      <wsdl:input message="tns:InitSoapIn" />
      <wsdl:output message="tns:InitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Singolo">
      <wsdl:input message="tns:SingoloSoapIn" />
      <wsdl:output message="tns:SingoloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sequenza">
      <wsdl:input message="tns:SequenzaSoapIn" />
      <wsdl:output message="tns:SequenzaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Semplice">
      <wsdl:input message="tns:SempliceSoapIn" />
      <wsdl:output message="tns:SempliceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Frammentata">
      <wsdl:input message="tns:FrammentataSoapIn" />
      <wsdl:output message="tns:FrammentataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatoSpedizione">
      <wsdl:input message="tns:StatoSpedizioneSoapIn" />
      <wsdl:output message="tns:StatoSpedizioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EsitoSpedizione">
      <wsdl:input message="tns:EsitoSpedizioneSoapIn" />
      <wsdl:output message="tns:EsitoSpedizioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoClassiDocumentali">
      <wsdl:input message="tns:ElencoClassiDocumentaliSoapIn" />
      <wsdl:output message="tns:ElencoClassiDocumentaliSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoChiaviClasseDocumentale">
      <wsdl:input message="tns:ElencoChiaviClasseDocumentaleSoapIn" />
      <wsdl:output message="tns:ElencoChiaviClasseDocumentaleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOSProxySoap" type="tns:SOSProxySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://tempuri.org/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Singolo">
      <soap:operation soapAction="http://tempuri.org/Singolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sequenza">
      <soap:operation soapAction="http://tempuri.org/Sequenza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Semplice">
      <soap:operation soapAction="http://tempuri.org/Semplice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Frammentata">
      <soap:operation soapAction="http://tempuri.org/Frammentata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatoSpedizione">
      <soap:operation soapAction="http://tempuri.org/StatoSpedizione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsitoSpedizione">
      <soap:operation soapAction="http://tempuri.org/EsitoSpedizione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoClassiDocumentali">
      <soap:operation soapAction="http://tempuri.org/ElencoClassiDocumentali" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoChiaviClasseDocumentale">
      <soap:operation soapAction="http://tempuri.org/ElencoChiaviClasseDocumentale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SOSProxySoap12" type="tns:SOSProxySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap12:operation soapAction="http://tempuri.org/Init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Singolo">
      <soap12:operation soapAction="http://tempuri.org/Singolo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sequenza">
      <soap12:operation soapAction="http://tempuri.org/Sequenza" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Semplice">
      <soap12:operation soapAction="http://tempuri.org/Semplice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Frammentata">
      <soap12:operation soapAction="http://tempuri.org/Frammentata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatoSpedizione">
      <soap12:operation soapAction="http://tempuri.org/StatoSpedizione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsitoSpedizione">
      <soap12:operation soapAction="http://tempuri.org/EsitoSpedizione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoClassiDocumentali">
      <soap12:operation soapAction="http://tempuri.org/ElencoClassiDocumentali" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoChiaviClasseDocumentale">
      <soap12:operation soapAction="http://tempuri.org/ElencoChiaviClasseDocumentale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOSProxy">
    <wsdl:port name="SOSProxySoap" binding="tns:SOSProxySoap">
      <soap:address location="http://localhost/Development/TbSender/SOSProxy.asmx" />
    </wsdl:port>
    <wsdl:port name="SOSProxySoap12" binding="tns:SOSProxySoap12">
      <soap12:address location="http://localhost/Development/TbSender/SOSProxy.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>