TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/ERPCustomersSuppliersDbl/CustomersSuppliersDbl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:Microarea.Web.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomersSuppliersDbl" targetNamespace="urn:Microarea.Web.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Microarea.Web.Services/Imports">
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.CustomersSuppliers.Dbl?xsd=xsd1" namespace="urn:Microarea.Web.Services.TaxIdNoCheck" />
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.CustomersSuppliers.Dbl?xsd=xsd2" namespace="urn:Microarea.Web.Services" />
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.CustomersSuppliers.Dbl?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" />
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.CustomersSuppliers.Dbl?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.CustomersSuppliers.Dbl?xsd=xsd4" namespace="urn:Microarea.Web.Services.CheckForTaxIdNoWithCountryCode" />
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.CustomersSuppliers.Dbl?xsd=xsd5" namespace="urn:Microarea.Web.Services.TaxIdNoSecondCheck" />
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.CustomersSuppliers.Dbl?xsd=xsd6" namespace="urn:Microarea.Web.Services.FiscalCodeCheck" />
      <xsd:import schemaLocation="http://usr-bruniluca:10000/ERP.CustomersSuppliers.Dbl?xsd=xsd7" namespace="urn:Microarea.Web.Services.ExistCustForTaxIdOrFiscalCode" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TaxIdNoCheckIn">
    <wsdl:part xmlns:q1="urn:Microarea.Web.Services.TaxIdNoCheck" name="taxIdNumber" element="q1:taxIdNumber" />
  </wsdl:message>
  <wsdl:message name="TaxIdNoCheckIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TaxIdNoCheckOut">
    <wsdl:part xmlns:q2="urn:Microarea.Web.Services.TaxIdNoCheck" name="return" element="q2:return" />
  </wsdl:message>
  <wsdl:message name="TaxIdNoCheckOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CustomersSuppliersDbl_TaxIdNoCheck_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q3:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="CheckForTaxIdNoWithCountryCodeIn">
    <wsdl:part xmlns:q4="urn:Microarea.Web.Services.CheckForTaxIdNoWithCountryCode" name="countryCode" element="q4:countryCode" />
    <wsdl:part xmlns:q5="urn:Microarea.Web.Services.CheckForTaxIdNoWithCountryCode" name="taxIdNumber" element="q5:taxIdNumber" />
  </wsdl:message>
  <wsdl:message name="CheckForTaxIdNoWithCountryCodeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CheckForTaxIdNoWithCountryCodeOut">
    <wsdl:part xmlns:q6="urn:Microarea.Web.Services.CheckForTaxIdNoWithCountryCode" name="return" element="q6:return" />
  </wsdl:message>
  <wsdl:message name="CheckForTaxIdNoWithCountryCodeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CustomersSuppliersDbl_CheckForTaxIdNoWithCountryCode_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q7:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="TaxIdNoSecondCheckIn">
    <wsdl:part xmlns:q8="urn:Microarea.Web.Services.TaxIdNoSecondCheck" name="taxIdNumber" element="q8:taxIdNumber" />
  </wsdl:message>
  <wsdl:message name="TaxIdNoSecondCheckIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="TaxIdNoSecondCheckOut">
    <wsdl:part xmlns:q9="urn:Microarea.Web.Services.TaxIdNoSecondCheck" name="return" element="q9:return" />
  </wsdl:message>
  <wsdl:message name="TaxIdNoSecondCheckOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CustomersSuppliersDbl_TaxIdNoSecondCheck_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q10:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="FiscalCodeCheckIn">
    <wsdl:part xmlns:q11="urn:Microarea.Web.Services.FiscalCodeCheck" name="taxIdNumber" element="q11:taxIdNumber" />
  </wsdl:message>
  <wsdl:message name="FiscalCodeCheckIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="FiscalCodeCheckOut">
    <wsdl:part xmlns:q12="urn:Microarea.Web.Services.FiscalCodeCheck" name="return" element="q12:return" />
  </wsdl:message>
  <wsdl:message name="FiscalCodeCheckOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CustomersSuppliersDbl_FiscalCodeCheck_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q13:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="ExistCustForTaxIdOrFiscalCodeIn">
    <wsdl:part xmlns:q14="urn:Microarea.Web.Services.ExistCustForTaxIdOrFiscalCode" name="taxIdNumber" element="q14:taxIdNumber" />
    <wsdl:part xmlns:q15="urn:Microarea.Web.Services.ExistCustForTaxIdOrFiscalCode" name="FiscalCode" element="q15:FiscalCode" />
  </wsdl:message>
  <wsdl:message name="ExistCustForTaxIdOrFiscalCodeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="ExistCustForTaxIdOrFiscalCodeOut">
    <wsdl:part xmlns:q16="urn:Microarea.Web.Services.ExistCustForTaxIdOrFiscalCode" name="return" element="q16:return" />
  </wsdl:message>
  <wsdl:message name="ExistCustForTaxIdOrFiscalCodeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="CustomersSuppliersDbl_ExistCustForTaxIdOrFiscalCode_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q17:TBSoapFault" />
  </wsdl:message>
  <wsdl:portType name="CustomersSuppliersDbl">
    <wsdl:operation name="TaxIdNoCheck">
      <wsdl:input wsaw:Action="#TaxIdNoCheck" name="TaxIdNoCheckIn" message="tns:TaxIdNoCheckIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/CustomersSuppliersDbl/TaxIdNoCheckResponse" name="TaxIdNoCheckOut" message="tns:TaxIdNoCheckOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/CustomersSuppliersDbl/TaxIdNoCheckTBSoapFaultFault" name="TBSoapFaultFault" message="tns:CustomersSuppliersDbl_TaxIdNoCheck_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckForTaxIdNoWithCountryCode">
      <wsdl:input wsaw:Action="#CheckForTaxIdNoWithCountryCode" name="CheckForTaxIdNoWithCountryCodeIn" message="tns:CheckForTaxIdNoWithCountryCodeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/CustomersSuppliersDbl/CheckForTaxIdNoWithCountryCodeResponse" name="CheckForTaxIdNoWithCountryCodeOut" message="tns:CheckForTaxIdNoWithCountryCodeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/CustomersSuppliersDbl/CheckForTaxIdNoWithCountryCodeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:CustomersSuppliersDbl_CheckForTaxIdNoWithCountryCode_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaxIdNoSecondCheck">
      <wsdl:input wsaw:Action="#TaxIdNoSecondCheck" name="TaxIdNoSecondCheckIn" message="tns:TaxIdNoSecondCheckIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/CustomersSuppliersDbl/TaxIdNoSecondCheckResponse" name="TaxIdNoSecondCheckOut" message="tns:TaxIdNoSecondCheckOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/CustomersSuppliersDbl/TaxIdNoSecondCheckTBSoapFaultFault" name="TBSoapFaultFault" message="tns:CustomersSuppliersDbl_TaxIdNoSecondCheck_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FiscalCodeCheck">
      <wsdl:input wsaw:Action="#FiscalCodeCheck" name="FiscalCodeCheckIn" message="tns:FiscalCodeCheckIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/CustomersSuppliersDbl/FiscalCodeCheckResponse" name="FiscalCodeCheckOut" message="tns:FiscalCodeCheckOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/CustomersSuppliersDbl/FiscalCodeCheckTBSoapFaultFault" name="TBSoapFaultFault" message="tns:CustomersSuppliersDbl_FiscalCodeCheck_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistCustForTaxIdOrFiscalCode">
      <wsdl:input wsaw:Action="#ExistCustForTaxIdOrFiscalCode" name="ExistCustForTaxIdOrFiscalCodeIn" message="tns:ExistCustForTaxIdOrFiscalCodeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/CustomersSuppliersDbl/ExistCustForTaxIdOrFiscalCodeResponse" name="ExistCustForTaxIdOrFiscalCodeOut" message="tns:ExistCustForTaxIdOrFiscalCodeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/CustomersSuppliersDbl/ExistCustForTaxIdOrFiscalCodeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:CustomersSuppliersDbl_ExistCustForTaxIdOrFiscalCode_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomersSuppliersDblSoap" type="tns:CustomersSuppliersDbl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TaxIdNoCheck">
      <soap:operation soapAction="#TaxIdNoCheck" style="document" />
      <wsdl:input name="TaxIdNoCheckIn">
        <soap:header message="tns:TaxIdNoCheckIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TaxIdNoCheckOut">
        <soap:header message="tns:TaxIdNoCheckOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckForTaxIdNoWithCountryCode">
      <soap:operation soapAction="#CheckForTaxIdNoWithCountryCode" style="document" />
      <wsdl:input name="CheckForTaxIdNoWithCountryCodeIn">
        <soap:header message="tns:CheckForTaxIdNoWithCountryCodeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CheckForTaxIdNoWithCountryCodeOut">
        <soap:header message="tns:CheckForTaxIdNoWithCountryCodeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TaxIdNoSecondCheck">
      <soap:operation soapAction="#TaxIdNoSecondCheck" style="document" />
      <wsdl:input name="TaxIdNoSecondCheckIn">
        <soap:header message="tns:TaxIdNoSecondCheckIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TaxIdNoSecondCheckOut">
        <soap:header message="tns:TaxIdNoSecondCheckOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FiscalCodeCheck">
      <soap:operation soapAction="#FiscalCodeCheck" style="document" />
      <wsdl:input name="FiscalCodeCheckIn">
        <soap:header message="tns:FiscalCodeCheckIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FiscalCodeCheckOut">
        <soap:header message="tns:FiscalCodeCheckOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExistCustForTaxIdOrFiscalCode">
      <soap:operation soapAction="#ExistCustForTaxIdOrFiscalCode" style="document" />
      <wsdl:input name="ExistCustForTaxIdOrFiscalCodeIn">
        <soap:header message="tns:ExistCustForTaxIdOrFiscalCodeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ExistCustForTaxIdOrFiscalCodeOut">
        <soap:header message="tns:ExistCustForTaxIdOrFiscalCodeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomersSuppliersDbl">
    <wsdl:port name="CustomersSuppliersDblSoap" binding="tns:CustomersSuppliersDblSoap">
      <soap:address location="http://usr-bruniluca:10000/ERP.CustomersSuppliers.Dbl/CustomersSuppliersDbl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>