TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/ERPCustomersSuppliersDbl/ERP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.ExistCustForTaxIdOrFiscalCode" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.ExistCustForTaxIdOrFiscalCode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="taxIdNumber" nillable="true" type="xs:string" />
  <xs:element name="FiscalCode" nillable="true" type="xs:string" />
  <xs:element name="return" type="xs:boolean" />
</xs:schema>