TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/ErpPricePoliciesComponents/ERP10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Microarea.Web.Services.DefaultSalePrices_SetCurrencyInfo" elementFormDefault="qualified" targetNamespace="urn:Microarea.Web.Services.DefaultSalePrices_SetCurrencyInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="handle" type="xs:int" />
  <xs:element name="Currency" nillable="true" type="xs:string" />
  <xs:element name="FixingDate" nillable="true" type="xs:string" />
  <xs:element name="Fixing" type="xs:double" />
  <xs:element name="FixingIsManual" type="xs:boolean" />
</xs:schema>