TaskBuilderNet/Microarea.TaskBuilderNet.Core/Service References/ErpPricePoliciesComponents/PricePoliciesComponents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:Microarea.Web.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PricePoliciesComponents" targetNamespace="urn:Microarea.Web.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Microarea.Web.Services/Imports">
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd1" namespace="urn:Microarea.Web.Services.ItemPriceFromPriceListToDate" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd2" namespace="urn:Microarea.Web.Services" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd4" namespace="urn:Microarea.Web.Services.DefaultSalePrices_Create" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd5" namespace="urn:Microarea.Web.Services.DefaultSalePrices_Dispose" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd6" namespace="urn:Microarea.Web.Services.DefaultSalePrices_SetValidityDate" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd7" namespace="urn:Microarea.Web.Services.DefaultSalePrices_SetDocumentDate" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd8" namespace="urn:Microarea.Web.Services.DefaultSalePrices_SetCurrencyInfo" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd9" namespace="urn:Microarea.Web.Services.DefaultSalePrices_SetNetOfTax" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd10" namespace="urn:Microarea.Web.Services.DefaultSalePrices_SetPriceList" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd11" namespace="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultPrice" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd12" namespace="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountString" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd13" namespace="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" />
      <xsd:import schemaLocation="http://usr-squiccimar1:10000/ERP.PricePolicies.Components?xsd=xsd14" namespace="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPerc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ItemPriceFromPriceListToDateIn">
    <wsdl:part xmlns:q1="urn:Microarea.Web.Services.ItemPriceFromPriceListToDate" name="tPriceList" element="q1:tPriceList" />
    <wsdl:part xmlns:q2="urn:Microarea.Web.Services.ItemPriceFromPriceListToDate" name="item" element="q2:item" />
    <wsdl:part xmlns:q3="urn:Microarea.Web.Services.ItemPriceFromPriceListToDate" name="quantity" element="q3:quantity" />
    <wsdl:part xmlns:q4="urn:Microarea.Web.Services.ItemPriceFromPriceListToDate" name="date" element="q4:date" />
  </wsdl:message>
  <wsdl:message name="ItemPriceFromPriceListToDateIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="ItemPriceFromPriceListToDateOut">
    <wsdl:part xmlns:q5="urn:Microarea.Web.Services.ItemPriceFromPriceListToDate" name="return" element="q5:return" />
    <wsdl:part xmlns:q6="urn:Microarea.Web.Services.ItemPriceFromPriceListToDate" name="tPriceList" element="q6:tPriceList" />
    <wsdl:part xmlns:q7="urn:Microarea.Web.Services.ItemPriceFromPriceListToDate" name="item" element="q7:item" />
    <wsdl:part xmlns:q8="urn:Microarea.Web.Services.ItemPriceFromPriceListToDate" name="quantity" element="q8:quantity" />
    <wsdl:part xmlns:q9="urn:Microarea.Web.Services.ItemPriceFromPriceListToDate" name="date" element="q9:date" />
  </wsdl:message>
  <wsdl:message name="ItemPriceFromPriceListToDateOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_ItemPriceFromPriceListToDate_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q10:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_CreateIn" />
  <wsdl:message name="DefaultSalePrices_CreateIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_CreateOut">
    <wsdl:part xmlns:q11="urn:Microarea.Web.Services.DefaultSalePrices_Create" name="return" element="q11:return" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_CreateOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_DefaultSalePrices_Create_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q12:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_DisposeIn">
    <wsdl:part xmlns:q13="urn:Microarea.Web.Services.DefaultSalePrices_Dispose" name="handle" element="q13:handle" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_DisposeIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_DisposeOut">
    <wsdl:part xmlns:q14="urn:Microarea.Web.Services.DefaultSalePrices_Dispose" name="return" element="q14:return" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_DisposeOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_DefaultSalePrices_Dispose_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q15:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetValidityDateIn">
    <wsdl:part xmlns:q16="urn:Microarea.Web.Services.DefaultSalePrices_SetValidityDate" name="handle" element="q16:handle" />
    <wsdl:part xmlns:q17="urn:Microarea.Web.Services.DefaultSalePrices_SetValidityDate" name="ValidityDate" element="q17:ValidityDate" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetValidityDateIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetValidityDateOut" />
  <wsdl:message name="DefaultSalePrices_SetValidityDateOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_DefaultSalePrices_SetValidityDate_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q18:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetDocumentDateIn">
    <wsdl:part xmlns:q19="urn:Microarea.Web.Services.DefaultSalePrices_SetDocumentDate" name="handle" element="q19:handle" />
    <wsdl:part xmlns:q20="urn:Microarea.Web.Services.DefaultSalePrices_SetDocumentDate" name="DocumentDate" element="q20:DocumentDate" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetDocumentDateIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetDocumentDateOut" />
  <wsdl:message name="DefaultSalePrices_SetDocumentDateOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_DefaultSalePrices_SetDocumentDate_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q21:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetCurrencyInfoIn">
    <wsdl:part xmlns:q22="urn:Microarea.Web.Services.DefaultSalePrices_SetCurrencyInfo" name="handle" element="q22:handle" />
    <wsdl:part xmlns:q23="urn:Microarea.Web.Services.DefaultSalePrices_SetCurrencyInfo" name="Currency" element="q23:Currency" />
    <wsdl:part xmlns:q24="urn:Microarea.Web.Services.DefaultSalePrices_SetCurrencyInfo" name="FixingDate" element="q24:FixingDate" />
    <wsdl:part xmlns:q25="urn:Microarea.Web.Services.DefaultSalePrices_SetCurrencyInfo" name="Fixing" element="q25:Fixing" />
    <wsdl:part xmlns:q26="urn:Microarea.Web.Services.DefaultSalePrices_SetCurrencyInfo" name="FixingIsManual" element="q26:FixingIsManual" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetCurrencyInfoIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetCurrencyInfoOut" />
  <wsdl:message name="DefaultSalePrices_SetCurrencyInfoOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_DefaultSalePrices_SetCurrencyInfo_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q27:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetNetOfTaxIn">
    <wsdl:part xmlns:q28="urn:Microarea.Web.Services.DefaultSalePrices_SetNetOfTax" name="handle" element="q28:handle" />
    <wsdl:part xmlns:q29="urn:Microarea.Web.Services.DefaultSalePrices_SetNetOfTax" name="NetOfTax" element="q29:NetOfTax" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetNetOfTaxIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetNetOfTaxOut" />
  <wsdl:message name="DefaultSalePrices_SetNetOfTaxOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_DefaultSalePrices_SetNetOfTax_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q30:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetPriceListIn">
    <wsdl:part xmlns:q31="urn:Microarea.Web.Services.DefaultSalePrices_SetPriceList" name="handle" element="q31:handle" />
    <wsdl:part xmlns:q32="urn:Microarea.Web.Services.DefaultSalePrices_SetPriceList" name="PriceList" element="q32:PriceList" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetPriceListIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_SetPriceListOut" />
  <wsdl:message name="DefaultSalePrices_SetPriceListOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_DefaultSalePrices_SetPriceList_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q33:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultPriceIn">
    <wsdl:part xmlns:q34="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultPrice" name="handle" element="q34:handle" />
    <wsdl:part xmlns:q35="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultPrice" name="Customer" element="q35:Customer" />
    <wsdl:part xmlns:q36="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultPrice" name="Item" element="q36:Item" />
    <wsdl:part xmlns:q37="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultPrice" name="UoM" element="q37:UoM" />
    <wsdl:part xmlns:q38="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultPrice" name="Quantity" element="q38:Quantity" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultPriceIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultPriceOut">
    <wsdl:part xmlns:q39="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultPrice" name="return" element="q39:return" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultPriceOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_DefaultSalePrices_GetDefaultPrice_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q40="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q40:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountStringIn">
    <wsdl:part xmlns:q41="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountString" name="handle" element="q41:handle" />
    <wsdl:part xmlns:q42="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountString" name="Customer" element="q42:Customer" />
    <wsdl:part xmlns:q43="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountString" name="Item" element="q43:Item" />
    <wsdl:part xmlns:q44="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountString" name="UoM" element="q44:UoM" />
    <wsdl:part xmlns:q45="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountString" name="Quantity" element="q45:Quantity" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountStringIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountStringOut">
    <wsdl:part xmlns:q46="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountString" name="return" element="q46:return" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountStringOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_DefaultSalePrices_GetDefaultDiscountString_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q47="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q47:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountPercExIn">
    <wsdl:part xmlns:q48="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="handle" element="q48:handle" />
    <wsdl:part xmlns:q49="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="Customer" element="q49:Customer" />
    <wsdl:part xmlns:q50="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="Item" element="q50:Item" />
    <wsdl:part xmlns:q51="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="UoM" element="q51:UoM" />
    <wsdl:part xmlns:q52="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="Quantity" element="q52:Quantity" />
    <wsdl:part xmlns:q53="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="aDiscount1" element="q53:aDiscount1" />
    <wsdl:part xmlns:q54="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="aDiscount2" element="q54:aDiscount2" />
    <wsdl:part xmlns:q55="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="aDiscountFormula" element="q55:aDiscountFormula" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountPercExIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountPercExOut">
    <wsdl:part xmlns:q56="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="return" element="q56:return" />
    <wsdl:part xmlns:q57="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="aDiscount1" element="q57:aDiscount1" />
    <wsdl:part xmlns:q58="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="aDiscount2" element="q58:aDiscount2" />
    <wsdl:part xmlns:q59="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPercEx" name="aDiscountFormula" element="q59:aDiscountFormula" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountPercExOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_DefaultSalePrices_GetDefaultDiscountPercEx_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q60="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q60:TBSoapFault" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountPercIn">
    <wsdl:part xmlns:q61="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPerc" name="handle" element="q61:handle" />
    <wsdl:part xmlns:q62="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPerc" name="Customer" element="q62:Customer" />
    <wsdl:part xmlns:q63="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPerc" name="Item" element="q63:Item" />
    <wsdl:part xmlns:q64="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPerc" name="UoM" element="q64:UoM" />
    <wsdl:part xmlns:q65="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPerc" name="Quantity" element="q65:Quantity" />
    <wsdl:part xmlns:q66="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPerc" name="aDiscount1" element="q66:aDiscount1" />
    <wsdl:part xmlns:q67="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPerc" name="aDiscount2" element="q67:aDiscount2" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountPercIn_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountPercOut">
    <wsdl:part xmlns:q68="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPerc" name="aDiscount1" element="q68:aDiscount1" />
    <wsdl:part xmlns:q69="urn:Microarea.Web.Services.DefaultSalePrices_GetDefaultDiscountPerc" name="aDiscount2" element="q69:aDiscount2" />
  </wsdl:message>
  <wsdl:message name="DefaultSalePrices_GetDefaultDiscountPercOut_Headers">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:message name="PricePoliciesComponents_DefaultSalePrices_GetDefaultDiscountPerc_TBSoapFaultFault_FaultMessage">
    <wsdl:part xmlns:q70="http://schemas.datacontract.org/2004/07/Microarea.TaskBuilderNet.Core.SoapCall" name="detail" element="q70:TBSoapFault" />
  </wsdl:message>
  <wsdl:portType name="PricePoliciesComponents">
    <wsdl:operation name="ItemPriceFromPriceListToDate">
      <wsdl:input wsaw:Action="#ItemPriceFromPriceListToDate" name="ItemPriceFromPriceListToDateIn" message="tns:ItemPriceFromPriceListToDateIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/ItemPriceFromPriceListToDateResponse" name="ItemPriceFromPriceListToDateOut" message="tns:ItemPriceFromPriceListToDateOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/ItemPriceFromPriceListToDateTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_ItemPriceFromPriceListToDate_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_Create">
      <wsdl:input wsaw:Action="#DefaultSalePrices_Create" name="DefaultSalePrices_CreateIn" message="tns:DefaultSalePrices_CreateIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_CreateResponse" name="DefaultSalePrices_CreateOut" message="tns:DefaultSalePrices_CreateOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_CreateTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_DefaultSalePrices_Create_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_Dispose">
      <wsdl:input wsaw:Action="#DefaultSalePrices_Dispose" name="DefaultSalePrices_DisposeIn" message="tns:DefaultSalePrices_DisposeIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_DisposeResponse" name="DefaultSalePrices_DisposeOut" message="tns:DefaultSalePrices_DisposeOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_DisposeTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_DefaultSalePrices_Dispose_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_SetValidityDate">
      <wsdl:input wsaw:Action="#DefaultSalePrices_SetValidityDate" name="DefaultSalePrices_SetValidityDateIn" message="tns:DefaultSalePrices_SetValidityDateIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_SetValidityDateResponse" name="DefaultSalePrices_SetValidityDateOut" message="tns:DefaultSalePrices_SetValidityDateOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_SetValidityDateTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_DefaultSalePrices_SetValidityDate_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_SetDocumentDate">
      <wsdl:input wsaw:Action="#DefaultSalePrices_SetDocumentDate" name="DefaultSalePrices_SetDocumentDateIn" message="tns:DefaultSalePrices_SetDocumentDateIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_SetDocumentDateResponse" name="DefaultSalePrices_SetDocumentDateOut" message="tns:DefaultSalePrices_SetDocumentDateOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_SetDocumentDateTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_DefaultSalePrices_SetDocumentDate_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_SetCurrencyInfo">
      <wsdl:input wsaw:Action="#DefaultSalePrices_SetCurrencyInfo" name="DefaultSalePrices_SetCurrencyInfoIn" message="tns:DefaultSalePrices_SetCurrencyInfoIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_SetCurrencyInfoResponse" name="DefaultSalePrices_SetCurrencyInfoOut" message="tns:DefaultSalePrices_SetCurrencyInfoOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_SetCurrencyInfoTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_DefaultSalePrices_SetCurrencyInfo_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_SetNetOfTax">
      <wsdl:input wsaw:Action="#DefaultSalePrices_SetNetOfTax" name="DefaultSalePrices_SetNetOfTaxIn" message="tns:DefaultSalePrices_SetNetOfTaxIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_SetNetOfTaxResponse" name="DefaultSalePrices_SetNetOfTaxOut" message="tns:DefaultSalePrices_SetNetOfTaxOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_SetNetOfTaxTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_DefaultSalePrices_SetNetOfTax_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_SetPriceList">
      <wsdl:input wsaw:Action="#DefaultSalePrices_SetPriceList" name="DefaultSalePrices_SetPriceListIn" message="tns:DefaultSalePrices_SetPriceListIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_SetPriceListResponse" name="DefaultSalePrices_SetPriceListOut" message="tns:DefaultSalePrices_SetPriceListOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_SetPriceListTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_DefaultSalePrices_SetPriceList_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_GetDefaultPrice">
      <wsdl:input wsaw:Action="#DefaultSalePrices_GetDefaultPrice" name="DefaultSalePrices_GetDefaultPriceIn" message="tns:DefaultSalePrices_GetDefaultPriceIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_GetDefaultPriceResponse" name="DefaultSalePrices_GetDefaultPriceOut" message="tns:DefaultSalePrices_GetDefaultPriceOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_GetDefaultPriceTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_DefaultSalePrices_GetDefaultPrice_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_GetDefaultDiscountString">
      <wsdl:input wsaw:Action="#DefaultSalePrices_GetDefaultDiscountString" name="DefaultSalePrices_GetDefaultDiscountStringIn" message="tns:DefaultSalePrices_GetDefaultDiscountStringIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_GetDefaultDiscountStringResponse" name="DefaultSalePrices_GetDefaultDiscountStringOut" message="tns:DefaultSalePrices_GetDefaultDiscountStringOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_GetDefaultDiscountStringTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_DefaultSalePrices_GetDefaultDiscountString_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_GetDefaultDiscountPercEx">
      <wsdl:input wsaw:Action="#DefaultSalePrices_GetDefaultDiscountPercEx" name="DefaultSalePrices_GetDefaultDiscountPercExIn" message="tns:DefaultSalePrices_GetDefaultDiscountPercExIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_GetDefaultDiscountPercExResponse" name="DefaultSalePrices_GetDefaultDiscountPercExOut" message="tns:DefaultSalePrices_GetDefaultDiscountPercExOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_GetDefaultDiscountPercExTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_DefaultSalePrices_GetDefaultDiscountPercEx_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_GetDefaultDiscountPerc">
      <wsdl:input wsaw:Action="#DefaultSalePrices_GetDefaultDiscountPerc" name="DefaultSalePrices_GetDefaultDiscountPercIn" message="tns:DefaultSalePrices_GetDefaultDiscountPercIn" />
      <wsdl:output wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_GetDefaultDiscountPercResponse" name="DefaultSalePrices_GetDefaultDiscountPercOut" message="tns:DefaultSalePrices_GetDefaultDiscountPercOut" />
      <wsdl:fault wsaw:Action="urn:Microarea.Web.Services/PricePoliciesComponents/DefaultSalePrices_GetDefaultDiscountPercTBSoapFaultFault" name="TBSoapFaultFault" message="tns:PricePoliciesComponents_DefaultSalePrices_GetDefaultDiscountPerc_TBSoapFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PricePoliciesComponentsSoap" type="tns:PricePoliciesComponents">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ItemPriceFromPriceListToDate">
      <soap:operation soapAction="#ItemPriceFromPriceListToDate" style="document" />
      <wsdl:input name="ItemPriceFromPriceListToDateIn">
        <soap:header message="tns:ItemPriceFromPriceListToDateIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ItemPriceFromPriceListToDateOut">
        <soap:header message="tns:ItemPriceFromPriceListToDateOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_Create">
      <soap:operation soapAction="#DefaultSalePrices_Create" style="document" />
      <wsdl:input name="DefaultSalePrices_CreateIn">
        <soap:header message="tns:DefaultSalePrices_CreateIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DefaultSalePrices_CreateOut">
        <soap:header message="tns:DefaultSalePrices_CreateOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_Dispose">
      <soap:operation soapAction="#DefaultSalePrices_Dispose" style="document" />
      <wsdl:input name="DefaultSalePrices_DisposeIn">
        <soap:header message="tns:DefaultSalePrices_DisposeIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DefaultSalePrices_DisposeOut">
        <soap:header message="tns:DefaultSalePrices_DisposeOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_SetValidityDate">
      <soap:operation soapAction="#DefaultSalePrices_SetValidityDate" style="document" />
      <wsdl:input name="DefaultSalePrices_SetValidityDateIn">
        <soap:header message="tns:DefaultSalePrices_SetValidityDateIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DefaultSalePrices_SetValidityDateOut">
        <soap:header message="tns:DefaultSalePrices_SetValidityDateOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_SetDocumentDate">
      <soap:operation soapAction="#DefaultSalePrices_SetDocumentDate" style="document" />
      <wsdl:input name="DefaultSalePrices_SetDocumentDateIn">
        <soap:header message="tns:DefaultSalePrices_SetDocumentDateIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DefaultSalePrices_SetDocumentDateOut">
        <soap:header message="tns:DefaultSalePrices_SetDocumentDateOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_SetCurrencyInfo">
      <soap:operation soapAction="#DefaultSalePrices_SetCurrencyInfo" style="document" />
      <wsdl:input name="DefaultSalePrices_SetCurrencyInfoIn">
        <soap:header message="tns:DefaultSalePrices_SetCurrencyInfoIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DefaultSalePrices_SetCurrencyInfoOut">
        <soap:header message="tns:DefaultSalePrices_SetCurrencyInfoOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_SetNetOfTax">
      <soap:operation soapAction="#DefaultSalePrices_SetNetOfTax" style="document" />
      <wsdl:input name="DefaultSalePrices_SetNetOfTaxIn">
        <soap:header message="tns:DefaultSalePrices_SetNetOfTaxIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DefaultSalePrices_SetNetOfTaxOut">
        <soap:header message="tns:DefaultSalePrices_SetNetOfTaxOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_SetPriceList">
      <soap:operation soapAction="#DefaultSalePrices_SetPriceList" style="document" />
      <wsdl:input name="DefaultSalePrices_SetPriceListIn">
        <soap:header message="tns:DefaultSalePrices_SetPriceListIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DefaultSalePrices_SetPriceListOut">
        <soap:header message="tns:DefaultSalePrices_SetPriceListOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_GetDefaultPrice">
      <soap:operation soapAction="#DefaultSalePrices_GetDefaultPrice" style="document" />
      <wsdl:input name="DefaultSalePrices_GetDefaultPriceIn">
        <soap:header message="tns:DefaultSalePrices_GetDefaultPriceIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DefaultSalePrices_GetDefaultPriceOut">
        <soap:header message="tns:DefaultSalePrices_GetDefaultPriceOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_GetDefaultDiscountString">
      <soap:operation soapAction="#DefaultSalePrices_GetDefaultDiscountString" style="document" />
      <wsdl:input name="DefaultSalePrices_GetDefaultDiscountStringIn">
        <soap:header message="tns:DefaultSalePrices_GetDefaultDiscountStringIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DefaultSalePrices_GetDefaultDiscountStringOut">
        <soap:header message="tns:DefaultSalePrices_GetDefaultDiscountStringOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_GetDefaultDiscountPercEx">
      <soap:operation soapAction="#DefaultSalePrices_GetDefaultDiscountPercEx" style="document" />
      <wsdl:input name="DefaultSalePrices_GetDefaultDiscountPercExIn">
        <soap:header message="tns:DefaultSalePrices_GetDefaultDiscountPercExIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DefaultSalePrices_GetDefaultDiscountPercExOut">
        <soap:header message="tns:DefaultSalePrices_GetDefaultDiscountPercExOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DefaultSalePrices_GetDefaultDiscountPerc">
      <soap:operation soapAction="#DefaultSalePrices_GetDefaultDiscountPerc" style="document" />
      <wsdl:input name="DefaultSalePrices_GetDefaultDiscountPercIn">
        <soap:header message="tns:DefaultSalePrices_GetDefaultDiscountPercIn_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DefaultSalePrices_GetDefaultDiscountPercOut">
        <soap:header message="tns:DefaultSalePrices_GetDefaultDiscountPercOut_Headers" part="HeaderInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TBSoapFaultFault">
        <soap:fault use="literal" name="TBSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PricePoliciesComponents">
    <wsdl:port name="PricePoliciesComponentsSoap" binding="tns:PricePoliciesComponentsSoap">
      <soap:address location="http://usr-squiccimar1:10000/ERP.PricePolicies.Components/PricePoliciesComponents" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>