TaskBuilderNet/Microarea.TaskBuilderNet.Core/Web References/tbLoaderLauncher/TbLoaderLauncher.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microarea.it/TBLoaderLauncher/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microarea.it/TBLoaderLauncher/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microarea.it/TBLoaderLauncher/">
      <s:element name="ExecuteUsingPsExec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psexecPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arguments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remoteComputerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteUsingPsExecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteUsingPsExecResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteUsingPsExecSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteUsingPsExec" />
  </wsdl:message>
  <wsdl:message name="ExecuteUsingPsExecSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteUsingPsExecResponse" />
  </wsdl:message>
  <wsdl:portType name="TBLoaderLauncherSoap">
    <wsdl:operation name="ExecuteUsingPsExec">
      <wsdl:input message="tns:ExecuteUsingPsExecSoapIn" />
      <wsdl:output message="tns:ExecuteUsingPsExecSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TBLoaderLauncherSoap" type="tns:TBLoaderLauncherSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteUsingPsExec">
      <soap:operation soapAction="http://microarea.it/TBLoaderLauncher/ExecuteUsingPsExec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TBLoaderLauncherSoap12" type="tns:TBLoaderLauncherSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteUsingPsExec">
      <soap12:operation soapAction="http://microarea.it/TBLoaderLauncher/ExecuteUsingPsExec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TBLoaderLauncher">
    <wsdl:port name="TBLoaderLauncherSoap" binding="tns:TBLoaderLauncherSoap">
      <soap:address location="http://localhost/Development_X/TBLoaderLauncher/TbLoaderLauncher.asmx" />
    </wsdl:port>
    <wsdl:port name="TBLoaderLauncherSoap12" binding="tns:TBLoaderLauncherSoap12">
      <soap12:address location="http://localhost/Development_X/TBLoaderLauncher/TbLoaderLauncher.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>